@charset "UTF-8";

/* Author: Kumisoft - Cristian Santander (@crist0sant0) */
/* Project name: Vincubo 23/04/2014 */ 
@grey:#EFEFEF;
@grey2: #bbbbbb;
@grey3: #686A6B;
@grey4: #808080;
@grey5: #B3B3B3;
@orange: #FF7F5E;
@green: #39B54A;
@blue: #29ABE2;
@font-face {
    font-family: "opensans";
    src: url('../font/opensans/OpenSans-Regular.eot');
    src: url('../font/myriadpro/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/myriadpro/OpenSans-Regular.woff') format('woff'),
         url('../font/myriadpro/OpenSans-Regular.ttf') format('truetype'),
         url('../font/myriadpro/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: "opensans-light";
    src: url('../font/opensans/OpenSans-Light.eot');
    src: url('../font/myriadpro/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../font/myriadpro/OpenSans-Light.woff') format('woff'),
         url('../font/myriadpro/OpenSans-Light.ttf') format('truetype'),
         url('../font/myriadpro/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: "opensans-semibold";
    src: url('../font/opensans/OpenSans-Semibold.eot');
    src: url('../font/myriadpro/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/myriadpro/OpenSans-Semibold.woff') format('woff'),
         url('../font/myriadpro/OpenSans-Semibold.ttf') format('truetype'),
         url('../font/myriadpro/OpenSans-Semibold.svg#gothic') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   html,body,.container
{
    height:100%;
}
body{
	font-family: "opensans-light", sans-serif;
	font-size: 12px;
}

/* BOOTSTRAP  ARREGLOS */
section .sidebar.col-xs-3, .main.col-xs-9
{
    display: table-cell;
    float: none; /* thanks baxxabit */
    vertical-align: top;
}

.container{width: 1310px;}
.btn{text-transform: uppercase;
font-size: 12px; color: white; border-radius: 0;
padding:10px 15px;
text-align: left;}
/*FIN DE BOOTSTRAP ARREGLOS*/
.logo{text-align: center;
	img{
		margin-top: 35px;
		margin-bottom: 25px;
	}
}
.backgrey{
	background: @grey;
}
.bordergrey{
	border-bottom: 2px solid @grey2;
}
nav{
	font-size: 17px;
	text-transform: uppercase;
	ul.nav-tabs{
		li{
			a{
				color: @grey3;
				span{
					font-family: "opensans-semibold", sans-serif;
				}
				.circle{
					display: inline-block;
					border: 1px solid @grey2;
				    border-radius: 10px;
				    margin-left: 10px;
				    padding: 5px 1px;
				    width: 16px;
				    background: white;
				}
			}
			a:hover, a:focus{
				background-color: @grey2;
				color: white;
				.circle{
					background-color: white;
					border-color: #FF7F5E;
					.caret{
					}
				}
			}
		}
	}
}
.nav-right{
	position: absolute;
    right: 0;
    top: 0;
    padding: 5px 0;
    
    ul.nav-tabs{
    	border-bottom: 0;
    	li:first-child{
    		border-left: 1px solid @grey2;
    	}
    	li{
			a{
				padding: 5px 10px;
				color: @grey3;
				text-transform: none;
			}
			a:hover,a:focus{
				background: @grey2;
				color: white;
				text-decoration: none;
			}
		}
		li.active{
			a{
				background: @grey4;
				color: white;
			}
			a:hover,a:focus{
				background: transparent;
				color: @grey3;
			}
		}
	}

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: @grey2;
				color: white;
				border-color: transparent;
				.circle{
					background-color: white;
					border-color: #FF7F5E;
					.caret{
					}
				}
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.caret{
	 border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #8F8F8F;
}
.btn-grey{
	background: @grey4;
}
.btn-orange{
	background: @orange;
}
.btn-ogrey{
	background: transparent;
	border: 1px solid @orange;
	color: @orange;
}

.black{
	i{color: black;}
}
.sidebar{
	.white{background: white;}
	.shadow{
		box-shadow: 0 7px 6px -6px #666666;
		position: relative;
		z-index: 5;
	}
	border-right: 1px solid @grey2;
	div.row{padding-top: 10px;}
	form.form-horizontal{ 
		label{ text-transform: uppercase; padding: 0; line-height: 2; text-align: right;}
		label.title{text-align: center;}
		label.minus{text-transform: none;}
	}
	.line{height: 1px;width: 100%;background-color: @grey2;margin: 5px 0;}
	.backgrey{}
	
}
.form-group{margin-top: 15px;}
.mr14{
	margin-left: 14px;
}
.form-control {
	border-radius: 10px;
	font-size: 12px;
	height: 28px;
	color:@orange;
}
.inputClass, .inputClass2 {
	width: 100%
}
.noUi-horizontal .noUi-handle {
    height: 15px;
    left: -10px;
    top: -6px;
    width: 15px;
}
.noUi-handle {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 16px;
    box-shadow: 0 0 1px #FFFFFF inset, 0 1px 7px #EBEBEB inset, 0 3px 6px -3px #BBBBBB;
    cursor: default;
}
.noUi-horizontal {
    height: 6px;
}
.noUi-background {
	background: white;
}
.noUi-target {
    border: 0;
}
.noUi-connect {
    background: none repeat scroll 0 0 @orange;
    }
.noUi-handle:before, .noUi-handle:after {
    background: none repeat scroll 0 0 #BBBBBB;
    content: "";
    display: block;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 1px;
}
.noUi-handle:after {
    left: 8px;
}
.min,.max{
	color: @grey3;
	margin-top:5px; 
}
.rangeMargin{margin-top: 8px;}
.form-group{
	.range{
		margin-top: 3px;
	}
	.noUi-target.noUi-connect {
    width: 76%;
    display: inline-block;
    margin-left: 10px;
	}
	.min,.max{display: inline-block;
		margin-top: 0;
		color: #333333;}
}


.vista{
	border: 1px solid @grey2;
	border-radius: 0 0px 10px 10px;
	box-shadow: 4px 1px 5px -1px @grey2;
	h3{
		font-family: "opensans-light", sans-serif;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		color: @grey3;
		margin-bottom: 10px;
	}
	.line-title{
		border-bottom: 2px solid @orange;
		margin-bottom: 10px;
	}
	.chart{
		label{
				color: black;
				font-size: 12px;
				text-transform: uppercase;
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
		.info{

			display: inline-block;
			vertical-align: middle;
			ul{list-style: none;margin: 0;padding: 0;
				li{margin: 0;}
			}
			p{
				color: #808080;
				font-size: 12px;
				text-transform: uppercase;
				display: inline-block;
				margin: 0;
				vertical-align: text-bottom;
			}
			.circle{
				display: inline-block;
				background: #808080;
				border:1px solid #808080;
				width: 15px;
				height: 15px;
				border-radius: 15px;

				.circle{
					background: #ffffff;
					border:1px solid #808080;
					width: 7px;
					height: 7px;
				border-radius: 6px;
				margin: 3px;
				}
			}
			.grey2{background-color: @grey2;}
			.grey3{background-color: @grey;}
			.white{background-color: white;}
		}
		.orange{
			.orange{
				background-color: @orange;
			}

		}
		.dona{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.margin-off{
	margin: 0;
	padding: 0;
}
.interna{
	.br{
		border-right: 1px solid @grey2;
	}
	margin-top: 20px;
	.big-center{
		display: inline-block;
		margin-right: 18px;
		p{
			text-align: center;
			font-size: 10px;
			margin: 0;
			line-height: 1;
		}
		p.big{
				font-size: 40px;
				margin-top: 10px;
			}
	}
	.clean{
		margin-top: 10px;
	}
	.form-horizontal {
		margin-right: 0;
		margin-left: 0;
		text-align: center;
		label{
			color: black;
			text-transform: uppercase;
			display: inline-block;
		}
		select.form-control{display: inline-block;
			margin: 0 10px;
    width: 160px;}
	}
	.btn{margin: 0 4px;}
	ul.nav-tabs{
		display: inline-block;
		vertical-align: middle;
		border-bottom: none;
		li{
			a{
				color: @grey3;
				padding: 10px;
				span{
					font-family: "opensans-semibold", sans-serif;
				}
				.circle{
					display: inline-block;
					border: 1px solid @grey2;
				    border-radius: 10px;
				    margin-left: 10px;
				    padding: 5px 1px;
				    width: 16px;
				    background: white;
				    .caret{
						margin-left: 0;
					}
				}
			}
			a:hover, a:focus{
				background-color: @grey2;
				color: white;
				.circle{
					background-color: white;
					border-color: #FF7F5E;
					.caret{
						margin-left: 0;
					}
				}
			}
		}
	}
}
.grafico{
	h3{
		font-size: 18px;
		color: @grey3;
		margin-bottom: 0;
	}
	p{
		font-size: 14px;
		color: @grey3;
	}
	p.orange{
		text-transform: uppercase;
		color: @orange;
	}
	.hl{
		border-right: 1px solid @grey2;
	}
	.form-horizontal {
		margin-right: 0;
		margin-left: 0;
		text-align: center;
		label{
			color: black;
			text-transform: uppercase;
			display: inline-block;
		}
		select.form-control{display: inline-block;
			margin: 0 10px;
    width: 160px;}
	}
}
.table{
	padding: 10px 20px;
	background: @grey;
	border: 1px solid @grey2;
	border-radius: 15px;
	margin: 10px auto 20px;
	h3{
		text-transform: uppercase;
		color: grey2;
		font-size: 14px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.green{
		color: @green;
	}
	.blue{
		color: @blue;
	}
	.orange{color: red;}
	table{
		font-size: 12px;
		border: 0;
		tbody,tfoot,thead{
			tr{
				td{
					border: 0;
					border-bottom: 1px solid @grey2;
					border-right: 1px solid @grey2;
					background-color: @grey;
					color: @grey3;
					a{color: @orange}
					a:hover,a:focus{
						color: @orange;
					}
				}
				td:last-child{
					border-right:none;
				}
			}
		}
		tr.head{
			td{
			border-right: none;
			}
		}
		.lineblue,.linegreen{
			background: @blue;
			width: 180px;
			height: 4px;
			margin: 5px 0;
		}
		.linegreen{
			background: @green;
		}

	}
}
.propiedad{
	margin-top: 40px;
	table{
		margin-bottom: 0;
		tr{
			td{
				padding: 2px 8px;
			}
		}
	}
	.info{
		border-bottom: 1px solid @grey2;
		padding: 10px 0;
		margin: 0;
		background: white;
		a{
			color: @orange;
			font-size: 22px;
			span{font-size: 14px;}
			text-align:left;
			display:block;
		}
		a:hover,a:focus{
			color: @orange;
		}
		p{
			text-align:left;
			font-size: 14px;
		}
	}
	.detalles{
		border: 1px solid @grey2;
		padding: 0;
		background: white;
		display: table;
		border-radius: 10px;
		.borderleft{border-left: 1px solid @grey2;}
		.border{

			border-bottom: 1px solid @grey2;
			display: inline-block;
    		width: 100%;
		}
		div.rowo{
			display: table-row;
			border-bottom: 1px solid @grey2;
		}
		.box{
			border-left: 1px solid @grey2;
			.big{
				img,p{display:inline-block; }
				p{font-size: 20px;margin: 0;color: @grey3; text-align: center;}
			}
			.small{
				p{font-size: 10px;text-align: center;}
			}
			.dire{
				padding: 5px;
				i{color:@orange;float: left;
    font-size: 18px;
    margin-left: -12px; display: inline-block;}
				p{display: inline-block;margin: 0;}
			}
		}
	}
}
.backside{
	background: black;
}
.comparar{
	width: 560px;
}
.mapa{
	.menu{
		position: absolute;
		left: 25px;
		top: 10px;
		.detalle{
			background: white;
			padding: 5px ;
			margin-top: 10px;
			box-shadow: 2px 2px 2px 1px @grey2;
			p{display: inline-block;
				color: @orange;
				margin: 0;}
			.cuadro{
				width: 10px;
				height: 10px;
				display: inline-block;
				margin: 0 2px;
			}
			.color1{background: #006837;}
			.color2{background: #33532C;}
			.color3{background: #663E21;}
			.color4{background: #992A16;}
			.color5{background: #CC150B;}
			.color6{background: #FF0000;}
		}
	}

	ul.ulmapa{
		background: white;
		border:1px solid @orange;
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		box-shadow: 2px 2px 2px 1px @grey2;
		li{
			a{
				color:@orange;
				text-transform: uppercase;
				display: list-item;
				border-bottom: 1px solid @orange; 
				padding: 10px;
				text-align: center;
				font-family: "opensans-semibold", sans-serif;
				font-weight: bold;
			}
			a:hover,a:focus{
				background: @orange;
				color: white;
				text-decoration: none;
			}
		}
		li.active{
			a{
				background: @orange;
				color: white;
			}
		}
		li:last-child{
			a{
				border-bottom: none;
			}
		}
	}
}
footer{
	background: #333333;
	color: #686A6B;
	padding: 10px;
}