<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 20px!important;">
<h2 style="margin-top:5px!important;">Mi perfil</h2>

	<%= form_for( @user, url: {action: "update", controller: 'profile'} ) do |f| %>
        
          <p>
            <label for="advert_title">Nombres</label><br />
            <%= f.text_field :name, :required => true %>
          </p>
         
          <p>
            <label for="advert_title">Apellidos</label><br />
            <%= f.text_field :lastname, :required => true %>
          </p>

          <p>
            <label for="advert_title">Email</label><br />
            <%= f.text_field :email %>
          </p>

          <p>
            <label for="advert_title">Telef&oacute;no</label><br />
            <%= f.text_field :phone, :min => 1 %>
          </p>

          <p>
            <%= f.submit "Guardar cambios", {:class => "simplebtn",:style => "width:200px"}  %>
          </p>
         
          <br /><br /><br />
          
    <% end %>


</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 20px!important">
<h2 style="margin-top:5px!important;">Contraseña</h2>
	<%= form_for( @user, url: {action: "update", controller: 'profile'} ) do |f| %>

		<p>
            <label for="advert_title">Contraseña actual</label><br />
            <%= f.password_field :password, :min => 1 %>
          </p>

          <p>
            <label for="advert_title">Nueva contraseña</label><br />
            <%= f.password_field :password, :min => 1 %>
          </p>

          <p>
            <label for="advert_title">Confirmar contraseña</label><br />
            <%= f.password_field :password, :min => 1 %>
          </p>

          <p>
            <%= f.submit "Cambiar contraseña", {:class => "simplebtn", :style => "width:200px"}  %>
          </p>

          <br /><br /><br />
	<% end %>

</div>