<script>
$(function(){
    $(".money").digits();
});

</script>



<div class="col-lg-12 col-md-12 padding0">
<% Advert.get_random(3).each do |advert|  %>

  <div class="col-lg-12 col-md-12 padding0">
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 pDescription padding0" style="display: inline-table;">
      
      <% if(advert.originalsite == nil && advert.originalsite == ""  ) %>
          <% if (advert.assets.count > 0) %>
            <img class="thumbnail" src="<%= advert.assets[0].asset %>">
          <% else %>
            <img class="thumbnail" />
          <% end %>
        <% else %>

        <% if (advert.urlimage != nil && advert.urlimage != "undefined" && advert.urlimage != "") %>
            <img class="thumbnail" src="<%= advert.urlimage %>">
          <% else %>
            <img class="thumbnail" />
          <% end %>
        <% end %>






      
    </div>
    <div class="col-lg-6 col-md-6">
      <span class="advertTitle"> <%= link_to "#{advert.housetype} en #{advert.negotationtype}
      ",:controller => "administration" , :action => "show", :id => advert.id  %> </span>
      <span class="advertDescription" style="width:100%;display: inline-block">
        <div class="area" style="height: 18px;float: left;margin-top: 3px;"></div>
        <% if advert.street != nil && advert.street.length > 0 %>
          <%= advert.street %> 
        <% elsif advert.town != nil %>
          <%= advert.town.name %> 
        <% end %>
      </span>
      <span class="money">$<%=advert.price%></span>
    </div>
  </div>


<% end%>
</div>