
    <script>
      $(function(){
        $(".remove").click(function(){
          var id = $(this).attr('id');
          $.ajax({
            type: 'GET',
            url: '/favorites/destroy',
            dataType: 'json',
            data: { 'id' : id },
            success: function(data){
              //location.reload();
              $(".r-" + id).hide();
            }
          })
        });

      });
    </script>
<br /><br /><br /><br /><br />
      <div class="col-lg-12 areas">
        <% @user.favorites.each do |f| %>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pDescription r-<%=f.advert.id%>">
            <% if f.advert.assets.count > 0 %>
                <img  class="thumbnail" src="<%= f.advert.assets[0].asset %>" />
              <% else %>


                <% if (f.advert.urlimage != nil && f.advert.urlimage != "undefined" && f.advert.urlimage != "") %>
                  <img class="thumbnail" src="<%= f.advert.urlimage %>">
                <% else %>
                  <img class="thumbnail" />
                <% end %>

              <% end %>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 pDescription r-<%=f.advert.id%>">
            <div>
              <span class="title"> <%= link_to "#{f.advert.housetype} en #{f.advert.negotationtype}", :action => "show", :controller => "administration",  :id => f.advert.id %> </span>
              <span class="remove fright" style="margin-top: -24px;" id="<%=f.advert.id%>">Borrar X</span>
              <span class="area fw300 fsize11">  <% if f.advert.zone != nil %>
                <%= f.advert.zone.zonename %> 
              <% elsif f.advert.town != nil %>
                <%= f.advert.town.name %> 
              <% end %> </span>
            </div>

              <% if f.advert.housetype == "Casa" || f.advert.housetype == "Apartamento" || f.advert.housetype == "Casa de Recreo" %>
        <div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= f.advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= f.advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock ">
            <div class="price pLeft25" style="padding-left: 40px"><span>$</span><span class="money"><%= f.advert.price %></span></div>
            <div class="item pLeft25" style="padding-left: 40px">Precio</div>
          </div>
        </div>
      <% end %>

      <% if f.advert.housetype == "Local Comercial" || f.advert.housetype == "Oficina/Clinica" %>
        <div class="gTableLeft">
          <div class="rooms"> <%= ( (f.advert.areamts == "" || f.advert.areamts == nil )  ? "-" : f.advert.areamts ) %> M<sup>2</sup> </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableCenter">
          <div class="bathrooms">0</div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
        </div>
        <div class="gTableRight">
          <div class="price">
            <span>$</span><span class="money"><%= f.advert.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>

      <% if f.advert.housetype == "Nave Industrial"  || f.advert.housetype == "Bodeg" %>
        <!--<div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="price"><span>$</span><span class="money"><%= advert.price %></span></div>
            <div class="item pLeft25">Precio</div>
          </div>
        </div>-->
      <% end %>
            
      <% if f.advert.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms"> <%= f.advert.areavrs %> V<sup>2</sup> </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableRight">
          <div class="price "><span>$</span><span class="money"><%= f.advert.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>
            
          </div>

        <% end %>
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br />