<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer  " style="padding-top: 35px;">
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="/administration/new">Publicar espacio</a></div>

			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="/administration/spaces">Mis espacios</a></div>

			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="/welcome/faq">Preguntas frecuentes</a></div>

			
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">T&eacute;rminos y condiciones</a></div>
			
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a class="login asClient" href="#">Iniciar sesi&oacute;n</a></div>

			<div style="float: right">
			<!--<div>
			<div style="width: 20px;height: 20px;float: right;background-image: url('/images/socialicons.png');background-repeat: no-repeat;cursor: pointer;float: right"></div>

			<div style="float: right;background-image: url('/images/socialicons.png');background-repeat: no-repeat;cursor: pointer;background-position-x: -25px;float: right"></div>
			</div>-->
			<div>
			<div class="socials">
			<span class="copy" style="color:white;font-size: 10px;">(C) 2014 Vincubo. info@vincubo.com</span>
		        <div class="fb" ></div>
		      <div class="tw"></div>
			</div>
		</div>
			</div>
		</div>



		<style>
		.socials {
float: right;
margin-right: 35px;
}
</style>