<head>
    <title>Vincubo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 

    <%= stylesheet_link_tag("jquery-ui.css") %>

    <%= stylesheet_link_tag("style.css") %>
    <style>
      @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
    </style>
    
    <%= javascript_include_tag "base/jquery.min.js" %>
    <%= stylesheet_link_tag "base/bootstrap.min.css" %>
    <%= javascript_include_tag "base/bootstrap.min.js" %>
    <%= javascript_include_tag "base/jquery-ui.min.js" %>
    
    <%= javascript_include_tag 'login' %> 
  </head>