<style>
.title a{
  color: white!important;
}

.title a:hover{
  color: #F76D2E;!important;
  text-decoration: none;
}
</style>

<script type="text/javascript">
    pageSize = 3;
    function nextSlides(){
        var index = $(".advertSlide").index($(".advertSlide:visible")[pageSize-1])
        
        if(!index)
            index = 0
        if(index >= $(".advertSlide").length -1 )
	    index =0;
        $(".advertSlide").hide()
        
        for(var i=1;i<=pageSize&&index+i<=$(".advertSlide").length;i++){
            $($(".advertSlide")[index+i]).show()
            
        }

    }
    function backSlides(){
        var index = $(".advertSlide").index($(".advertSlide:visible")[0])
        console.log("index: "+index)
        $(".advertSlide").hide()
	       if(index == 0)
	         index = $(".advertSlide").length;
        for(var i=1;i<=pageSize&&$(".advertSlide").length-i>=0;i++){
            $($(".advertSlide")[index-i]).show()
        }
    }

    function resetSlides(){
      $(".advertSlide").hide()
      for(var i=0;i<pageSize&&i<$(".advertSlide").length;i++){
	     $($(".advertSlide")[0+i]).show()
      }
    }

    function setupSliderPage(){
      if( $( window ).width()>1000){
  	   newPageSize = 3;
    	}else{
    	  newPageSize = 1;
    	}
    	if(newPageSize!= pageSize){
    	  pageSize = newPageSize;
    	}
	   resetSlides();
    }

    function setupSliderSize(){
      var sliderSpace=$(".mtpo10").width()-35*2-30;
      var totalSlides = $(".advertSlide").length;
      var slidesSize =$(".advertSlide").outerWidth()*(pageSize<totalSlides?pageSize:totalSlides);
      
      var slidesMargin = (sliderSpace - slidesSize)/2;
      $(".slidesWrapper").css("margin-left",(slidesMargin - 20) +"px");
    }

  $(function(){
      if($( window ).width()>1000)
        $(".advertSlide").width(  $(window).width() / 5.5 );
      //$(".slidesWrapper").width( $(window).width() / 4 )
      $(".sliderArrowRight").click(nextSlides)
      $(".sliderArrowLeft").click(backSlides)
      setupSliderPage();
      setupSliderSize();
      $( window ).resize(function(){
    	setupSliderPage()
    	setupSliderSize();

      $(".displayAdvert").on("click",function(){
        var id = $(this).attr("id").split("-")[1];
        $.ajax({
            type: 'GET',
            url: '/detail/detail/' + id ,
            success: function(data){
              $("#dialog").html(data);
              $("#dialog").dialog("open");
              $(".ui-dialog-titlebar").hide();
          }
        });

      });

      
    })
  });

</script>

<div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 slideWhite " >

  <span class="certif">ESPACIOS LISTADOS EN VINCUBO</span>

  <div class="mtpo10">

    <div class="sliderArrowLeft">
    </div>
  <span class="slidesWrapper">
  <% Advert.get_random(12).each do |advert|  %>

    <div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 bgwhite photoslide advertSlide" >
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 padding0">
        <% if(advert.originalsite == nil && advert.originalsite == ""  ) %>
          <% if (advert.assets.count > 0) %>
            <img class="thumbnail" src="<%= advert.assets[0].asset %>">
          <% else %>
            <img class="thumbnail" />
          <% end %>
        <% else %>

        <% if (advert.urlimage != nil && advert.urlimage != "undefined" && advert.urlimage != "") %>
            <img class="thumbnail" src="<%= advert.urlimage %>">
          <% else %>
            <img class="thumbnail" />
          <% end %>
        <% end %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
        <span class="bold block black upper fsize13"> EN <%= advert.negotationtype %>  </span>
        <span class="orange bold f19 block money">  $<%= advert.price %> </span>
        <span class="block thin" style="font-size: 10px">
         
        <%= advert.housetype %>
         -
        <% if advert.zone != nil %>
          <%= advert.zone.zonename %> 
        <% elsif advert.town != nil %>
          <%= advert.town.name %> 
        <% end %>
        </span>
        

        <%if session[:user] != nil %>
          <div class="bold knowmore displayAdvert" id="j-<%=advert.id%>">
            <!--<%= link_to "CONOCE MAS",:controller => "administration" , :action => "show", :id => advert.id %>-->
            <span id="i-<%=advert.id%>">CONOCE MAS</span>
          </div>
        
        <% else %>

          <div class="bold knowmore login asClient" id="j-<%=advert.id%>">
            <span  href="#">CONOCE MAS</span>
          </div>
        
        <% end %>

      </div>

      </div>
  <% end%>
  </span>
    <div class="sliderArrowRight">
    </div>

  </div>

</div>
