<div id="targetDiv"></div>
<div class="col-lg-12 header" style="position: fixed;right: 0;left: 0;z-index: 10;margin-bottom: 0;-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);">
	<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 logo"></div>-->
    <!--<div class="menu col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding-left: 120px;">

        <%if session[:user] != nil %>
    	<div class="col-lg-2 col-md-2 col-xs-6 padding0">
      		<a href="/administration/new" class="orange padding0">Publicar espacio</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6">
            <a href="/administration/spaces">Mis espacios</a>
        </div>
        <% else %>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 padding0">
            <a class="login orange padding0" href="#" >Publicar espacio</a></div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <a class="login" href="#">Mis espacios</a>
        </div>

        <% end %>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="width: 165px;">
        	<a href="#">Preguntas frecuentes</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
        	<a href="/welcome/aboutus">Nosotros</a>
        </div>
        <%if session[:user] == nil %>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 padding0">
          	<a href="#" class="login" >Iniciar Sesi&oacute;n</a>
        </div>
        <% else %>
        <div class="col-lg-2 col-md-2 col-sm-8 col-xs-6" style="width: 115px">
          	<a href="/login/logout">Cerrar Sesi&oacute;n</a>
        </div>
        <% end %>
    </div>-->

    <nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><div class="logo" style="margin-top: -10px;"></div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        

        <li>
            <a href="/manage/" class="orange">Espacios</a>
        </li>
        <li>
            <a href="/manage/users" class="orange">Usuarios</a>
        </li>
        <li>
            <a href="/manage/report" class="orange">Reportes</a>
        </li>
        <li>
            <a href="/manage/zones" class="orange">Zonas</a>
        </li>
        <li>
            <a href="/panel/read" class="orange">Importar anuncios</a>
        </li>
        <li>
            <a href="/panel/" class="orange">Curar anuncios</a>
        </li>


      </ul>

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>