<div class="col-lg-12 col-md-12 areas">
        <% @adverts.each do |advert| %>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pDescription a-<%=advert.id%>" style="padding: 0px">
            <% if advert.assets.count > 0 %>
              <img class="thumbnail" src="<%= advert.assets[0].asset %>" />
            <% else %>
              <div class="thumbnail"></div>
            <% end %>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 pDescription a-<%=advert.id%>" style="padding: 0px">
            <div>
              <span class="title" style="margin-bottom: -8px;"> <%= link_to  "#{advert.housetype} en #{advert.negotationtype}" , :action => "show", :id => advert.id %> 
                <div class="fright">
                  <span class="deleteItem block" id="i-<%=advert.id%>">Borrar X</span>
                  <span class="editItem block" id="i-<%=advert.id%>">
                    <img src="/edit.png" style="width: 11px;"/>
                    <a href="/administration/<%=advert.id%>/edit">Editar</a></span>
                </div>
              </span>
              <span class="area">  </span><span class="descriptionDetail"> <%= advert.street %> </span>
            </div>

              <div class="square"> 
                <div class="inlineBlock pLeft25">
                  <div class="rooms"><%= advert.rooms %> </div>
                  <div class="item">Habitaciones</div>
                </div>

                <div class="inlineBlock pLeft25">
                  <div class="bathrooms"><%= advert.bathroom %></div>
                  <div class="item">Ba&ntilde;os</div>
                </div>

                <div class="inlineBlock pLeft25">
                  <div class="price" style="font-size: 13px;padding-left: 25px;"><span>$</span><span class="money"><%= advert.price %></span></div>
                  <div class="item pLeft25">Precio</div>
                </div>
              </div>
            
          </div>

        <% end %>
      </div>

      <div id="container"></div>


      <script>

      $(function(){

        var opt = {
          autoOpen: false,
          modal: true,
          width: 330,
          //heigth: 600,
            title: '',
            draggable: false
        };

        $("#targetDiv").dialog(opt);
        $("#container").dialog(opt);

        $(".deleteItem").click(function(){
          var id =  $(this).attr("id").split("-")[1] ;
          //alert(id);
          $.ajax({
            type: 'GET',
            url: '/detail/remove/' + id ,
            success: function(data){
              $("#container").html(data);
              $("#container").dialog("open");
              $(".ui-dialog-titlebar").hide();
            }
          });
        });
      });

      </script>




