<% if  (@user != nil) %>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBackground">
  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-lg-offset-2 col-md-offset-2">
  

    <div class="originalPhoto">
      <div class="editBtn" id="editMyPhoto"></div>
      <% if ( (@user != nil) && (@user.image != nil) && (@user.image.url != nil) ) %>
        <img class="photoProfile" src="<%= @user.image.url %>" />
      <% else %>
        <img class="photoProfile" src="/images/unknow.png" />
      <% end %>
    </div>


    <div class="editPhoto">
      
      <%= form_for @user , :url =>  {:action=>"updatePhotos", :controller=>"administration"}, :html => {:multipart => true}  do |f| %>
        <%= f.file_field :image %>
        <%= f.submit "Actualizar fotografÃ­a"%>
      <% end %>
      
    </div>

  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  editbasicinfo" style="padding-top:100px">
    <div class="editlabel" style="display: inline-block;">
      <span class="profileName fleft"> <%= @user.name %> <%= @user.lastname %></span> <div class="editBtn" id="editProfile"></div>
      <br />
      <span class="job"><%= @user.job %></span>
    </div>

    <div class="editfield"  style="margin-left: 110px;">
      <input type="text" id="_name" value="<%= @user.name %>" placeholder="Nombres" class="fleft" />
      <input type="text" id="_lastname" value="<%= @user.lastname %>" placeholder="Apellidos" class="fleft"/>
      <input type="text" id="_job" value="<%= @user.job %>" placeholder="OcupaciÃ³n" class="fleft"/>
      
      <div class="saveBtn" id="saveProfile"></div>
      <div class="cancelBtn" id="cancelProfile"></div>
    </div>

    
  </div>
</div>
<% end %>

<script>

  $(function(){
    $(".editfield").hide();
    $(".editPhoto").hide();

    $("#saveProfile").click(function(){
      $.ajax({
        type: 'GET',
        url: '/administration/editBasicInfo?name=' + $("#_name").val() + "&lastname=" + $("#_lastname").val() + "&job=" + $("#_job").val() ,
        dataType: 'json',
        success: function(data){
          $(".profileName").text( $("#_name").val() + " " + $("#_lastname").val() );
          $(".job").text( $("#_job").val() );
          $(".editlabel").show();
          $(".editfield").hide();
        }
      });
    });

    $("#editProfile").click(function(){
      $(".editlabel").hide();
      $(".editfield").show();
    });

    $("#cancelProfile").click(function(){
      $(".editlabel").show();
      $(".editfield").hide();
    });


    $("#editMyPhoto").click(function(){
      $(".editPhoto").show();
      $(".originalPhoto").hide();
    });


  });

</script>