<script>

  $(function(){
    
    if (document.URL.indexOf("advert/map") > -1){
      $(".mapView").addClass("advertViewSelected");
    }else{
      $(".listView").addClass("advertViewSelected");
    }
      $("#notifyme").on("click", function(){
          createAlert();
      });
  });

</script>

<%= javascript_include_tag "notify.min.js" %>

<div class="searchBar" style="position: fixed;right: 0;left: 0;z-index: 10;margin-bottom: 0;top:72px;-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);">
<%= form_for ([@state, @town]) , :url => {:action => 'map'}, :html => {:multipart => true}  do |f| %>

    <div class="fleft">
      <select id="negotationtype" class="fleft mright5" style="width: 145px;">
        <option value="Venta">Venta</option>
        <option value="Alquiler">Alquiler</option>
      </select>

      <select id="zone" class="fleft mright5" style="width: 135px!important;">
        <option>Zona</option>
      </select>

      <select id="price" class="fleft mright5" style="width: 85px!important;">
        <option value="" disabled selected>Precio</option>
      </select>
   
      <select id="_options_id" name="options[id]" class="fleft mright5">
        <option value="" disabled selected>Otras</option>
      </select>
    
      <!--<select id="price" class="fleft mright5" style="width: 135px!important;">
      </select>-->
    
      <input type="button" class="search fleft" class="fleft mright5" style="width: 35px!important;height: 32px;"/>


      <%if session[:user] == nil %>
        <div id="notifyme" class="login asClient fleft" style="background-color: #F76D2E;height: 32px;color: white;font-weight: 300;width: 140px;font-size: 9px;margin-left: 10px;padding: 1px 14px;cursor: pointer;padding-top: 4px;">
      <% else %>
          <div id="notifyme" class="fleft" style="background-color: #F76D2E;height: 32px;color: white;font-weight: 300;width: 140px;font-size: 9px;margin-left: 10px;padding: 1px 14px;cursor: pointer;padding-top: 4px;">
      <% end %>

    <div style="background-image: url('/images/spaceiconsWhite.png');width: 15px;height: 20px;margin-top: 5px;float: left;background-size: 332%;background-position: -87px 0px;margin-top: 2px;">
        </div>
        PROGRAMAR AVISO POR CORREO
      </div>
    
    </div>

    <div class="col-lg-2 col-md-2" style="float: right ">
      <a class="maplink" href="/advert/map"><div class="advertView mapView"><div class="mapicon"></div>
        <span class="fleft mleft5">Mapa</span>
      </div></a>
      <a class="listlink" href="/advert/"><div class="advertView listView"><div class="listicon"></div>
        <span class="fleft mleft5">Lista</span>
      </div></a>
    </div>



    <div id="_customMessage" style="display:none">

  <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12" style="border-right: 1px solid rgb(240, 240, 240);">
  
    <div>

      <p class="fsize13 bold">Departamento</p>
      <div style="display: inline-block">
        <%= fields_for(@state) do |f| %>
        <%= f.collection_select :id, State.all.order('name ASC'), :id, :name, {:include_blank => 'Todos el pais', :selected => nil}, {:class => "fleft mright5 w180"} %>
        <% end %>
      </div>
      <br />

      <p class="fsize13 bold">Municipio</p>
      <div style="display:inline-block">
      <%= fields_for(@town) do |f| %>
        <select id="town_id" name="town[id]" class="fleft mright5"  style="width: 180px;"></select>
      <% end %>
      </div>

      <p class="fsize13 bold">Tipo de espacio</p>
      <select id="housetype" class="fleft mright5 fsize11 w180" style="font-size:11px">
        <option value="">Todas las Propiedades</option>
        <option value="Apartamento">Apartamento</option>
        <option value="Bodega">Bodega</option>
        <option value="Casa">Casa</option>
        <option value="Casa de Recreo">Casa de Recreo</option>
        <option value="Local Comercial">Local Comercial</option>
        <option value="Nave Industrial">Nave Industrial</option>
        <option value="Oficina/Clinica">Oficina/Clinica</option>
        <option value="Terreno">Terreno</option>
      </select>
    </div>

    <br /> <br />

    <div>
      <p class="fsize13 bold">Disponible a partir de</p>
      <input type="date" style="height: 30px;width: 180px;"/>
    </div>

    
  </div>

  

  <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">

    <div style="display: block; margin-top: 5px;">
      <p class="fsize13 bold">Habitaciones</p>
      <div class="selectionitem">
        <span class="i fw300 fsize13" value="1">1+</span>
        <span class="i fw300 fsize13" value="2" >2+</span>
        <span class="i fw300 fsize13" value="3">3+</span>
        <span class="i fw300 fsize13" value="4">4+</span>
        <span class="i fw300 fsize13" value="5">5+</span>
      </div>
    </div>

    

    <div style="display: block; margin-top: 5px;">
      <p class="fsize13 bold">Baños</p>
      <div class="selectionitem">
        <span class="j fw300 fsize13" value="1">1+</span>
        <span class="j fw300 fsize13" value="2">2+</span>
        <span class="j fw300 fsize13" value="3">3+</span>
        <span class="j fw300 fsize13" value="4">4+</span>
        <span class="j fw300 fsize13" value="5">5+</span>
      </div>
    </div>


    <div class="inlineBlock mar">
      <p class="fsize13 bold">Area de construcci&oacute;n</p>
      <span class="fsize13 fw300 mright5">De:</span><input type="text" id="fromAreamts" class="inputShort"/>
      <span class="fsize13 fw300 mright5">Hasta:</span><input type="text" id="toAreamts" class="inputShort"/><span style="margin-left: 4px;">M<sup>2</sup></span>
    </div>

    <div class="inlineBlock" style="margin-top: 18px;">
      <p class="fsize13 bold">Area de terreno</p>
      <span class="fsize13 fw300 mright5">De:</span><input type="text" id="fromAreavar" class="inputShort"/>
      <span class="fsize13 fw300 mright5">Hasta:</span><input type="text" id="toAreavar" class="inputShort"/><span style="margin-left: 4px;">V<sup>2</sup></span>
      <span>
    </div>
    <br />

  </div>

</div>
          <div id="_customPrice" style="display:none">
            <input placeholder="Mínimo" id="pricefrom" type="text" class="inputShort90"/>
            <input placeholder="Máximo" id="priceto" type="text"  class="inputShort90"/>
          </div>
  </div>

</div>





  <% end %>


</div>


<script>


$("#price").on("click",function(){

  var opt2 = {
      url: '/advert/custom',
      autoOpen: false,
      modal: true,
      title: '',
      dialogClass: "noOverlayDialog",
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );
        $("#_customPrice");
      },
      position: 'center' , dialogClass: 'dialogWithDropShadow'
    };


      $(".ui-widget-overlay").css("opacity","0");
      
      $("#_customPrice").dialog(opt2);
      $("#_customPrice").dialog("open");
      //$("#_customPrice").width("250px!important");
      $(".ui-widget-overlay").css("opacity","0");

      $(".ui-widget-overlay").on("click",function(){
        //$("#_customMessage").dialog("close");
        $("#_customPrice").dialog("close");
      });
    });


</script>


