<div class="bgWhite">

<div class="col-lg-6 col-md-6">

	<p>Tipo de espacio</p>
	<input type="check"><span>Alquiler</span>
	<input type="check"><span>Venta</span>

</div>
<div class="col-lg-6 col-md-6">

</div>


</div>