<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 pDescription">
  <img class="thumbnail" src="' + entry.image_file_name + '">
</div>
            <div class="col-lg-8 col-md-8 col-sm-3 col-xs-12 pDescription">
              <div>
                <span class="title" style="display: block;"> <a href="/administration/' + entry.id + '" style="font-size: 17px;">' + entry.title + '</a></span>
                <span class="area" style="font-weight: 300;font-size: 12px;"> ' + entry.housetype + ' - ' + ((entry.zone == nil ) ? '' : entry.zone.zonename)  + ' </span>
              </div>
              <div class=""> 
                <div class="genericTableLeft">
                  <div class="rooms"> ' + entry.areasize + ' </div>
                  <div class="item">Habitaciones</div>
                </div>
                <div class="genericTableCenter">
                  <div class="bathrooms">' + entry.bathroom + '</div>
                  <div class="item">Baños</div>
                </div>
                <div class="genericTableRight">
                  <div class="price pLeft25"><span>$</span><span class="money">' + entry.price + '</span></div>
                  <div class="item pLeft25">Precio</div>
                </div>
              </div>
            </div> <div class="col-lg-12 col-md-12"> <hr /> </div>