<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subheader">

	<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 customDiv">
		<span id="customMessage">Subir espacio</span>
	</div>

</div>