<br /><br /><br /><br /><br />

<% @user.user_alerts.each_with_index do |ua,index| %>
    <div id="user_alert-<%= ua.id %>">
      <label>Alerta <%=index + 1%></label>
      <div>
        <%ua.alert_conditions.each do |cond| %>
            <div>
                <%= cond.name %>
            </div>
        <%end%>
      </div>
        <br/>
        <div onclick="setAlertId(<%= ua.id %>); $( '#dialog-confirm' ).dialog('open')"  class="simplebtn" style="width:170px;font-size:0.7em">Eliminar Notificación</div></a>
    </div>
    <br/>
<%end%>

<div id="dialog-confirm" title="Empty the recycle bin?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Desea eliminar esta notificación?</p>
</div>


<script>
  userAlertId=-1
  function setAlertId(idNot){
    userAlertId = idNot;
  }
    $(function() {
        $( "#dialog-confirm" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            autoOpen:false,
            buttons: {
                "Eliminar": function() {
                    removeAlert(userAlertId);
                    $( this ).dialog( "close" );
                },
                "Cancelar": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    });
</script>
<br /><br /><br /><br /><br /><br /><br /><br /><br/>