<div class="saludo">
  <p>
  </p><h2>Espacios que pueden interesarte</h2>

  <p></p>
</div>

<% @adverts.each_with_index { |advert,index| %>
    <% if index%2==0 %>
        <div class="columnsFotos">
    <%end%>

    <div class="<% if index%2==0%>left<%else%>right<%end%>">
      <img src="<%= advert.urlimage.empty? ? '/images/logo.png' : advert.urlimage %>">

      <div class="text">
        <h4>EN <%=advert.negotationtype%><br>
          <span>$ <%=advert.price%></span>
        </h4>
        <p><%=advert.short_description%></p>

        <a class="conoceMas" href="www.vincubo.com">CONOCE MÁS</a>
      </div>

    </div>



    <% if index%2==1||index==@adverts.count-1 %>
        </div>
    <%end%>

<%}%>