<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vincubo</title>
			<link href="/assets/chart-css/jquery.nouislider.css" rel="stylesheet"></link>
			<link href="/assets/chart-css/style.css" rel="stylesheet"></link>
			<script type="text/javascript" src="/assets/chart-js/bootstrap-select.js"></script>
    		<link rel="stylesheet" type="text/css" href="/assets/chart-css/bootstrap-select.css">
			<link href="/assets/chart-css/bootstrap.min.css" rel="stylesheet"></link>
			<link href="/assets/chart-css/font-awesome.css" rel="stylesheet"></link>
			<link rel="stylesheet/less" type="text/css" href="/assets/chart-css/style.less" />
			<script src="/assets/chart-js/jquery-1.7.1.min.js" type="text/javascript" ></script>
			<script src="/assets/chart-js/jquery.nouislider.min.js"></script>
			<script src="/assets/chart-js/custom_animations.js"></script>
			<script src="/assets/chart-js/custom_easing.js"></script>
			<script src="/assets/chart-js/bootstrap.min.js"></script>
			<script src="/assets/chart-js/less-1.4.1.min.js"></script>
			<script src="/assets/chart-js/Chart.js"></script>
			<script src="/assets/chart-js/inner-rangeslider.js"></script>
	
	<script>
		var total1=0;
		var total2=0;
		var total3=0;
		$(function(){
			$('.row.pt10').find(':input').prop('disabled', true);

			total1 = Number($("#l1a").text()) + Number($("#l1b").text());
			total2 = Number($("#l2a").text()) + Number($("#l2b").text());
			total3 = Number($("#l2a").text()) + Number($("#l3b").text());

			$(".l1a").width(  Number($("#l1a").text()) * 180 / total1  );
			$(".l1b").width(  Number($("#l1b").text()) * 180 / total1  );
			$(".l2a").width(  Number($("#l2a").text()) * 180 / total2  );
			$(".l2b").width(  Number($("#l2b").text()) * 180 / total2  );
			$(".l3a").width(  Number($("#l3a").text()) * 180 / total3  );
			$(".l4b").width(  Number($("#l3b").text()) * 180 / total3  );

			$(".btns").on("click", function(){
				if( $(this).hasClass("btn-orange") ){
					$(this).removeClass("btn-orange").addClass("btn-ogrey");
				}else{
					$(this).removeClass("btn-ogrey").addClass("btn-orange");
				}
			});

			$("#state_id").on("change", function(){
		      var sid = $("#state_id").val();
		      loadTowns(sid);
		    });

		    $("#town_id").on("change", function(){
		      var sid = $("#state_id").val();
		      loadZonesByTown( $("#town_id").val() ,sid);
		    });

		    function loadTowns(sid){
		      var val = sid;
		      $.ajax({
		        type: 'GET',
		        url: '/administration/load/' + val,
		        dataType: 'json',
		        success: function(data){
		          //var townid = $("#" + sid).children().find(".town_id");
		          $("#town_id").empty();
		          for(var i=0; i < data.result.length; i++){
		            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
		          }

		          loadZonesByTown( $("townid").val(), sid );
		        }
		      });
		    }

		    

			$(".search").on("click", function(){
				var url = "/chart?";

				if ( $("#Residencial").hasClass("btn-orange") ){
					url+= "residencial=t";
				}else{
					url+= "residencial=f";
				}
				if( $("#Industrial").hasClass("btn-orange") ){
					url += "&industrial=t";
				}else{
					url += "&industrial=f";
				}
				if( $("#Comercial").hasClass("btn-orange") ){
					url += "&comercial=t";
				}else{
					url += "&comercial=f";
				}
				if( $("#Terreno").hasClass("btn-orange") ){
					url += "&terreno=t";
				}else{
					url += "&terreno=f";
				}

				url += "&zone1=" +  (($("#zone1").val() == undefined) ? 1 : $("#zone1").val() );
				url += "&zone2=" + (($("#zone2").val() == undefined) ? 1 : $("#zone2").val() );

				url += "&state_id=" + $("#state_id").val();
				url += "&town_id=" + $("#town_id").val();
				url += "&zone_id=" + $("#zone_id").val();

				
				window.location = url;
			})

		});


		function loadZonesByTown( town_id,sid ){
		      $.ajax({
		          type: 'GET',
		          dataType: 'json',
		          url: '/detail/zonesbytown?town_id=' + town_id ,
		          success: function(data){
		            
		            $("#zone_id").empty();
		            for(var i=0; i< data.data.length; i++){
		            	console.log(data);
		              if(data.data[i] != undefined)
		                $("#zone_id").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
		            }
		            //$(zone).val(zone_id);
		        }
		      });
		    }
	</script>

	</head>


	<body class="container">
		<header class="row">
			<div class="logo col-xs-3 ">
				<a href="index.html"><img src="/images/logo.png" alt="Vincubo"></a>
			</div>
			<nav class="backgrey bordergrey col-xs-12">
				<ul class="nav nav-tabs">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Lista: <span>Todos</span> <div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Set de datos: <span>Mercado</span><div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
				</ul>
				<div class="nav-right">
					<ul class="nav nav-tabs">
						<li><a href="mapa.html"><i class="fa fa-map-marker"></i> Mapa</a></li>
						<li class="active"><a href="tabla.html"><i class="fa fa-list"></i> Lista</a></li>
					</ul>
					
					
				</div>
			</nav>
		</header>
		<section class="row">
			<div class="backside"></div>
			<article class="col-xs-3 sidebar backgrey">
				<div class="row shadow white">
					<form class="form-horizontal col-xs-11 mr14" role="search">
						<!--<div class="left-inner-addon black form-group">
	    					<i class="fa fa-search"></i>
	    					<input type="text" class="form-control" placeholder="Ingrese sus t&eacute;rminos de b&uacute;squeda" />
						</div>-->
						<div class="form-group">
							<button type="submit" class="btn btn-grey">Restablecer</button>
							<button type="submit" class="btn btn-orange pull-right">Guardar b&uacute;squeda</button>
						</div>
			        </form>	
			    </div>
		    	<div class="row pt10 ">		
		    		<form class="form-horizontal col-xs-11 mr14" role="search">
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Resultados de:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>&Uacute;ltimos 7 d&iacute;as</option>
							  <option>&Uacute;ltimos 14 d&iacute;as</option>
							  <option>&Uacute;ltimos 21 d&iacute;as</option>
							  <option>&Uacute;ltimos 30 d&iacute;as</option>
							  <option>&Uacute;ltimos 60 d&iacute;as</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Departamento:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>San Salvador</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Municipio:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>San Salvador</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Zonas:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>Escalón, San Benito</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<div class="line"></div>
					<label for="inputEmail3" class="title col-xs-12">Par&aacute;metros de b&uacute;squeda</label>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Tipo de inmueble:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>Residencial</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Tipo de transacci&oacute;n</label>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-orange">Venta</button>
						<button type="submit" class="btn btn-ogrey">Alquiler</button>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Rango de precios:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="input1" class="inputClass form-control cw">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="input2" class="inputClass2 form-control">
						</div>
					</div>
					<div id="rangePrices"></div>
					<div class="min pull-left">$0</div>
					<div class="max pull-right">$1,200,000</div>

					<label for="inputEmail3" class="title col-xs-12">Area de contrucci&oacute;n:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="input1" class="inputClass3 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="input2" class="inputClass4 form-control cw">
						</div>
					</div>
					<div id="rangeConstruction"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">1800m2</div>

					<label for="inputEmail3" class="title col-xs-12">Area de terreno:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="input1" class="inputClass5 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="input2" class="inputClass6 form-control cw">
						</div>
					</div>
					<div id="rangeTerreno"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">2200m2</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Habitaciones:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangeHab" class="rangeMargin"></div>
							<div class="max pull-right">7</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Ba&ntilde;os:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangeBa" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Parqueos:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangePar" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>
		        </form>	
		    	</div>
		    </article>
		    <article class="col-xs-9 main">
		    <div class="row">
		    	<div class="col-xs-10 col-xs-offset-1 backgrey vista">
		    		<div class="row">
		    			<div class="col-xs-4 col-xs-offset-4 line-title">
		    				<h3>Vista Resumida</h3>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-4 chart">
		    				<canvas id="muebles" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p>Residencial - <%= @query[0] %> %</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p>Comercial - <%= @query[1] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p>Corporativo - <%= @query[2] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>Industrial - <%= @query[3] %>%</p>

		    					</li>
		    				</ul>
		    				</div>
		    				<label>Tipos de inmuebles en lista</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="propiedades" class="dona" height="72" width="72"></canvas>
		    				<div class="info orange">
		    				<ul>
		    					<li>
		    					<div class="circle orange"><div class="circle"></div></div>
		    					<p>En Venta: <%= @query[5] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>En alquiler: <%= @query[6] %>%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>N&uacute;mero total de propiedades</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="zonas" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p> <%= @query[7][0]["zone"] %> - <%= @query[7][0]["total"] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p> <%= @query[7][1]["zone"] %> - <%= @query[7][1]["total"] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p> <%= @query[7][2]["zone"] %> - <%= @query[7][2]["total"] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p> <%= @query[7][3]["zone"] %> - <%= @query[7][3]["total"] %>%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>Zonas m&aacute;s populares</label>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="col-xs-10 col-xs-offset-1 interna">
			    	<div class="row">
			    			<%= form_for @advert, :url => {:action => 'index', :controller => 'chart'}, :html => {:multipart => true}  do |f| %>
			    			<div class="row">
			    				<div class="col-xs-12 clean">
								    <label for="inputEmail3">Departamento:</label>
								      <%= f.collection_select :id, @states, :id, :name , {:selected => @state.id}, {:class=> "state_id form-control", :id => "state_id" } %>

								    <label for="inputEmail3" class="">Municipio:</label>
								      <%= f.collection_select :id, @state.towns, :id, :name , {:selected => @town.id}, {:class => "town_id form-control", :id => "town_id"} %>

								    <label for="inputEmail3" class="">Zonas:</label>
								      <%= f.collection_select :id, @town.zones, :id, :zonename, {:selected => @zone.id}, {:class => "zone_id form-control", :id=> "zone_id" } %>
								</div>
								<div class="col-xs-12 clean">
									<input type="button" id="Residencial" class="btn btns btn-orange" value="Residencial" />
									
									<input type="button" id="Comercial" class="btn btns btn-orange" value="Comercial" />
									<input type="button" id="Industrial" class="btn btns btn-orange" value="Industrial" />
									<input type="button" id="Bodega" class="btn btns btn-ogrey" value="Terrenos" />
									<input type="button" class="btn search btn-ogrey" value="Actualizar" />

								</div>
								<div class="col-xs-12 clean">
									<label for="inputEmail3" class="">Mostrar resultados de:</label>
								      <select class="form-control">
										  <option>&Uacute;ltimos 7 d&iacute;as</option>
										  <option>&Uacute;ltimos 14 d&iacute;as</option>
										  <option>&Uacute;ltimos 21 d&iacute;as</option>
										  <option>&Uacute;ltimos 30 d&iacute;as</option>
										  <option>&Uacute;ltimos 60 d&iacute;as</option>
										</select>
								</div>
							</div>
			    			<% end %>
			    		</div>
			    	</div>
			    <div class="col-xs-10 col-xs-offset-1 grafico">
			    	<h3>Tama&ntilde;o de Mercado</h3>
			    	<p>Calculado como la suma de los precios de las propiedades mapeadas por Vincubo.</p>
			    	<div class="row">
			    		<div class="col-xs-6 hl">
			    			<p class="orange">Venta</p>
			    			<canvas id="line2grafico" class="" height="180" width="360"></canvas>
			    			<canvas id="line2grafico2" class="" height="180" width="360"></canvas>
			    		</div>
			    		<div class="col-xs-6">
			    			<p class="orange">Alquiler</p>
			    			<canvas id="line2grafico3" class="" height="180" width="360"></canvas>
			    			<canvas id="line2grafico4" class="" height="180" width="360"></canvas>
			    		</div>
			    	</div>
			    	<h3>Comparaci&oacute;n</h3>
			    	<p>Elige las dos zonas que quieres comparar.</p>
			    	<form class="form-horizontal col-xs-12">
			    			<div class="row">
			    				<%= form_for @advert, :url => {:action => 'index', :controller => 'chart'}, :html => {:multipart => true}  do |f| %>
			    				<div class="col-xs-12 clean">
								    <label for="inputEmail3">Zona 1:</label>
								      <%= f.collection_select :id, @zones, :id, :zonename , {:selected => 1}, {:class=> "zone1 form-control", :id => "zone1" } %>
								    <label for="inputEmail3" class="">Zona 2:</label>
								      <%= f.collection_select :id, @zones, :id, :zonename , {:selected => 1}, {:class=> "zone2 form-control", :id => "zone1" } %>
								      <input type="button" class="btn search btn-ogrey" value="Comparar" />
								</div>
								<% end %>
							</div>
					</form>
					<div class="col-xs-12 text-center">
					<div class="table comparar">
						<h3>Comparaci&oacute;n de mercado entre <span class="blue">zona 1</span> y <span class="green"> Zona 2</span></h3>
						<table class="table">
							<tr class="head">
								<td></td>
								<td><span class="blue">Zona 1</span></td>
								<td><span class="green">Zona 2</span></td>
								<td></td>
							</tr>
							<tr>
								<td>Precio promedio</td>
								<td id="l1a"><%= @query[12].first["price"].to_i %></td>
								<td id="l1b"><%= @query[13].first["price"].to_i %></td>
								<td><div class="lineblue l1a" ></div>
									<div class="linegreen l1b"></td>
							</tr>
							<tr>
								<td># de Propiedades</td>
								<td id="l2a"><%= @query[12].first["total"].to_i %>2</td>
								<td id="l2b"><%= @query[13].first["total"].to_i %></td>
								<td><div class="lineblue l2a">
								</div><div class="linegreen l2b"></td>
							</tr>
							<tr>
								<td>Prom. de d&iacute;as en lista</td>
								<td id="l3a"><%= @query[12].first["num"].to_i %></td>
								<td id="l3b"><%= @query[13].first["num"].to_i %></td>
								<td><div class="lineblue l3a"></div>
									<div class="linegreen l3b"></td>
							</tr>

						</table>
					</div>
					</div>
					<!--<h3>Evoluci&oacute;n de precios</h3>
			    	<p>Mostrando las 15 zonas mas populares.</p>
			    	<div class="col-xs-12 text-center">
			    	<div class="table precios">
						<table class="table">
							<tr class="head">
								<td>Zona, Col., Res.</td>
								<td>Sem. - Sem -</td>
								<td>Mes - Mes</td>
								<td>Trim. - Trim.</td>
								<td>A&ntilde;o - a&ntilde;o</td>
								<td>Prom. de d&iacute;as en lista</td>
							</tr>
							<tr>
								<td>Col. escalon</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Col. Zacamil</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Lomas de San Francisco</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Col. escalon</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Col. Zacamil</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Lomas de San Francisco</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Col. escalon</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Col. Zacamil</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Lomas de San Francisco</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>

						</table>
					</div>
					</div>-->
			    	
			    	
			    </div>	
		    </div>
		    </article>
		</section>
		<footer class="row">
			<div class="col-xs-12">
				<p>© Vincubo 2013 - Todos los derechos reservados</p>
			</div>
		</footer>

		<div style="display: none">
			<div id="tabla1">
				<%= @query[8].each do |q| %>
					<p><%= q["mon"].to_s + "&" %></p>
					<c><%= q["casa"].to_s + "&" %></c>
					<o><%= q["oficina"].to_s + "&" %></o>
					<b><%= q["bodega"].to_s + "&" %></b>
					<t><%= q["terreno"].to_s + "&" %></t>
				<% end %>
			</div>
			<div id="tabla2">
				<%= @query[9].each do |q| %>
					<p><%= q["mon"].to_s + "&" %></p>
					<c><%= q["casa"].to_s + "&" %></c>
					<o><%= q["oficina"].to_s + "&" %></o>
					<b><%= q["bodega"].to_s + "&" %></b>
					<t><%= q["terreno"].to_s + "&" %></t>
				<% end %>
			</div>

			<div id="tabla3">
				<%= @query[10].each do |q| %>
					<p><%= q["mon"].to_s + "&" %></p>
					<c><%= q["casa"].to_s + "&" %></c>
					<o><%= q["oficina"].to_s + "&" %></o>
					<b><%= q["bodega"].to_s + "&" %></b>
					<t><%= q["terreno"].to_s + "&" %></t>
				<% end %>
			</div>

			<div id="tabla4">
				<%= @query[11].each do |q| %>
					<p><%= q["mon"].to_s + "&" %></p>
					<c><%= q["casa"].to_s + "&" %></c>
					<o><%= q["oficina"].to_s + "&" %></o>
					<b><%= q["bodega"].to_s + "&" %></b>
					<t><%= q["terreno"].to_s + "&" %></t>
				<% end %>
			</div>


		</div>

		<script src="/assets/chart-js/inner-chart.js"></script>
		<script type="text/javascript">
		var myLine1 = new Chart(document.getElementById("line2grafico").getContext("2d")).Line(line1data,line2options);


				var myLine2 = new Chart(document.getElementById("line2grafico2").getContext("2d")).Line(line3data,line2options);
				var myLine3 = new Chart(document.getElementById("line2grafico3").getContext("2d")).Line(line2data,line2options);
				var myLine4 = new Chart(document.getElementById("line2grafico4").getContext("2d")).Line(line4data,line2options);
				</script>
	</body>
</html>