<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vincubo</title>
			<link href="/assets/chart-css/jquery.nouislider.css" rel="stylesheet"></link>
			<link href="/assets/chart-css/style.css" rel="stylesheet"></link>
			<script type="text/javascript" src="/assets/chart-js/bootstrap-select.js"></script>
    		<link rel="stylesheet" type="text/css" href="/assets/chart-css/bootstrap-select.css">
			<link href="/assets/chart-css/bootstrap.min.css" rel="stylesheet"></link>
			<link href="/assets/chart-css/font-awesome.css" rel="stylesheet"></link>
			<link rel="stylesheet/less" type="text/css" href="/assets/chart-css/style.less" />
			<script src="/assets/chart-js/jquery-1.7.1.min.js" type="text/javascript" ></script>
			<script src="/assets/chart-js/jquery.nouislider.min.js"></script>
			<script src="/assets/chart-js/custom_animations.js"></script>
			<script src="/assets/chart-js/custom_easing.js"></script>
			<script src="/assets/chart-js/bootstrap.min.js"></script>
			<script src="/assets/chart-js/less-1.4.1.min.js"></script>
			<script src="/assets/chart-js/Chart.js"></script>
			<script src="/assets/chart-js/inner-rangeslider.js"></script>
			
	</head>
	<body class="container">
		<header class="row">
			<div class="logo col-xs-3">
				<a href="/images/logo.png"><img src="/images/logo.png" alt="Vincubo"></a>
			</div>
			<nav class="backgrey bordergrey col-xs-12">
				<ul class="nav nav-tabs">
					<!--<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Lista: <span>Todos</span> <div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Set de datos: <span>Mercado</span><div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>-->
				</ul>
			</nav>
		</header>
		<section class="row">
			<article class="col-xs-3 sidebar backgrey">
				<div class="row shadow white">
					<form class="form-horizontal col-xs-11 mr14" role="search">
						<!--<div class="left-inner-addon black form-group">
	    					<i class="fa fa-search"></i>
	    					<input type="text" class="form-control" placeholder="Ingrese sus t&eacute;rminos de b&uacute;squeda" />
						</div>-->
						<div class="form-group">
							<button type="submit" class="btn btn-grey">Restablecer</button>
							<button type="submit" class="btn btn-orange pull-right">Guardar b&uacute;squeda</button>
						</div>
			        </form>	
			    </div>
		    	<div class="row pt10 ">		
		    		<form class="form-horizontal col-xs-11 mr14" role="search">
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Resultados de:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>&Uacute;ltimos 7 d&iacute;as</option>
							  <option>&Uacute;ltimos 14 d&iacute;as</option>
							  <option>&Uacute;ltimos 21 d&iacute;as</option>
							  <option>&Uacute;ltimos 30 d&iacute;as</option>
							  <option>&Uacute;ltimos 60 d&iacute;as</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Departamento:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>San Salvador</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Municipio:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>San Salvador</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Zonas:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>Escalón, San Benito</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<div class="line"></div>
					<label for="inputEmail3" class="title col-xs-12">Par&aacute;metros de b&uacute;squeda</label>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Tipo de inmueble:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>Residencial</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Tipo de transacci&oacute;n</label>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-orange">Venta</button>
						<button type="submit" class="btn btn-ogrey">Alquiler</button>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Rango de precios:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="input1" class="inputClass form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="input2" class="inputClass2 form-control">
						</div>
					</div>
					<div id="rangePrices"></div>
					<div class="min pull-left">$0</div>
					<div class="max pull-right">$1,200,000</div>

					<label for="inputEmail3" class="title col-xs-12">Area de contrucci&oacute;n:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="input1" class="inputClass3 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="input2" class="inputClass4 form-control">
						</div>
					</div>
					<div id="rangeConstruction"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">1800m2</div>

					<label for="inputEmail3" class="title col-xs-12">Area de terreno:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="input1" class="inputClass5 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="input2" class="inputClass6 form-control">
						</div>
					</div>
					<div id="rangeTerreno"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">2200m2</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Habitaciones:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangeHab" class="rangeMargin"></div>
							<div class="max pull-right">7</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Ba&ntilde;os:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangeBa" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Parqueos:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangePar" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>
		        </form>	
		    	</div>
		    </article>
		    <article class="col-xs-9 main">
		    <div class="row">
		    	<div class="col-xs-10 col-xs-offset-1 backgrey vista">
		    		<div class="row">
		    			<div class="col-xs-4 col-xs-offset-4 line-title">
		    				<h3>Vista Resumida</h3>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-4 chart">
		    				<canvas id="muebles" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p>Residencial - 40%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p>Comercial - 25%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p>Corporativo - 20%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>Industrial - 15%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>Tipos de inmuebles en lista</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="propiedades" class="dona" height="72" width="72"></canvas>
		    				<div class="info orange">
		    				<ul>
		    					<li>
		    					<div class="circle orange"><div class="circle"></div></div>
		    					<p>En Venta: 23%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>En alquiler: 77%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>N&uacute;mero total de propiedades</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="zonas" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p>Col. Escal&oacute;n - 40%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p>Merliot - 25%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p>Col. Miramonte - 20%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>Santa Elena - 15%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>Zonas m&aacute;s populares</label>
		    			</div>
		    		</div>
		    	</div>
		    	<br /><br /><br />
			    <div class="col-xs-12 mapa">
			    	<br /><br /><br />
			    	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7906.671927863703!2d-72.23672553408446!3d7.754146371060731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1398347612399" width="950" height="620" frameborder="0" style="border:0"></iframe>
			    		
		    </div>
		    </article>
		</section>
		<footer class="row">
			<div class="col-xs-12">
				<p>© Vincubo 2013 - Todos los derechos reservados</p>
			</div>
		</footer>
		<script src="js/inner-chart.js"></script>
	</body>
</html>