<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vincubo</title>
			<link href="/assets/chart-css/jquery.nouislider.css" rel="stylesheet"></link>
			<link href="/assets/chart-css/style.css" rel="stylesheet"></link>
			<script type="text/javascript" src="/assets/chart-js/bootstrap-select.js"></script>
    		<link rel="stylesheet" type="text/css" href="/assets/chart-css/bootstrap-select.css">
			<link href="/assets/chart-css/bootstrap.min.css" rel="stylesheet"></link>
			<link href="/assets/chart-css/font-awesome.css" rel="stylesheet"></link>
			<link rel="stylesheet/less" type="text/css" href="/assets/chart-css/style.less" />
			<script src="/assets/chart-js/jquery-1.7.1.min.js" type="text/javascript" ></script>
			<script src="/assets/chart-js/jquery.nouislider.min.js"></script>
			<script src="/assets/chart-js/custom_animations.js"></script>
			<script src="/assets/chart-js/custom_easing.js"></script>
			<script src="/assets/chart-js/bootstrap.min.js"></script>
			<script src="/assets/chart-js/less-1.4.1.min.js"></script>
			<script src="/assets/chart-js/Chart.js"></script>
			<script src="/assets/chart-js/inner-rangeslider.js"></script>

			<script>

			function getUrlParameter(name)
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return null;
  else
    return results[1];
}


			$(function(){
			
			$(".search").on("click",function(){
			      var url = "/chart/tabla";
			      if( $("#town_id").val() != null)
			        url+= "?town_id=" + $("#town_id").val();
			      else
			        url+= "?town_id=0";

			      url+= "&negotationtype=Venta";
			      
			      url+= "&state_id=" + $("#state_id").val();
			      
			      url+= "&rooms=" + $("#rangeHab").val();
			      url+= "&bathrooms=" + $("#rangeBa").val();

			      url+= "&pricefrom=" + $("#pricefrom").val();
			      url+= "&priceto=" + $("#priceto").val();
			      url+= "&housetype=" + $("#housetype").val();
			      url+= "&zone=" + ( ($("#zone").val() == null || $("#zone").val() == "Zona"  )  ? "" : $("#zone").val() )  ;
			      //alert($("#orderby").val())
			      url+= "&orderby=" + $("#orderby").val();
			      url+= "&housetype=" + $("#housetype").val();

			      //alert(url);

			      //alert(($("#order").val()));
			      //url +=( ($("#orderby").val() == null || $("#orderby").val() == "price"  )  ? "price" : "time" );

			      var page = getUrlParameter("page");
			      if(page == undefined || page == "null")
			        page = 1;
			      page = 1;
			      url+= "&page=" + page;
			      url = url.replace("$","").replace("$","").replace("$","").replace("$","").replace("$","").replace("$","");
			      window.location = url
			});

			/*$(".btns").on("click", function(){
				if( $(this).hasClass("btn-orange") ){
					$(this).removeClass("btn-orange").addClass("btn-ogrey");
				}else{
					$(this).removeClass("btn-ogrey").addClass("btn-orange");
				}
			});*/

			$("#state_id").on("change", function(){
		      var sid = $("#state_id").val();
		      loadTowns(sid);
		    });

		    $("#town_id").on("change", function(){
		      var sid = $("#state_id").val();
		      loadZonesByTown( $("#town_id").val() ,sid);
		    });

		    function loadTowns(sid){
		      var val = sid;
		      $.ajax({
		        type: 'GET',
		        url: '/administration/load/' + val,
		        dataType: 'json',
		        success: function(data){
		          //var townid = $("#" + sid).children().find(".town_id");
		          $("#town_id").empty();
		          for(var i=0; i < data.result.length; i++){
		            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
		          }

		          loadZonesByTown( $("townid").val(), sid );
		        }
		      });
		    }

		});

		function loadZonesByTown( town_id,sid ){
		      $.ajax({
		          type: 'GET',
		          dataType: 'json',
		          url: '/detail/zonesbytown?town_id=' + town_id ,
		          success: function(data){
		            
		            $("#zone_id").empty();
		            for(var i=0; i< data.data.length; i++){
		            	console.log(data);
		              if(data.data[i] != undefined)
		                $("#zone_id").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
		            }
		            //$(zone).val(zone_id);
		        }
		      });
		    }

			</script>
			
	</head>
	<body class="container">
		<header class="row">
			<div class="logo col-xs-3">
				<a href="index.html"><img src="/images/logo.png" alt="Vincubo"></a>
			</div>
			<nav class="backgrey bordergrey col-xs-12">
				<ul class="nav nav-tabs">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Lista: <span>Todos</span> <div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Set de datos: <span>Detalle de propiedades</span><div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<section class="row">
			<article class="col-xs-3 sidebar backgrey">
				<div class="row shadow white">
					<form class="form-horizontal col-xs-11 mr14" role="search">
						
						<div class="form-group">
							<button type="submit" class="btn btn-grey">Restablecer</button>
							<button type="submit" class="btn btn-orange pull-right">Guardar b&uacute;squeda</button>
						</div>
			        </form>	
			    </div>
		    	<div class="row pt10 ">		
		    		<form class="form-horizontal col-xs-11 mr14" role="search">
		    			<%= form_for @advert, :url => {:action => 'index', :controller => 'chart'}, :html => {:multipart => true}  do |f| %>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Resultados de:</label>
					    <div class="col-xs-8">
					      <select id="last" class="form-control">
							  <option value="7">&Uacute;ltimos 7 d&iacute;as</option>
							  <option value="14">&Uacute;ltimos 14 d&iacute;as</option>
							  <option value="21">&Uacute;ltimos 21 d&iacute;as</option>
							  <option value="30">&Uacute;ltimos 30 d&iacute;as</option>
							  <option value="60">&Uacute;ltimos 60 d&iacute;as</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Departamento:</label>
					    <div class="col-xs-8">
					      <%= f.collection_select :id, @states, :id, :name , {:selected => @state.id}, {:class=> "state_id form-control", :id => "state_id" } %>
					</div>
					<br />
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Municipio:</label>
					    <div class="col-xs-8">
					      <%= f.collection_select :id, @state.towns, :id, :name , {:selected => @town.id}, {:class => "town_id form-control", :id => "town_id"} %>
					</div>
					<br />
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Zonas:</label>
					    <div class="col-xs-8">
					      <%= f.collection_select :id, @town.zones, :id, :zonename, {:selected => @zone.id}, {:class => "zone_id form-control", :id=> "zone_id" } %>
					    </div>
					</div>
					<% end %>
					<div class="line"></div>
					<label for="inputEmail3" class="title col-xs-12">Par&aacute;metros de b&uacute;squeda</label>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Tipo de inmueble:</label>
					    <div class="col-xs-8">
					      
						<select id="housetype" class="form-control">
						    <option value="" disabled="" selected="">Tipo de Espacio</option>
						    <option value="Apartamento">Apartamento</option>
			                <option value="Bodega">Bodega</option>
			                <option value="Casa">Casa</option>
			                <option value="Casa de Recreo">Casa de Recreo</option>
			                <option value="Local Comercial">Local Comercial</option>
			                <option value="Nave Industrial">Nave Industrial</option>
			                <option value="Oficina/Clinica">Oficina/Clinica</option>
			                <option value="Terreno">Terreno</option>
						</select>
					    </div>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Tipo de transacci&oacute;n</label>
					<div class="form-group text-center">
						<button type="button" id="venta" class="venta btn btn-orange search">Venta</button>
						<button type="button" id="alquiler" class="alquiler btn btn-ogrey search">Alquiler</button>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Rango de precios:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="pricefrom" id="pricefrom" class="inputClass form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="priceto" id="priceto" class="inputClass2 form-control cw">
						</div>
					</div>
					<div id="rangePrices"></div>
					<div class="min pull-left">$0</div>
					<div class="max pull-right">$1,200,000</div>

					<label for="inputEmail3" class="title col-xs-12">Area de contrucci&oacute;n:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="areavfrom" id="areamfrom" class="inputClass3 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="areavto" id="areamto" class="inputClass4 form-control cw">
						</div>
					</div>
					<div id="rangeConstruction"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">1800m2</div>

					<label for="inputEmail3" class="title col-xs-12">Area de terreno:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="areamfrom" id="areavfrom" class="inputClass5 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="areamto" id="areavto" class="inputClass6 form-control cw">
						</div>
					</div>
					<div id="rangeTerreno"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">2200m2</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Habitaciones:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangeHab" class="rangeMargin"></div>
							<div class="max pull-right">7</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Ba&ntilde;os:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangeBa" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Parqueos:</label>
						<div class="col-xs-8 range">
							<div class="min ">1</div>
							<div id="rangePar" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>
		        </form>	
		    	</div>
		    </article>
		    <article class="col-xs-9 main">
		    <div class="row">
		    	<div class="col-xs-10 col-xs-offset-1 backgrey vista">
		    		<div class="row">
		    			<div class="col-xs-4 col-xs-offset-4 line-title">
		    				<h3>Vista Resumida</h3>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-4 chart">
		    				<canvas id="muebles" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p>Residencial - <%= @query[0] %> %</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p>Comercial - <%= @query[1] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p>Corporativo - <%= @query[2] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>Industrial - <%= @query[3] %>%</p>

		    					</li>
		    				</ul>
		    				</div>
		    				<label>Tipos de inmuebles en lista</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="propiedades" class="dona" height="72" width="72"></canvas>
		    				<div class="info orange">
		    				<ul>
		    					<li>
		    					<div class="circle orange"><div class="circle"></div></div>
		    					<p>En Venta: <%= @query[5] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>En alquiler: <%= @query[6] %>%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>N&uacute;mero total de propiedades</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="zonas" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p> <%= @query[7][0]["zone"] %> - <%= @query[7][0]["total"] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p> <%= @query[7][1]["zone"] %> - <%= @query[7][1]["total"] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p> <%= @query[7][2]["zone"] %> - <%= @query[7][2]["total"] %>%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p> <%= @query[7][3]["zone"] %> - <%= @query[7][3]["total"] %>%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>Zonas m&aacute;s populares</label>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="col-xs-10 col-xs-offset-1 interna">
			    	<div class="row">
			    			<div class="col-xs-4 margin-off br">
			    				<div class="big-center ">
			    					<p class="big"><%= @adverts.count %></p>
			    					<p>Propiedades</p>
			    				</div>
			    				<div class="big-center">
			    					<p class="big">$<%= @qtotal.first["avg"].to_i %></p>
			    					<p>Precio promedio de propiedades</p>
			    				</div>
			    			</div>
			    			<form class="form-horizontal col-xs-8 margin-off">
			    			
			    			</form>
			    		</div>
			    	</div>
			    <div class="col-xs-12 grafico">
			    	<div class=" text-center">
			    	<div class="table propiedad">
			    		<h3>Haga click en una propiedad para obtener m&aacute;s informaci&oacute;n</h3>
						<table class="table">
							
							<tr class="head">
								<td>Propiedad</td>
								<td>Tel&eacute;fono(s)</td>
								<td>Tipo</td>
								<td>Precio</td>
								<td>&Aacute;rea de construcci&oacute;n</td>
								<td>&Aacute;rea de terreno</td>
								<td>Precio por metro2</td>
								<td>Precio por vara2</td>
								<td># de Habs.</td>
								<td>Días en lista</td>
								<td>Fecha de publicación</td>
							</tr>
							<% @adverts.each do |advert| %>
							<tr>
								<td><a href=""><%= advert.housetype %> en <%= advert.negotationtype %>  </a></td>
								<td><%= advert.phone %></td>
								<td>  <%= advert.housetype %> </td>
								<td> <%= advert.price %> </td>
								<td> <%= advert.areamts %></td>
								<td><%= advert.areavrs %></td>
								<td>  </td>
								<td></td>
								<td><%= advert.rooms %></td>
								<td><%= advert.bathroom %></td>
								<td><%= advert.created_at%></td>
							</tr>
							
							<% end %>
							<tr>
								<td colspan="7"><%= will_paginate @adverts %></td>
							</tr>
						</table>
						
					</div>
					</div>
			    	
			    	
			    </div>	
		    </div>
		    </article>
		</section>
		<footer class="row">
			<div class="col-xs-12">
				<p>© Vincubo 2013 - Todos los derechos reservados</p>
			</div>
		</footer>
		<script src="js/inner-chart.js"></script>
	</body>
</html>