<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<%= javascript_include_tag 'map' %> 
<%= stylesheet_link_tag("maps.css") %>
<style>
#customMessage{
  text-transform: uppercase;
  font-size: 37px;
}
.tright{
  width: 150px;
}
.tright2{
  width: 220px!important;
  text-align: right;
}
.contentDiv label {
  font-weight: 200;
  font-size: 13px;
}
</style>

<script>
  function removeAsset(assetId){
      $("#delete_asset_"+assetId).val(true);
      $("#asset_preview_"+assetId).hide();
      $("#asset_preview_"+assetId).after($(".no_image_thumbnail_sample").first().clone().show());

  }$(".content").css("margin-top","0px");
    $(".profileBackground").hide();
    $(".subheader").show();

  $(function(){

    google.maps.event.addDomListener(window, 'load', initialize);

    
    loadTowns();

    $("#state_id").on("change", function(){
      loadTowns();
    });

    $(".contentDiv").hide();

    $($(".contentDiv")[0]).show();

    $(".btn_next").click(function(){
      var div = $(".contentDiv:visible");
      var index = $(".contentDiv:visible").index();
      $(div).hide();
      $(div).next().show();

      $(".arrow").removeClass("arrowOrange")
      $( $(".arrow")[index + 1] ).addClass("arrowOrange");

      $($(".arrow")[0]).parent().removeClass("arrowBg").addClass("arrowBgInactive");
        
    });

    $(".btn_back").click(function(){
      var div = $(".contentDiv:visible");
      var index = $(".contentDiv:visible").index();
      $(div).hide();
      $(div).prev().show();

      $(".arrow").removeClass("arrowOrange")
      $( $(".arrow")[index - 1] ).addClass("arrowOrange");

      if(index  == 1)
        $($(".arrow")[0]).parent().removeClass("arrowBgInactive").addClass("arrowBg");

    });

    $(".viewmap").on("change",function(){
      var address = "El Salvador, " + $("#state_id option:selected").text() + ", " + $("#town_id option:selected").text() + ", " + $("#advert_address").val();
      codeAddress( "#advert_latitude", "#advert_longitude", address );
    });

    $("#advert_negotationtype").val("<%=@advert.negotationtype%>");
    $("#advert_housetype").val("<%=@advert.housetype%>");

  });

  function loadTowns(){
    $.ajax({
        type: 'GET',
        url: '/administration/load/' + $("#state_id").val(),
        dataType: 'json',
        success: function(data){
          $("#town_id").empty();
          for(var i=0; i < data.result.length; i++){
            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
          }
        }
      });
  }
</script>


<div class="homeDetail">

      <div class="arrowBg" style="margin-left: 20px"><div class="arrow arrowOrange" style="margin-left: 17px;">Ubicaci&oacute;n</div></div>
      <div class="arrow mleft-30">Tipo de espacio</div>
      <div class="arrow mleft-30">Multimedia</div>
      <div class="arrow mleft-30" style="width: 178px;">Caracter&iacute;sticas</div>


      <%= form_for ([@advert, @photoadvert, @state, @town]) , :url => {:action => 'update'}, :html => {:multipart => true}  do |f| %>

      <div class="col-lg-12 col-mg-12 border">

        <div class="col-lg-12 col-md-12 contentDiv">

          

            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">

              <h3>Ubicaci&oacute;n</h3>
              <span class="fw300">Agrega los detalles de la ubicaci&oacute;n para que sea m&aacute;s f&aacute;cil que las personas puedan encontrar tu espacio.</span>
              <hr />

            </div>
          

          <div class="col-lg-6 col-md-6">
          
            <div class="inlineBlock">
              <div class="col-lg-3 col-md-5 tright2 ">
                <label for="advert_title">Departamento</label>
              </div>
              <div class="col-lg-3 col-md-5 tright">
                <%= fields_for(@state) do |f| %>
                  <%= f.collection_select :id, State.all, :id, :name , {}, { :class => 'viewmap' }  %>
                <% end %>
              </div>
            </div>

           

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-5 tright2 ">
                <label for="advert_title">Municipio</label>
              </div>
              <div class="col-lg-3 col-md-3">
              <%= fields_for(@town) do |f| %>
                <select id="town_id" name="town[id]" class="viewmap"></select>
              <% end %>
              </div>
            </div>


          <%= fields_for(@advert) do |f| %>
          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title">Zona, colonia</label>
            </div>
            <div class="col-lg-3 col-md-3">
              <%= f.text_field :street,  placeholder: 'Colonia escalón' %>
            </div>
          </div>



          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title">Direcci&oacute;n</label>
            </div>
            <div class="col-lg-3 col-md-3">
              <%= f.text_field :address, { :class => 'viewmap mright9', placeholder: '12 avenida norte, 3a calle poniente' }%>
            </div>
          </div>

          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title"># casa, apartamento, local</label>
            </div>
            <div class="col-lg-3 col-md-3">
              <%= f.text_field :local, placeholder: '12B' %>
            </div>
          </div>

          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title">Descripci&oacute;n de la propiedad</label>
            </div>
            <div class="col-lg-3 col-md-5 tright ">
              <%= f.text_area :description, placeholder: 'Descripción de la propiedad' %>
            </div>
          </div>

          <% end %>


          <div class="col-lg-6 col-md-6 col-lg-6 col-md-6 col-md-offset-3">
            <div class="btn_next"><span>Siguiente</span></div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-md-offset-1">
          <!--<span class="bold">Selecciona tu espacio</span>--><br />
          <div id="map-canvas"></div>
        </div>

        </div>


        <div class="col-lg-12 col-md-12 contentDiv">

           <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <h3>Tipo de espacio</h3>
            <span class="fw300">Agrega los detalles de tu espacio para colocarlo m&aacute;s r&aacute;pio.</span>
            <hr />
          </div>




          <div class="col-lg-6 col-md-6">
            <%= fields_for(@advert) do |f| %>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Tipo de espacio</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <select id="advert_housetype" name="advert[housetype]">
                  <option value="Apartamento">Apartamento</option>
                  <option value="Bodega">Bodega</option>
                  <option value="Casa">Casa</option>
                  <option value="Casa de Recreo">Casa de Recreo</option>
                  <option value="Local Comercial">Local Comercial</option>
                  <option value="Nave Industrial">Nave Industrial</option>
                  <option value="Oficina/Clinica">Oficina/Clinica</option>
                  <option value="Terreno">Terreno</option>
                </select>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Tipo de transacci&oacute;n</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <select id="advert_negotationtype" name="advert[negotationtype]">
                  <option value="Alquiler">Alquiler</option>
                  <option value="Venta">Venta</option>
                </select>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Precio</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :price, placeholder: '1,000' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Disponibilidad</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <select id="advert_availability" name="advert[availability]">
                  <option value="Inmediata">Inmediata</option>
                  <option value="Proxima">Pr&oacute;xima</option>
                </select>
              </div>
            </div>

            
            <% end %>
          </div>

          <div class="col-lg-6 col-md-6">
            <%= fields_for(@advert) do |f| %>
            

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Habitaciones</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :rooms, placeholder: '3' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright ">
                <label for="advert_title">Ba&ntilde;os</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :bathroom, placeholder: '3' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Area de construcci&oacute;n</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :areamts, placeholder: '1,000' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Area de terreno</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :areavrs, placeholder: '1000' %>
              </div>
            </div>


            <% end %>
          </div>

          <div class="col-lg-6 col-md-6 col-lg-6 col-md-6 col-md-offset-3">
            <div class="btn_back"><span>Anterior</span></div>
            <div class="btn_next"><span>Siguiente</span></div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 contentDiv">
           <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <h3>Multimedia</h3>
            <span class="fw300">Agrega fotograf&iacute;as y videos a tu espacio.</span>
          <hr />
          </div>

          <%= fields_for(@advert) do |f| %>
            <% @advert.assets.each_with_index do |asset,i| %>
            <div class="col-lg-6 col-md-6 ">
              <div class="inlineBlock">
                <div class="col-lg-3 col-md-3">
                  <label>Fotograf&iacute;a <%= i +1 %> </label>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="thumbnail no_image_thumbnail_sample" style="display:none;float:none;width:130px;height:130px;background-size:80%;background-position: 10px"></div>
                    <%= fields_for "assets[#{i}]", asset do |pf| %>
                      <% if @advert.assets[i] %>
                          <% if @advert.assets[i].asset.exists? %>
                            <input type="hidden" id="delete_asset_<%= i%>" name="delete_asset[<%= i%>]" value="false" />
                              <div style="float:none;width:130px;height:130px;padding:0;overflow:hidden;">
                                <img style="margin: auto auto auto auto" id="asset_preview_<%= i%>" src='<%= @advert.assets[i].asset.url(:thumb)  %>' />
                              </div>
                          <%else%>
                            <div class="thumbnail no_image_thumbnail" style="float:none;width:130px;height:130px;background-size:80%;background-position: 10px"></div>
                          <% end %>
                      <% end %>
                      <input type="button" onclick="removeAsset(<%= i%>)" value="Eliminar Imagen" /><%= pf.file_field :asset %>
                    <% end %>
                </div>
              </div>
            </div>
            <% end %>


            <div class="col-lg-6 col-md-6 ">
              <div class="inlineBlock">
                <div class="col-lg-3 col-md-3">
                  <label>Video (Youtube)</label>
                </div>
                <div class="col-lg-3 col-md-3">
                  <%= f.text_field :youtube1, placeholder: 'https://www.youtube.com/watch?v=_mKa2rJrte4' %>
                </div>
              </div>
            </div>
          <%end%>

          <div class="col-lg-6 col-md-6 col-lg-6 col-md-6 col-md-offset-3">
            <div class="btn_back"><span>Anterior</span></div>
            <div class="btn_next"><span>Siguiente</span></div>
          </div>
        </div>


        <div class="col-lg-12 col-md-12 contentDiv" id="multiselect">
           <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
              <h3>Caracter&iacute;sticas</h3>
              <span class="fw300">Agrega las caracter&iacute;sticas que posee tu espacio.</span>
              <hr />
          </div>
          
          <div class="col-lg-12 col-md-12">
          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Generales</p>
            <hr />
            <p>
              <%= f.check_box :furnished %>
              <%= label_tag(:furnished, "Amueblado") %>
            </p>

            <p>
              <%= f.check_box :pantry %>
              <%= label_tag(:pantry, "Pantry") %>
            </p>

            <p>
              <%= f.check_box :security %>
              <%= label_tag(:security, "Seguridad") %>
            </p>

            <p>
              <%= f.check_box :garden %>
              <%= label_tag(:garden, "Jardin") %>
            </p>

            <p>
              <%= f.check_box :nearbymalls %>
              <%= label_tag(:nearbymalls, "Centros comerciales cercanos") %>
            </p>

            <p>
              <%= f.check_box :kitchen %>
              <%= label_tag(:kitchen, "Cocina") %>
            </p>

            <p>
              <%= f.check_box :preservation %>
              <%= label_tag(:preservation, "Estado de conservacion") %>
            </p>

            <p>
              <%= f.check_box :pool %>
              <%= label_tag(:pool, "Piscina") %>
            </p>

            <p>
              <%= f.check_box :jacuzzi %>
              <%= label_tag(:jacuzzi, "Jacuzzi") %>
            </p>

            <p>
              <%= f.check_box :level %>
              <%= label_tag(:level, "Niveles") %>
            </p>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Servicios</p>
            <hr />
            <p>
              <%= f.check_box :basicservice %>
              <%= label_tag(:basicservice, "Servicios basicos") %>
            </p>

            <p>
              <%= f.check_box :water %>
              <%= label_tag(:water, "Agua/Luz") %>
            </p>

            <p>
              <%= f.check_box :cistern %>
              <%= label_tag(:cistern, "Cisterna") %>
            </p>

            <p>
              <%= f.check_box :heater %>
              <%= label_tag(:heater, "Calentador") %>
            </p>

            <p>
              <%= f.check_box :air %>
              <%= label_tag(:air, "Aire acondicionado") %>
            </p>

            <p>
              <%= f.check_box :telephoneline %>
              <%= label_tag(:telephoneline, "Linea telefonica") %>
            </p>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Exteriores</p>
            <hr />
            <p>
              <%= f.check_box :visitorparking %>
              <%= label_tag(:visitorparking, "Parqueo para visitantes") %>
            </p>

            <p>
              <%= f.check_box :mezzanine %>
              <%= label_tag(:mezzanine, "Mezzanine") %>
            </p>

            <p>
              <%= f.check_box :recreation %>
              <%= label_tag(:recreation, "Area de recreacion") %>
            </p>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Ambientes</p>
            <hr />
            <p>
              <%= f.check_box :study %>
              <%= label_tag(:study, "Estudio") %>
            </p>

            <p>
              <%= f.check_box :terrace %>
              <%= label_tag(:terrace, "Terraza") %>
            </p>

            <p>
              <%= f.check_box :cellar %>
              <%= label_tag(:cellar, "Bodegas") %>
            </p>

            <p>
              <%= f.check_box :parkland %>
              <%= label_tag(:parkland, "Zonas verdes") %>
            </p>

            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>

            <% end %>
          </div>
          </div>

          <div class="col-lg-6 col-md-6 col-lg-6 col-md-6 col-md-offset-3">
            <div class="btn_back"><span>Anterior</span></div>
            <%= f.button "Publicar" , :class => 'btn_save' %> 
          </div>

        </div>

        

      </div>

      <% end %>

</div>