<script>
  $(function(){
    $('ul li').show();

    if( document.URL.indexOf("Alquiler") > -1 ){
      $("#typesell").removeClass("active").addClass("inactive");
      $("#typerent").removeClass("inactive").addClass("active");
    }
  });
</script>   
<style type="text/css">
.editBtnDos {
background-image: url('/edit.png');
width: 15px;
height: 15px;
float: left;
background-size: 100%;
background-repeat: no-repeat;
margin-top: 8px;
margin-left: 10px;
margin-right: 10px;
}
</style>   

<h2 class="fleft" style="display: inline-table;">Acerca de m&iacute;</h2><div class="editBtn" id="editAbout"></div>

<div class="col-lg-12 col-md-12">
  <div class="col-lg-8 col-md-8">
    <div class="aboutlabel">
      <span id="aboutme"> <%= @user.about %>  </span>
    </div>
    <div class="editabout">
      <textarea id="_aboutme" maxlength="275" rows="3" style="width: 450px;"><%= @user.about %></textarea>
      <div class="saveBtn" id="saveAbout"></div>
      <div class="cancelBtn" id="cancelAbout"></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 acknowledgments">
   
   <div>
    <span class="title"  style="display: inline-table;">Reconocimientos y t&iacute;tulos</span><div class="editBtnDos" id="editReference"></div>
    <div class="editreference">
        <div class="saveBtn" id="saveReference"></div>
        <div class="cancelBtn" id="cancelReference"></div>
    </div>
  </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" >

      <div class="referencelabel">
        <span class="fw300" id="reference"> <%= @user.reference %> </span>  
      </div>

      <div class="editreference">
        <textarea id="_reference" maxlength="275" style="width: 100%;" rows="5"><%= @user.reference %></textarea>
      </div>
    </div>
</div>
  

  <div class="col-lg-12 col-md-12">

    <hr />
  </div>    

<div class="col-lg-12 col-md-12">
  <span class="spacesTitle fleft">Espacios de <%= @user.name %> </span>
  <div class="mtop10 mleft10 fleft">
    <a href="/administration/"><div class="active" id="typesell" >Venta</div></a>
    <a href="/administration/?type=Alquiler"><div class="inactive" id="typerent" >Alquiler</div></a>
  </div>
</div>

<%= render "shared/myspaces" %>

<div class="col-lg-12 col-md-12">

    <hr />
  </div>  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <span class="spacesTitle">Mis transacciones</span>
  <table>
    <thead>
      <tr>
        <td># de transacciones</td>
        <td># de espacios disponibles</td>
    </thead>
    <tbody>
      <tr>
        <td>10 transacciones completadas</td>
        <td>10 transacciones disponibles</td>
      </tr>
    </tbody>
  </table>
</div>  
    

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 preWhiteFooter">
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-1 tcenter">
    <span class="spacesTitle">¿Te gustar&iacute;a contactar a <%= @user.name %> <%= @user.lastname %>  ?</span>
    <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-2 register">Contactar</div>
  </div>
</div>


<script>

$(function(){
  $(".editabout").hide();
  $(".editreference").hide();

  $("#editAbout").click(function(){
    $(".aboutlabel").hide();
    $(".editabout").show();
  });

  $("#cancelAbout").click(function(){
    $(".aboutlabel").show();
    $(".editabout").hide();
  });

  $("#saveAbout").click(function(){
    $.ajax({
        type: 'GET',
        url: '/administration/editAbout?about=' + $("#_aboutme").val(),
        dataType: 'json',
        success: function(data){
          $("#aboutme").text( $("#_aboutme").val() );
          $(".aboutlabel").show();
          $(".editabout").hide();
        }
      });
  });

  $("#editReference").click(function(){
    $(".referencelabel").hide();
    $(".editreference").show();
    $("#editReference").hide();
  });

  $("#cancelReference").click(function(){
    $(".referencelabel").show();
    $(".editreference").hide();
    $("#editReference").show();
  });

  $("#saveReference").click(function(){
    $.ajax({
        type: 'GET',
        url: '/administration/editReference?reference=' + $("#_reference").val(),
        dataType: 'json',
        success: function(data){
          $("#reference").text( $("#_reference").val() );
          $(".referencelabel").show();
          $(".editreference").hide();
          $("#editReference").show();
        }
      });
  });




});

</script>

</div>
