<%= javascript_include_tag 'js/jssor.core' %> 
<%= javascript_include_tag 'js/jssor.utils' %> 
<%= javascript_include_tag 'js/jssor.slider' %> 

    <script>

      $(function(){
        $(".profileBackground").hide();
        $("body").css("background-color","#f5f5f4");
        $(".content").css("margin-top","0px");
        $(".menuGallery .item").width(($(".menuGallery").width() / 5 ) - 1)

        $("#addFavorite").click(function(){
          var url = document.URL;
          var id = url.substring(url.lastIndexOf('/') + 1);

          $.ajax({
            type: 'GET',
            url: '/favorites/new',
            dataType: 'json',
            data: { 'id' : id },
            success: function(data){
              location.reload();
            }
          });
        });    


        $(".mySlide").hide();
        $(".myVideo").hide();
        $( $(".mySlide")[0] ).show();

        $(".select1").click(function(){
          $(".mySlide").hide();
          $(".myVideo").hide();
          $( $(".mySlide")[0] ).show();
        });
        $(".select2").click(function(){
          $(".mySlide").hide();
          $(".myVideo").hide();
          $( $(".mySlide")[1] ).show();
        });
        $(".select3").click(function(){
          $(".mySlide").hide();
          $( $(".mySlide")[2] ).show();
          $(".myVideo").hide();
        });
        $(".select4").click(function(){
          $(".mySlide").hide();
          $(".myVideo").hide();
          $( $(".mySlide")[3] ).show();
          $(".myVideo").hide();
        });

        $(".selectV").click(function(){
          $(".mySlide").hide();
          $(".myVideo").show();
        });

        $(".unfavorites").click(function(){
          var url = document.URL;
          var id = url.substring(url.lastIndexOf('/') + 1);

          $.ajax({
            type: 'GET',
            url: '/favorites/destroy',
            dataType: 'json',
            data: { 'id' : id },
            success: function(data){
              location.reload();
            }
          });
        });
        
      });

    </script>


<div class="col-lg-12 col-md-12 homeDetail" style="margin-top: 100px">

  <div class="goback">
    <div class="orangeBack"></div>
    <span>Regresar</span>
  </div>


  <div class="col-lg-12 col-md-12"  itemscope itemtype="http://schema.org/Product">

    <h2 itemprop="name"><%= @advert.housetype %> en <%= @advert.negotationtype %></h2>
<% if @advert.assets.count > 0 %>
    <div class="col-lg-8 col-md-8 menuGallery">

            <div class="item col-lg-2 col-md-2 select1">Fotos</div>
            <div class="item col-lg-2 col-md-2 selectV">Video</div>
            <div class="item col-lg-2 col-md-2 select2">Mapa</div>
            <div class="item col-lg-2 col-md-2 select3">Planos</div>
            <div class="item col-lg-2 col-md-2 select4" style="border: 0">Exterior</div>
<% end %>
          </div>

        <div class="col-lg-8 col-md-8">


          <% if @advert.assets.count > 0 || (@advert.originalsite != nil && @advert.originalsite != ""  )  %>
            

            <% if @advert.assets.count > 0 %>
                <% @advert.assets.each do |a| %>
                    <div>
                        <img class="mySlide" width="650" height="450" u="image" src="<%= a.asset %>" />
                        <!--<img u="thumb" src="<%= a.asset %>" />-->
                    </div>
                <% end %>
            <% else %>
                <div>
                    <img class="mySlide"  width="650" height="450" u="image" src="<%= @advert.urlimage %>" />
                    <!--<img u="thumb" src="<%= @advert.urlimage %>" />-->
                </div>
            <% end %>

            <%if @advert.youtube1 != nil %>
              <iframe class="myVideo" width="650" height="450" src="<%=@advert.youtube1.gsub('watch?v=','embed/')%>" frameborder="0" allowfullscreen></iframe>
            <% end %>




          <% else %>
            <p>No existen im&aacute;genes registradas a este espacio</p>
  		    <% end %>



  		  <br />

        <div class="item">
          <strong>Caracter&iacute;sticas</strong>
          <hr />
          <div class="twocolumns">
            <ul>
              <span itemprop="description"> 
                <%   if( @advert.furnished ) %>
                  <li>Amueblado</li>
                <% end %>
                <%   if( @advert.pantry ) %>
                  <li>Pantry</li>
                <% end %>
                <%   if( @advert.security ) %>
                  <li>Seguridad</li>
                <% end %>
                <%   if( @advert.garden ) %>
                  <li>Jard&iacute;n</li>
                <% end %>
                <%   if( @advert.nearbymalls ) %>
                  <li>Centros comerciales cerca</li>
                <% end %>
                <%   if( @advert.kitchen ) %>
                  <li>Cocina</li>
                <% end %>
                <%   if( @advert.preservation ) %>
                  <li>Estado de conservaci&oacute;</li>
                <% end %>
                <%   if( @advert.pool ) %>
                  <li>Piscina</li>
                <% end %>
                <%   if( @advert.jacuzzi ) %>
                  <li>Jacuzzi</li>
                <% end %>
                <%   if( @advert.level ) %>
                  <li>Niveles</li>
                <% end %>
                <%   if( @advert.basicservice ) %>
                  <li>Servicios b&aacute;sicos</li>
                <% end %>
                <%   if( @advert.cistern ) %>
                  <li>Cisterna</li>
                <% end %>
                <%   if( @advert.water ) %>
                  <li>Agua/Luz</li>
                <% end %>
                <%   if( @advert.heater ) %>
                  <li>Calentador</li>
                <% end %>
                <%   if( @advert.air ) %>
                  <li>Aire acondicionado</li>
                <% end %>
                <%   if( @advert.telephoneline ) %>
                  <li>L&iacute;nea telef&oacute;nica</li>
                <% end %>
                <%   if( @advert.visitorparking ) %>
                  <li>Parqueo de visitas</li>
                <% end %>
                <%   if( @advert.mezzanine ) %>
                  <li>Mezzanine</li>
                <% end %>
                <%   if( @advert.recreation ) %>
                  <li>Area de recreaci&oacute;n</li>
                <% end %>
                <%   if( @advert.study ) %>
                  <li>Estudio</li>
                <% end %>
                <%   if( @advert.terrace ) %>
                  <li>Terraza</li>
                <% end %>
                <%   if( @advert.cellar ) %>
                  <li>Bodegas</li>
                <% end %>
                <%   if( @advert.parkland ) %>
                  <li>Zonas verdes</li>
                <% end %>

              </span>
            </ul>
          </div>
        </div>


    		<div class="item">
    			<strong>Descripci&oacute;n</strong><hr />
    			<span itemprop="description" class="fw300"> <%= @advert.description %> </span>
    		</div>

        <br />


        <div class="item">
          <strong>Descripci&oacute;n de la zona</strong><br />
          <span itemprop="description" class="fw300"> <%= @advert.areadescription %> </span>
        </div>

        <hr />
        <div class="fright">
          <img src="/images/report.png" width="18px" /><a style="font-size: 10px" id="r-<%=@advert.id%>" class="reportar" href="#">Reportar esta publicación</a>
        </div>

      </div>

      <div class="col-lg-4 col-md-4" style="padding-left: 30px">
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span class="spacesTitle money" itemprop="price"> $ <%= @advert.price %> </span> <span class="spacesTitle" style="font-size: 16px;padding-left: 10px;"> <%= @advert.negotationtype %> </span>

          
        </div>
        <br />

        <div class="pDescription">

          <% if @advert.housetype == "Casa" || @advert.housetype == "Apartamento" || @advert.housetype == "Casa de Recreo" %>
        <div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= @advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= @advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="price"><span>$</span><span style="margin-left: 20px;" class="money"><%= @advert.price %></span></div>
            <div class="item pLeft25">Precio</div>
          </div>
        </div>
      <% end %>

      <% if @advert.housetype == "Local Comercial" || @advert.housetype == "Oficina/Clinica" %>
        <div class="gTableLeft">
          <div class="rooms"> <%= ( (@advert.areamts == "" || @advert.areamts == nil )  ? "-" : @advert.areamts ) %> M<sup>2</sup> </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableCenter">
          <div class="bathrooms">0</div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
        </div>
        <div class="gTableRight">
          <div class="price pLeft25">
            <span>$</span><span class="money"><%= @advert.price %></span>
          </div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>

      <% if @advert.housetype == "Nave Industrial"  || @advert.housetype == "Bodeg" %>
        <!--<div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="price"><span>$</span><span class="money"><%= advert.price %></span></div>
            <div class="item pLeft25">Precio</div>
          </div>
        </div>-->
      <% end %>
            
      <% if @advert.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms"> <%= @advert.areavrs %> V<sup>2</sup> </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableRight">
          <div class="price pLeft25" style=""><span>$</span><span class="money" style=""><%= @advert.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>



            <div class="squareitems" style="display: inline-block; margin-top: 3px;"> 
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 addr">
                <div class="area" style="height: 40px;float: left;"></div>
                <span itemprop="description"> <%= @advert.town.name %>, <%= @advert.town.state.name %> </span> <span itemprop="description"> <%= @advert.address %>  <%= @advert.local %> </span>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 areasize">
                <span class="ar"> <%= @advert.areasize %> </span>
                <span class="arLabel">Area</span>
              </div>
            </div>

          
        </div>

        <div class="mTop15">

          

          <% if( @loggeduser != nil && !@loggeduser.favorite_adverts.include?(@advert) ) %>

          <div class="favorites" id="addFavorite"><div class="fav"></div><span>Agregar a favoritos</span></div>

          <% else %>

          <div class="unfavorites" ><div class="fav"></div><span>Remover de favoritos</span></div>

          <% end %>
          

        </div>
        <br />

        <br />
        

        <% if @advert.user != nil %>
          <span class="fw600 gray1">Contacto</span>
          <hr />
          <span class="fw400">Nombre: </span> <span class="fw300"> <%= @user.name %> <%= @advert.user.lastname %>  </span>
          <br/>

          
          <span class="fw400">Tel&eacute;fono: </span> <span class="fw300"> <%= @advert.user.phone %></span>
          <br/>
          
          <span class="fw400">Email: </span> <span class="fw300"> 
          <%= @advert.user.email %></span>
          <br/>
        <% else %>
          <% if (@advert.email != nil && @advert.email != "") || (@advert.phone != nil && @advert.phone != "") %>


            <span class="fw600 gray1">Contacto</span>
            <hr />
            
            <span class="fw400">Tel&eacute;fono: </span> <span class="fw300"> <%= @advert.phone %></span>
            <br/>
            
            <span class="fw400">Email: </span> <span class="fw300"> 
            <%= @advert.email %></span>
            <br/>



          <% end %>


        <% end %>
        
        <hr />
        
        <span class="fw400">Fuente: </span> 
        <span class="fw300"> 

          <%if @advert.originalsite != nil && @advert.originalsite != "" %>
        <a href="<%=@advert.originalsource%>" target="_blank">
          
            <%= @advert.originalsite %> </a> 
            <% else %>
            Usuario de Vincubo  
          <% end %>

        </span>
        
        <br/>
        <span class="fw400">Publicada: </span> <span class="fw300"> 

        <% if @advert.originalsite != nil && @advert.originalsite != "" %>
          <%= Date.strptime( @advert.originaldate.to_s).strftime("%d-%m-%Y") %>
          
        <% else %>
          <%= Date.strptime( @advert.created_at.to_s).strftime("%d-%m-%Y") %>
        <% end %>
        

        </span>
        <br/><br/><br/>

        <span class="fw600">Te pudieran gustar</span>
        <hr />
        <%= render "shared/adverts" %>

      </div>
  </div>

</div>

<div id="targetDiv"></div>

<script>

  $(function(){

    $(".reportar").on("click",function(){

      var id = $(this).attr("id").split("-")[1];

      var opt = {
          autoOpen: false,
          modal: true,
            title: '',
            draggable: false
        };

        $("#targetDiv").dialog(opt);

        $.ajax({
            type: 'GET',
            url: '/detail/report/' + id ,
            success: function(data){
              $("#targetDiv").html(data);
              $("#targetDiv").dialog("open");
            }
          });


    });

  });

</script>


