<%= javascript_include_tag 'user_alert' %>
<script>

$(function(){


  $("#tabs").on("click",function(){
    console.log($(this));

  });



	$(".content").css("margin-top","0px");
    $(".profileBackground").hide();
    $("#customMessage").text("Mis espacios");
    $(".subheader").show();
    $( "#tabs" ).tabs();

    $("#editProfile").load("/profile/edit");
    $("#editProfile").load("/profile/edit");

    $("#seeMyProfile").click(function(){
      window.location = "/administration/";
    });
    /*$("#myFavorites").click(function(){
      window.location = "/favorites";
    });*/

    var length = ( (($(".thumbnail").length % 2) == 0) ? $(".thumbnail").length : $(".thumbnail").length + 1  ) * 50
    $("#tabs-1").height(length);
});

</script>

<style>

	#tabs .a{
		font-size: 12px;
	}

.footer{
padding-top: 35px;
bottom: 0;
}
.myspaces{
    float: left;
    background-image: url('/images/spaceicons.png');
    width: 25px;
    height: 25px;
    margin-top: -6px;
    background-position: -5px 0px;
}
.ui-state-active .myspaces{
    float: left;
    background-image: url('/images/spaceicons.png');
    width: 25px;
    height: 25px;
    margin-top: -6px;
    background-position: -5px 26px;
}
	.myprofile{
		float: left;
		background-image: url('/images/spaceicons.png');
		width: 25px;
		height: 25px;
		margin-top: -6px;
    background-position: -22px 0px;
	}

  .ui-state-active .myprofile{
    float: left;
    background-image: url('/images/spaceicons.png');
    background-position: -22px 26px;
    width: 25px;
    height: 25px;
    margin-top: -6px;
  }

	.myhistory{
	float: left;
  background-image: url('/images/spaceicons.png');
  width: 25px;
  height: 27px;
  background-position: -50px 0px;
  margin-top: -6px;
	}

  .ui-state-active .myhistory {
    background-image: url('/images/spaceicons.png')!important;
    background-position: -50px 26px;
    width: 25px;
    height: 25px;
    margin-top: -6px;
    float: left;
  }


  .myfavorites{
      float: left;
      background-image: url('/images/spaceicons.png');
      width: 30px;
      height: 27px;
      background-position: -73px 0px;
      margin-top: -6px;
  }


 .ui-state-active .myfavorites{
      float: left;
      background-image: url('/images/spaceicons.png');
      width: 30px;
      height: 27px;
      background-position: -73px 26px;
      margin-top: -6px;
  }

	.mynotifications{
		float: left;
		background-image: url('/images/spaceicons.png');
		width: 25px;
		height: 25px;
    background-position: -105px 0px;
		margin-top: -6px;
	}

  .ui-state-active .mynotifications{
    float: left;
    background-image: url('/images/spaceicons.png');
    width: 25px;
    height: 25px;
    background-position: -105px 26px;
    margin-top: -6px;
  }

.myAccount{
    float: left;
    background-image: url('/images/spaceicons.png');
    width: 25px;
    height: 25px;
    background-position: -131px 0px;
    margin-top: -6px;
}
.ui-state-active .myAccount{
    float: left;
    background-image: url('/images/spaceicons.png');
    width: 25px;
    height: 25px;
    background-position: -131px 26px;
    margin-top: -6px;
}

</style>



<div id="tabs" class="col-lg-12  col-md-12" style="margin-top: 20px;padding-bottom:10px;">
  <ul>
    <% if @user.isclient == false %>
      <li><a href="#tabs-1"><div class="myspaces"></div>Mis espacios</a></li>
      <li><a href="tabs-2" id="seeMyProfile"><div class="myprofile"></div>Mi perfil</a></li>
      <li><a href="#tabs-3"><div class="myhistory"></div>Mi historial</a></li>
    <% end %>


    <li><a href="#tabs-6" id="myFavorites"><div class="myfavorites"></div>Favoritos</a></li>
    <li><a href="#tabs-4"><div class="mynotifications"></div>Notificaciones por email</a></li>
    <li><a href="#tabs-5"><div class="myAccount"></div>Mi cuenta</a></li>
  </ul>



<% if @user.isclient == false %>
  <div id="tabs-1" style="padding-top: 60px;padding-bottom: 150px;display: block;border: 1px solid whitesmoke;margin-left: 3px;margin-bottom: 140px!important;">
    
  	<% if ( @adverts.count == 0) && (!@user.isclient  ) %>
  		<div class="tcenter" style="margin-bottom: 30px;">
  			<p class="fw300" style="font-size: 30px;">¿A&uacute;n no posees espacios?</p>
  			<a class="subeEspacio" href="/administration/new"><div class="simplebtn" style="margin: 0 auto">Sube tu espacio</div></a>
  		</div>
  	<% else %>
  		<%= render "shared/myspaces" %>
  	<% end %>

  </div>
<%end%>


  <div id="tabs-2" >
    <div id="editProfile"></div>
  </div>
  <div id="tabs-6" >  
      <%= render "shared/favorites" %>
  </div>

  <div id="tabs-3">
    <%= render "shared/history" %>
  </div>

  <div id="tabs-4" >

    <%= render "shared/user_alerts" %>
  </div>
  <div id="tabs-5">
    <%= render "shared/account" %>
  </div>
</div>


