<style type="text/css">
  table{
    width:100%; 
    border-collapse:collapse; 
  }
  table td{ 
    padding:7px; 
    border: #EFF6FF 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */

  /*  Define the background color for all the ODD background rows  */
  tbody tr:nth-child(odd){ 
    background-color: #F5F5F5;
  }
  /*  Define the background color for all the EVEN background rows  */
  tbody tr:nth-child(even){
    background-color: #fff;
  }

  table td {
    padding-left: 10px;
    text-align: center;
  }
  .tright2 {
    width: 140px;
  }
  .tright {
    width: 140px;
  }
  </style>







<script>
  function removeAsset(assetId){
      $("#delete_asset_"+assetId).val(true);
      $("#asset_preview_"+assetId).hide();
      $("#asset_preview_"+assetId).after($(".no_image_thumbnail_sample").first().clone().show());

  }


  $(function(){

    //google.maps.event.addDomListener(window, 'load', initialize);

    $(".content").css("margin-top","0px");
    $(".profileBackground").hide();
    $(".subheader").show();

    //loadTowns();

    $("#state_id").on("change", function(){
      loadTowns();
    });




    

    $("#state_id").on("change",function(){
      loadTowns();
    });

    $("#town_id").on("change",function(){
      loadZonesByTown();
    });


});


  function loadZonesByTown(){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/detail/zonesbytown?town_id=' + $("#town_id").val() ,
            success: function(data){
              $("#zone_id").empty();
              for(var i=0; i< data.data.length; i++){
                if(data.data[i] != undefined)
                  $("#zone_id").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
              }
          }
        });
      }
      
  function loadTowns(){
    $.ajax({
        type: 'GET',
        url: '/administration/load/' + $("#state_id").val(),
        dataType: 'json',
        success: function(data){
          $("#town_id").empty();
          for(var i=0; i < data.result.length; i++){
            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
          }
          loadZonesByTown();
        }
      });
  }

</script>


<div class="homeDetail">



      <%= form_for ([@advert, @photoadvert, @state, @town]) , :url => {:action => 'update'}, :html => {:multipart => true}  do |f| %>

      <div class="col-lg-12 col-mg-12 border">

        <div class="col-lg-12 col-md-12 contentDiv">

          

            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">

              <h3>Ubicaci&oacute;n</h3>
              <span class="fw300">Agrega los detalles de la ubicaci&oacute;n para que sea m&aacute;s f&aacute;cil que las personas puedan encontrar tu espacio.</span>
              <hr />

            </div>
          

          <div class="col-lg-6 col-md-6">
          
            <div class="inlineBlock">
              <div class="col-lg-3 col-md-5 tright2 ">
                <label for="advert_title">Departamento</label>
              </div>
              <div class="col-lg-3 col-md-5 tright">
                <%= fields_for(@state) do |f| %>
                  <%= f.collection_select :id, State.all, :id, :name , {:selected => @advert.town.state.id}, { :class => 'viewmap' }  %>
                <% end %>
              </div>
            </div>

           

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-5 tright2 ">
                <label for="advert_title">Municipio</label>
              </div>
              <div class="col-lg-3 col-md-3">
              <%= fields_for(@town) do |f| %>
                <!--<select id="town_id" name="town[id]" class="viewmap"></select>-->
                <%= f.collection_select :id, @towns, :id, :name , {:selected => @advert.town.id}, { :class => 'viewmap', :id => 'town_id' }  %>
              <% end %>
              </div>
            </div>


          <%= fields_for(@advert) do |f| %>
          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title">Zona, colonia</label>
            </div>
            <div class="col-lg-3 col-md-3">
              <!--<%= f.text_field :street, :required => true, placeholder: 'Colonia escalón' %>-->
              <%= f.collection_select :id, @zones, :id, :zonename , {:selected => @advert.zone.id}, { :class => 'viewmap', :id => 'zone_id' }  %>
            </div>
          </div>



          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title">Direcci&oacute;n</label>
            </div>
            <div class="col-lg-3 col-md-3">
              <%= f.text_field :address, { :class => 'viewmap mright9', placeholder: '12 avenida norte, 3a calle poniente' }%>
            </div>
          </div>

          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title"># casa, apartamento, local</label>
            </div>
            <div class="col-lg-3 col-md-3">
              <%= f.text_field :local, placeholder: '12B' %>
            </div>
          </div>

          <div class="inlineBlock">
            <div class="col-lg-3 col-md-5 tright2 ">
              <label for="advert_title">Descripci&oacute;n de la propiedad</label>
            </div>
            <div class="col-lg-3 col-md-5 tright ">
              <%= f.text_area :description, placeholder: 'Descripción de la propiedad' %>
            </div>
          </div>

          <% end %>


        </div>

        

        </div>


        <div class="col-lg-12 col-md-12 contentDiv">

           <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <h3>Tipo de espacio</h3>
            <span class="fw300">Agrega los detalles de tu espacio para colocarlo m&aacute;s r&aacute;pio.</span>
            <hr />
          </div>




          <div class="col-lg-6 col-md-6">
            <%= fields_for(@advert) do |f| %>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Tipo de espacio</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <select id="advert_housetype" name="advert[housetype]">
                  <option value="Apartamento">Apartamento</option>
                  <option value="Bodega">Bodega</option>
                  <option value="Casa">Casa</option>
                  <option value="Casa de Recreo">Casa de Recreo</option>
                  <option value="Local Comercial">Local Comercial</option>
                  <option value="Nave Industrial">Nave Industrial</option>
                  <option value="Oficina/Clinica">Oficina/Clinica</option>
                  <option value="Terreno">Terreno</option>
                </select>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Tipo de transacci&oacute;n</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <select id="advert_negotationtype" name="advert[negotationtype]">
                  <option value="Alquiler">Alquiler</option>
                  <option value="Venta">Venta</option>
                </select>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Precio</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :price, placeholder: '1,000' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Disponibilidad</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <select id="advert_availability" name="advert[availability]">
                  <option value="Inmediata">Inmediata</option>
                  <option value="Proxima">Pr&oacute;xima</option>
                </select>
              </div>
            </div>

            
            <% end %>
          </div>

          <div class="col-lg-6 col-md-6">
            <%= fields_for(@advert) do |f| %>
            

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Habitaciones</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :rooms, placeholder: '3' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright ">
                <label for="advert_title">Ba&ntilde;os</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :bathroom, placeholder: '3' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Area de construcci&oacute;n</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :construction, placeholder: '1,000' %>
              </div>
            </div>

            <div class="inlineBlock">
              <div class="col-lg-3 col-md-3 tright">
                <label for="advert_title">Area de terreno</label>
              </div>
              <div class="col-lg-3 col-md-3">
                <%= f.number_field :areasize, placeholder: '1000' %>
              </div>
            </div>


            <% end %>
          </div>

        </div>

        <div class="col-lg-12 col-md-12 contentDiv">
           <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <h3>Multimedia</h3>
            <span class="fw300">Agrega fotograf&iacute;as y videos a tu espacio.</span>
          <hr />
          </div>

          <%= fields_for(@advert) do |f| %>
            <% @advert.assets.each_with_index do |asset,i| %>
            <div class="col-lg-6 col-md-6 ">
              <div class="inlineBlock">
                <div class="col-lg-3 col-md-3">
                  <label>Fotograf&iacute;a <%= i +1 %> </label>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="thumbnail no_image_thumbnail_sample" style="display:none;float:none;width:130px;height:130px;background-size:80%;background-position: 10px"></div>
                    <%= fields_for "assets[#{i}]", asset do |pf| %>
                      <% if @advert.assets[i] %>
                          <% if @advert.assets[i].asset.exists? %>
                            <input type="hidden" id="delete_asset_<%= i%>" name="delete_asset[<%= i%>]" value="false" />
                              <div style="float:none;width:130px;height:130px;padding:0;overflow:hidden;">
                                <img style="margin: auto auto auto auto" id="asset_preview_<%= i%>" src='<%= @advert.assets[i].asset.url(:thumb)  %>' />
                              </div>
                          <%else%>
                            <div class="thumbnail no_image_thumbnail" style="float:none;width:130px;height:130px;background-size:80%;background-position: 10px"></div>
                          <% end %>
                      <% end %>
                      <input type="button" onclick="removeAsset(<%= i%>)" value="Eliminar Imagen" /><%= pf.file_field :asset %>
                    <% end %>
                </div>
              </div>
            </div>
            <% end %>


            <div class="col-lg-6 col-md-6 ">
              <div class="inlineBlock">
                <div class="col-lg-3 col-md-3">
                  <label>Video (Youtube)</label>
                </div>
                <div class="col-lg-3 col-md-3">
                  <%= f.text_field :youtube1, placeholder: 'https://www.youtube.com/watch?v=_mKa2rJrte4' %>
                </div>
              </div>
            </div>
          <%end%>


        </div>


        <div class="col-lg-12 col-md-12 contentDiv" id="multiselect">
           <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
              <h3>Caracter&iacute;sticas</h3>
              <span class="fw300">Agrega las caracter&iacute;sticas que posee tu espacio.</span>
              <hr />
          </div>
          
          <div class="col-lg-12 col-md-12">
          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Generales</p>
            <hr />
            <p>
              <%= f.check_box :furnished %>
              <%= label_tag(:furnished, "Amueblado") %>
            </p>

            <p>
              <%= f.check_box :pantry %>
              <%= label_tag(:pantry, "Pantry") %>
            </p>

            <p>
              <%= f.check_box :security %>
              <%= label_tag(:security, "Seguridad") %>
            </p>

            <p>
              <%= f.check_box :garden %>
              <%= label_tag(:garden, "Jardin") %>
            </p>

            <p>
              <%= f.check_box :nearbymalls %>
              <%= label_tag(:nearbymalls, "Centros comerciales cercanos") %>
            </p>

            <p>
              <%= f.check_box :kitchen %>
              <%= label_tag(:kitchen, "Cocina") %>
            </p>

            <p>
              <%= f.check_box :preservation %>
              <%= label_tag(:preservation, "Estado de conservacion") %>
            </p>

            <p>
              <%= f.check_box :pool %>
              <%= label_tag(:pool, "Piscina") %>
            </p>

            <p>
              <%= f.check_box :jacuzzi %>
              <%= label_tag(:jacuzzi, "Jacuzzi") %>
            </p>

            <p>
              <%= f.check_box :level %>
              <%= label_tag(:level, "Niveles") %>
            </p>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Servicios</p>
            <hr />
            <p>
              <%= f.check_box :basicservice %>
              <%= label_tag(:basicservice, "Servicios basicos") %>
            </p>

            <p>
              <%= f.check_box :water %>
              <%= label_tag(:water, "Agua/Luz") %>
            </p>

            <p>
              <%= f.check_box :cistern %>
              <%= label_tag(:cistern, "Cisterna") %>
            </p>

            <p>
              <%= f.check_box :heater %>
              <%= label_tag(:heater, "Calentador") %>
            </p>

            <p>
              <%= f.check_box :air %>
              <%= label_tag(:air, "Aire acondicionado") %>
            </p>

            <p>
              <%= f.check_box :telephoneline %>
              <%= label_tag(:telephoneline, "Linea telefonica") %>
            </p>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Exteriores</p>
            <hr />
            <p>
              <%= f.check_box :visitorparking %>
              <%= label_tag(:visitorparking, "Parqueo para visitantes") %>
            </p>

            <p>
              <%= f.check_box :mezzanine %>
              <%= label_tag(:mezzanine, "Mezzanine") %>
            </p>

            <p>
              <%= f.check_box :recreation %>
              <%= label_tag(:recreation, "Area de recreacion") %>
            </p>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= fields_for(@advert) do |f| %>

            <p class="bold">Ambientes</p>
            <hr />
            <p>
              <%= f.check_box :study %>
              <%= label_tag(:study, "Estudio") %>
            </p>

            <p>
              <%= f.check_box :terrace %>
              <%= label_tag(:terrace, "Terraza") %>
            </p>

            <p>
              <%= f.check_box :cellar %>
              <%= label_tag(:cellar, "Bodegas") %>
            </p>

            <p>
              <%= f.check_box :parkland %>
              <%= label_tag(:parkland, "Zonas verdes") %>
            </p>

            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>

            <% end %>
          </div>
          </div>

          <div class="col-lg-6 col-md-6 col-lg-6 col-md-6 col-md-offset-3">
            
            <%= f.button "Publicar" , :class => 'btn_save' %> 
          </div>

        </div>

        

      </div>

      <% end %>

</div>














<style>
  option{
    background-color: black;
  }
</style>
























