<style type="text/css">
  table{
    width:100%; 
    border-collapse:collapse; 
  }
  table td{ 
    padding:7px; 
    border: #EFF6FF 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */

  /*  Define the background color for all the ODD background rows  */
  tbody tr:nth-child(odd){ 
    background-color: #F5F5F5;
  }
  /*  Define the background color for all the EVEN background rows  */
  tbody tr:nth-child(even){
    background-color: #fff;
  }

  table td {
    padding-left: 10px;
    text-align: center;
  }
  div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.dialogWithDropShadow.ui-draggable.ui-resizable {
    width: 500px!important;
}

th {
text-align: left;
border-style: ridge;
border-left-color: #ff0000;
margin-right: 3px;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.footer {
width: 230%!important;
}
 </style>


	<%= javascript_include_tag "jquery.tablesorter.min.js" %>


<script>
	var firstTime = true;

	$(function(){
    	//console.log("starting process");
        $("#myTable").tablesorter(); 


        $(".deleteItem").on("click", function(){
        	var element = $(this).attr("id").split("-")[1] ;
        	var r = confirm("Se encuentra seguro de eliminar esta publicacion?");
			if (r == true) {
			    
			    $.ajax({
			        type: 'GET',
			        url: '/manage/delete/' + element,
			        dataType: 'json',
			        success: function(data){
			          $("#" + element).hide();
			        }
			    });
 

			} else {
			}
        });
    }); 
</script>
</head>


<p><strong>Instrucciones:</strong> Haga click sobre los títulos de las tablas para ordernalas ascendente o descendentemente</p>


<%= render "shared/searchBarIndex" %>

<br /><br /><br /><br /><br />

<table id="myTable" class="tablesorter">
	<thead>
		<tr>
			<th>
				Tipo
			</th>
			<th>
				Negociación
			</th>
			<th>
				Precio
			</th>
			<th>
				Ubicación
			</th>
			<th>
				Fuente
			</th>

      <th>
        Local
      </th>
      <th>
        Baños
      </th>
      <th>
        Cuartos
      </th>
      <th>
        Amueblado
      </th>
 <th>Pantry</th>
 <th>Seguridad</th>
 <th>Jardin</th>
 <th>Centros comerciales cercanos</th>
 <th>Cocina</th>
 <th>Estado de conservacion</th>
 <th>Piscina</th>
 <th>Jacuzzi</th>
 <th>Niveles</th>
 <th>Servicios basicos</th>
 <th>Agua/Luz</th>
 <th>Cisterna</th>
 <th>Calentador</th>
 <th>Aire acondicionado</th>
 <th>Linea telefonica</th>
<th> Parqueo para visitantes</th>
 <th>Mezzanine</th>
 <th>Area de recreacion</th>
<th> Estudio</th>
 <th>Terraza</th>
 <th>Bodegas</th>
 <th>Zonas verdes</th>
 <th>Fecha de Publicacion</th>
 <th>Telefono</th>
 <th>Area de Construccion</th>
 <th>Area de Terreno</th> 
 <th># Parqueos</th>



			<th>
				
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		<% @adverts.each do |advert| %>	
			<tr id="<%=advert.id%>">
				<%= form_for advert , :url => {:action => 'publish', :controller => 'panel'}, :html => {:multipart => true}  do |f| %>
					
						<td>
							<%= advert.housetype %>
						</td>
						<td>
							<%= advert.negotationtype %>
						</td>
						<td>
							<%= advert.price %>
						</td>
						<td>
							<%= advert.town.state.name %> / <%= advert.town.name %> / <%= ((advert.zone == nil || advert.zone.zonename == nil ) ? "(Zona no especificada)" : advert.zone.zonename) %>
						</td>
						<td>
							<% if advert.originalsite != nil %>
								<%= advert.originalsite %>
							<% else %>
								Vincubo - <%= advert.user.email %>
							<% end %>
						</td>


      <td>
        <%= advert.local %>
      </td>
      <td>
        <%= advert.bathroom %>
      </td>
      <td>
        <%= advert.rooms %>
      </td>
      <td>
        <%= f.check_box :furnished %>
      </td>
 <td><%= f.check_box :pantry %></td>
 <td><%= f.check_box :security %></td>
 <td><%= f.check_box :garden %></td>
 <td><%= f.check_box :nearbymalls %></td>
 <td><%= f.check_box :kitchen %></td>
 <td><%= f.check_box :preservation %></td>
 <td><%= f.check_box :pool %></td>
 <td><%= f.check_box :jacuzzi %></td>
 <td><%= f.check_box :level %></td>
 <td><%= f.check_box :basicservice %></td>
 <td><%= f.check_box :water %></td>
 <td><%= f.check_box :cistern %></td>
 <td><%= f.check_box :heater %></td>
 <td><%= f.check_box :air %></td>
 <td><%= f.check_box :telephoneline %></td>
<td> <%= f.check_box :visitorparking %></td>
 <td><%= f.check_box :mezzanine %></td>
 <td><%= f.check_box :recreation %></td>
<td> <%= f.check_box :study %></td>
 <td><%= f.check_box :terrace %></td>
 <td><%= f.check_box :cellar %></td>
 <td><%= f.check_box :parkland %></td>
 <td><%= advert.created_at %></td>
 <td><%= advert.phone %></td>
 <td><%= advert.areamts %></td>
 <td><%= advert.areavrs %>no</td> 
 <td><%= advert.parking %></td>






						<td>
							<a href="/manage/edit/<%=advert.id%>">Editar</a>
						</td>
						<td>
							<a class="deleteItem" id="d-<%=advert.id%>">Eliminar</a>
						</td>

					
		        <% end %>
		    </tr>
        <% end %>
    </tbody>
</table>













<script>
  $(function(){

  	$(".i").click(function(){
      $($(".i")).removeClass(( "selected" ))
      $(this).addClass( "selected" );
    });

    $(".j").click(function(){
      $($(".j")).removeClass(( "selected" ))
      $(this).addClass( "selected" );
    });

    
    loadTowns();
    $(".previous_page").hide();
    $(".next_page").hide();

    cargarDatos();


    $("#state_id").on("change", function(){
      loadTowns();
    });

    $(".search").on("click",function(){
      loadMaps();
    });

    $("#customsesionmessage").on("click", function(){
      $("#sessionmessage").hide();
    });

    var opt2 = {
      url: '/advert/custom',
      autoOpen: true,
      modal: true,
      title: '',
      dialogClass: "noOverlayDialog",
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );
      },
      position: 'center' ,
      width: "560", dialogClass: 'dialogWithDropShadow'
    };

    function cargarDatos(){
      $("#housetype").val( getUrlParameter("housetype") );
      $("#priceto").val( getUrlParameter("priceto") );
      $("#pricefrom").val( getUrlParameter("pricefrom") );
      $("#state_id").val( getUrlParameter("state_id") );
      $("#negotationtype").val( getUrlParameter("negotationtype") );

      console.log( getUrlParameter("orderby") );

      if (getUrlParameter("orderby") == "time" || getUrlParameter("orderby") == "tiempo")
        $('#orderby>option:eq(1)').attr('selected', true);
      else
        $('#orderby>option:eq(0)').attr('selected', true);

      if(getUrlParameter("negotationtype") == null)
        $("#negotationtype").val( "Venta" );
      loadTowns(true);
      $('.i[value="' + getUrlParameter("rooms") + '"]').addClass("selected");
      $('.j[value="' + getUrlParameter("bathrooms") + '"]').addClass("selected");
      var t_id = getUrlParameter("town_id");
      if( t_id != undefined && t_id != null && t_id != "" )
        loadZonesByTown( t_id, getUrlParameter("zone") );
      else if( getUrlParameter("state_id") != null && getUrlParameter("state_id") != "" && getUrlParameter("state_id") != undefined ){
        loadZones( getUrlParameter("state_id"), getUrlParameter("zone") );
      }
    }

    $("#state_id").on("change",function(){
      loadZones( $("#state_id").val(), 0  );      
    });

    $("#town_id").on("change", function(){
      loadZonesByTown( $("#town_id").val(), 0 );
    });


    function loadZones( state_id, zone_id ){
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbystate?state_id=' + state_id ,
          success: function(data){
            $("#zone").empty();
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined)
                $("#zone").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
            }
            //alert(zone_id);
            $("#zone").val(zone_id);
        }
      });
    }

    function loadZonesByTown( town_id, zone_id ){
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbytown?town_id=' + town_id ,
          success: function(data){
            $("#zone").empty();
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined)
                $("#zone").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
            }
            //alert(zone_id);
            $("#zone").val(zone_id);
        }
      });
    }

    function loadTowns(stateSelected){
      //alert("here");
      $.ajax({
        type: 'GET',
        url: '/administration/load/' + $("#state_id").val(),
        dataType: 'json',
        success: function(data){
          $("#town_id").empty();
          $("#town_id").append("<option value='0'>Todo el departamento</option>");
          for(var i=0; i < data.result.length; i++){
            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
          }
          if(stateSelected)
            $("#town_id").val( getUrlParameter("town_id") );
          
          if(getUrlParameter("town_id") != undefined && getUrlParameter("town_id") != "" && getUrlParameter("town_id") != "0"){
          loadZonesByTown(getUrlParameter("town_id"), getUrlParameter("zone"));
            //alert("hefee");
          }else{
            //alert("hefedddde");
            loadZones(getUrlParameter("state_id"), getUrlParameter("zone"));
          }

        }
      });
    }

    $("#_options_id").on("click",function(){
      $(".ui-widget-overlay").css("opacity","0");
      
      $("#_customMessage").dialog(opt2);
      $(".ui-widget-overlay").css("opacity","0");
      $( ".ui-dialog" ).css("top","195px");
      $( ".ui-dialog" ).css("left","430px");
      $(".ui-dialog-titlebar").hide();
      $(".ui-dialog").addClass("dialogWithDropShadow");

      $(".ui-widget-overlay").on("click",function(){
        $("#_customMessage").dialog("close");
      });
    });

    $("#price").on("click",function(){
      $(".ui-widget-overlay").css("opacity","0");
      $(".ui-widget-overlay").on("click",function(){
        $("#_customPrice").dialog("close");
      });
    });

    
    $("#orderby").on("change",function(){
      loadMaps();
    });

    function loadMaps(){
      $(".maplink").attr("href", "/advert/map?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );
      $(".listlink").attr("href", "/advert?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );

      var url = "/manage/";
      if( $("#town_id").val() != null)
        url+= "?town_id=" + $("#town_id").val();
      else
        url+= "?town_id=0";
      url+= "&negotationtype=" + $("#negotationtype").val();
      url+= "&state_id=" + $("#state_id").val();
      url+= "&price=0";
      url+= "&rooms=" + (($(".i.selected").attr("value")) != "" ? $(".i.selected").attr("value") : 0 );
      url+= "&bathrooms=" + ( ($(".j.selected").attr("value")) != "" ? $(".j.selected").attr("value") : 0 );
      url+= "&pricefrom=" + $("#pricefrom").val();
      url+= "&priceto=" + $("#priceto").val();
      url+= "&housetype=" + $("#housetype").val();
      url+= "&zone=" + ( ($("#zone").val() == null || $("#zone").val() == "Zona"  )  ? "" : $("#zone").val() )  ;
      //alert($("#orderby").val())
      url+= "&orderby=" + $("#orderby").val();

      //alert(url);

      //alert(($("#order").val()));
      //url +=( ($("#orderby").val() == null || $("#orderby").val() == "price"  )  ? "price" : "time" );

      var page = getUrlParameter("page");
      if(page == undefined || page == "null")
        page = 1;
      page = 1;
      url+= "&page=" + page;
      window.location = url
    }

    //google.maps.event.addDomListener(window, 'load', initialize);

  });

</script>
