<style type="text/css">
  table{
    width:100%; 
    border-collapse:collapse; 
  }
  table td{ 
    padding:7px; 
    border: #EFF6FF 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */

  /*  Define the background color for all the ODD background rows  */
  tbody tr:nth-child(odd){ 
    background-color: #F5F5F5;
  }
  /*  Define the background color for all the EVEN background rows  */
  tbody tr:nth-child(even){
    background-color: #fff;
  }

  table td {
    padding-left: 10px;
    text-align: center;
  }
  </style>

<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<script>
	var firstTime = true;

	$(function(){
    	//console.log("starting process");
        $("#myTable").tablesorter(); 


        $(".deleteItem").on("click", function(){
        	var element = $(this).attr("id").split("-")[1] ;
        	var r = confirm("Se encuentra seguro de eliminar esta publicacion?");
			if (r == true) {
			    
			    $.ajax({
			        type: 'GET',
			        url: '/manage/delete/' + element,
			        dataType: 'json',
			        success: function(data){
			          $("#" + element).hide();
			        }
			    });
 

			} else {
			}
        });
    }); 
</script>
</head>

<body>
<table id="myTable" class="tablesorter">
	<thead>
		<tr>
			<th>
				Tipo
			</th>
			<th>
				Negociación
			</th>
			<th>
				Precio
			</th>
			<th>
				Ubicación
			</th>
			<th>
				Fuente
			</th>
			<th>
				Reporte
			</th>
			<th>
				
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		<% @adverts.each do |report| %>	
			<tr id="<%= report.advert.id%>">
				<%= form_for report , :url => {:action => 'publish', :controller => 'panel'}, :html => {:multipart => true}  do |f| %>
					
						<td>
							<%= report.advert.housetype %>
						</td>
						<td>
							<%= report.advert.negotationtype %>
						</td>
						<td>
							<%= report.advert.price %>
						</td>
						<td>
							<%= report.advert.town.state.name %> / <%= report.advert.town.name %> / <%= ((report.advert.zone == nil || report.advert.zone.zonename == nil ) ? "" : report.advert.zone.zonename) %>
						</td>
						<td>
							<% if report.advert.originalsite != nil %>
								<%= report.advert.originalsite %>
							<% else %>
								Vincubo - <%= report.advert.user.email %>
							<% end %>
						</td>
						<td>
							<%= report.message %>
						</td>
						<td>
							<a href="/manage/edit/<%=report.advert.id%>">Editar</a>
						</td>
						<td>
							<a class="deleteItem" id="d-<%=report.advert.id%>">Eliminar</a>
						</td>

					
		        <% end %>
		    </tr>
        <% end %>
    </tbody>
</table>


<br /><br /><br /><br /><br /><br /><br /><br />
