
<style type="text/css">
  table{
    width:100%; 
    border-collapse:collapse; 
  }
  table td{ 
    padding:7px; 
    border: #EFF6FF 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */

  /*  Define the background color for all the ODD background rows  */
  tbody tr:nth-child(odd){ 
    background-color: #F5F5F5;
  }
  /*  Define the background color for all the EVEN background rows  */
  tbody tr:nth-child(even){
    background-color: #fff;
  }

  table td {
    padding-left: 10px;
    text-align: center;
  }
  </style>
  
<%= javascript_include_tag "jquery.tablesorter.min.js" %>

<script>
	var firstTime = true;

	$(function(){
    	//console.log("starting process");
        $("#myTable").tablesorter(); 


        $(".deleteItem").on("click", function(){
        	var element = $(this).attr("id").split("-")[1] ;
        	var r = confirm("Se encuentra seguro de eliminar esta publicacion?");
			if (r == true) {
			    
			    $.ajax({
			        type: 'GET',
			        url: '/manage/delete/' + element,
			        dataType: 'json',
			        success: function(data){
			          $("#" + element).hide();
			        }
			    });
 

			} else {
			}
        });
    }); 
</script>
</head>

<body>
<table id="myTable" class="tablesorter">
	<thead>
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Creado
			</th>
			<th>
				Email
			</th>
			<th>
				
			</th>
			<th>
				Accion
			</th>
			<th>
				
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>	
			<tr id="<%=user.id%>">
				
				<td>
					<%= user.name %> <%= user.lastname %> 
				</td>
				<td>
					<%= user.created_at %>
				</td>
				<td>
					<%= user.email %>
				</td>
				<td>
					<a href="/manage/editprofile?id=<%=user.id%>">Editar</a>
				</td>
					
		    </tr>
        <% end %>
    </tbody>
</table>


<br /><br /><br /><br /><br /><br /><br /><br />