<style type="text/css">
  table{
    width:100%; 
    border-collapse:collapse; 
  }
  table td{ 
    padding:7px; 
    border: #EFF6FF 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */

  /*  Define the background color for all the ODD background rows  */
  tbody tr:nth-child(odd){ 
    background-color: #F5F5F5;
  }
  /*  Define the background color for all the EVEN background rows  */
  tbody tr:nth-child(even){
    background-color: #fff;
  }

  table td {
    padding-left: 10px;
    text-align: center;
  }
  </style>

<script>

	var lastSelected;

	$(function(){
		$(".state").on("click", function(){
			loadTowns( $(this).attr("id").split("-")[1]  );
		});

		$(document).delegate(".town", "click", function(){
			lastSelected = $(this).attr("id").split("-")[1];
			loadZonesByTown( $(this).attr("id").split("-")[1]  );
		});

		$(document).delegate("#newzone", "click", function(){
			addZone(lastSelected, $("#zone").val());
		});
	});


	function loadTowns(state){
	    $.ajax({
	        type: 'GET',
	        url: '/administration/load/' + state,
	        dataType: 'json',
	        success: function(data){
	          $(".column-center").empty();
	          for(var i=0; i < data.result.length; i++){
	            $(".column-center").append("<p class='town' id='t-" + data.result[i].id + "'>" +  data.result[i].name + "</p>"  );
	          }
	        }
	      });
	  }

	  function loadZonesByTown( town_id ){
	      $.ajax({
	          type: 'GET',
	          dataType: 'json',
	          url: '/detail/zonesbytown?town_id=' + town_id ,
	          success: function(data){
	          	//console.log(data);
	            $(".column-right").empty();
	            $(".column-right").append("<p> <input type='text' id='zone' /> <input type='button' id='newzone' value='Agregar' />  </p>");
	            for(var i=0; i< data.data.length; i++){
	              if(data.data[i] != undefined)
	                $(".column-right").append("<p" + data.data[i].id + ">" +  data.data[i].zonename + "</p>"  );
	            }
	        }
	      });
	    }

	    function addZone( town_id, zonename ){
	    	if(zonename.length < 1)
	    	{
	    		alert("Agregue un nombre de zona");
	    		return false;
	    	}
	      $.ajax({
	          type: 'GET',
	          dataType: 'json',
	          url: '/manage/addzone?town_id=' + town_id + "&zone=" + zonename ,
	          success: function(data){
	          	loadZonesByTown(town_id);
	          }
	        
	      });
	    }



</script>


<div class="container">

	<p><strong>Instrucciones:</strong> Para agregar una nueva zona, seleccione el departamento y el municipio</p>

	<div class="column-center1">
   		<strong>Municipios</strong>
   </div>
   <div class="column-left1">
   	<strong>Departamentos</strong>
   </div>
   <div class="column-right1">
   	<strong>Zonas</strong>
   </div>


   <div class="column-center">
   	
   </div>
   <div class="column-left">
   	<% @states.each do |s| %>
   		<p class="state" id="s-<%=s.id%>"> <%= s.name %>
   	<% end %>
   </div>
   <div class="column-right">

   </div>
</div>



<style>

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.column-left1{ float: left; width: 33%; }
.column-right1{ float: right; width: 33%; }
.column-center1{ display: inline-block; width: 33%; }

</style>