<html><head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

    $(function(){
        $(".boton1").on("click", function(){

            if( $("#Usuario").val().toLowerCase() == "admin" &&  $("#Contrasena").val().toLowerCase() == "enohp4407$"    )
                window.location = "/manage/"
            else
                alert("Credenciales invalidas");


        });
    });

</script>


<style>

/* ESTILOS GENERALES */

/*
    -moz-box-shadow:1px 1px 2px #999;
    -webkit-box-shadow:1px 1px 2px #999;
    box-shadow:1px 1px 2px #999;
    
    text-shadow:0px 1px 1px #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;

 * */ 

body,h1,h2,h3,h4,h5,h6,p,div,span,li,td,a,label {
    color: #111;
    font-family: "Lucida Grande", "Arial", "Verdana", sans-serif;
    font-size: 12px;
    color: #3a3a3a;
    
    line-height: 18px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Lucida Grande", "Arial", "Verdana", sans-serif;
    text-shadow:1px 1px 1px #eee;
    /*color: #E62F2F;*/
    color:#1C1C1C;
}
body {
    background-color: #f9f9f9;
    width:100%;
    height:100%;
    position: relative;
}
h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    /*color: #E62F2F;*/
    color:#1C1C1C;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.field {
    height:20px;
    padding: 3px 7px;
    border:0;
    border: 1px solid #bbb;
    font-size: 12px;
}
select.field 
{
    height:auto;
}
.boton1 {
    border: 0;
    /*background-color: #E94F33;*/
    
    
    /*background-color: #E62F2F;*/
    background-color:#6E6E6E;
    cursor: pointer; 
    padding: 5px 25px 6px; 
    color: #fff; 
}
.boton1:hover, .boton2:hover {
    /*background-color: #FF5B5B;*/
    background-color:#848484;
}
.boton1:hover
{
    text-decoration:none;
}
.boton2 {
    border: 0;
    background-color: #E62F2F;
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight:normal;
    letter-spacing: 2px;
}
.sep {
    width:100%;
    height: 1px;
    border-top: 1px solid #d7d7d7;
    background-color: #fff;
    text-indent: -9999px;
    margin: 10px 0;
}
.sep2 {
    width:100%;
    height: 1px;
    border-top: 1px solid #d7d7d7;
    background-color: #fff;
    text-indent: -9999px;
    margin: 10px 0;
}


#header {
    width: 100%;
    position: relative;
    background-color:#ccc;
}
#header a, #header, #header div, #header span, #header p {
    color: #000;
    font-weight: normal;
}

.subheader {
    padding: 20px;
}
.head-right {
    float:right;
    margin-top:8px;
}
.head-right a {
    margin-left: 10px;
}

.logo {
    width:190px
}
#head1{
    padding: 15px 20px;
    position: relative;
    /*background:#000 url(../img/bg2.jpg) 0 bottom repeat-x;*/
    background-color: #FFF; 
    
}

#head2{
    /*background-color: #E62F2F;*/
    background-color: #6E6E6E;
    width:100%;
    /*height:40px;*/
    position: relative;
}
#head2 ul {
    float:left;
    /*background-color: #d00;*/
    background-color: #c7c7c7;
    width:100%;
}

#header .drop a.nom {
    padding-right:25px;
    background: url(../img/fle-abajo-blanca.png) 90% 14px no-repeat;
    
}
#header .drop ul {
    position: absolute;
    left:0;
    top:32px;
    width:200px;
    display: none;
    z-index: 10;
}
#header .drop ul li {
    margin:0;
    width:200px;
    background-color: #E62F2F;
    
    color: #fff;
    float:none;
    position: relative;
    display: block;
    border:0;
    border-bottom: 1px solid #E84E52;
}
#header .drop ul li a {
    color: #fff;
    padding: 11px 12px;
    display: block;
}
#header .drop ul li a:hover {
    background-color: #FF5B5B;
    
    text-decoration: none;
}

#contenido {
    position: relative;
    float:left;
    width:100%;
}
#contenido .cont-pad {
    padding: 30px 20px 100px; 
}

table.tabla {
    width:100%;
}
table.tabla tr {
    border: 1px solid #ccc;
}

table.tabla tr.selected {
     background-color: #F79C9C;
}

table.tabla tr.selected:hover {
     background-color: #F79C9C;
}

table.tabla tr:hover {
    
}
table.tabla tr td {
    padding:8px 12px;
    border: 1px solid #ccc;
    /*cursor: pointer;*/
}
.tabla th {
    font-weight: bold;
    background-color: #ddd;
    padding:8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.tabla .principal {
    cursor: default;
}

.tblGen{margin:8px auto;   clear:both}
.tblGen th{padding:8px;background-color: #ddd;font-weight: bold;border-right:1px solid #ccc;/* background:red url(../img/th.jpg) top repeat-x;*/  text-align:left; color:#000;}
.tblGen td{color:#333;  font-size:12px; }
/*.tblGen  .tdL td{ border-bottom:solid 1px #ccc;}*/
.tblGen .edit{text-align:center; width:100px;}
.tblGen a{color:#0066CC;} 
/*.tblGen tr:hover{background-color: #eee;}*/
.tblGen td .tblGenEdit{ width:100%;}
.tblGen td .tblGenEdit td{padding: 8px; border-right:1px solid #ccc;}
.tblGen select { width:100% }
.ventana-error {
    position: fixed;
    bottom:-300px;
    right:20px;
    z-index: 50;
    background: url(../img/error.gif) 13px 50% no-repeat;
    background-color: #F6CCCC;
    border: 10px solid #F4A4A5;
    padding: 20px 30px 20px 50px;
    max-width: 300px;
    
}
.ventana-error p {
    font-size: 14px;
    color: #d00;
}

.ventana-error ul li{
    list-style-type:circle;
    list-style-position:outside;
    display:block;
}

.cerrar 
{
    cursor: pointer;
    position: absolute;
    top:-20px;
    right:-30px;
    width:14px;
    height:14px;
    text-indent: -9999px;
    display: block;
    z-index: 52;
    background: url(../img/cerrar.png) 0 0 no-repeat;
}

#loading {
    display:none;
    position: fixed;
    left:50%;
    top:50%;
    margin-top:-80px;
    margin-left: -140px;
    width:280px;
    border: 10px solid #E1081F;
    z-index: 100;
    padding: 60px 0 20px;
    
    text-align: center;
    background: url(../img/loading.gif) 50% 15px no-repeat;
    background-color: #ddd;
    
    -moz-box-shadow:1px 1px 5px #444;
    -webkit-box-shadow:1px 1px 5px #444;
    box-shadow:1px 1px 5px #444;
}


 





.form-set select, .form-set .field, .form-set .boton1 {
    margin-right:15px;
}
.cuadro {
    float:left;
    position: relative;
    width:100%;
}
.cuadro .pad {
    padding: 20px;
    float:left;
}
.paso1 {
    background-color: #f4f4f4;
}
.paso2 {
    background-color: #EBEBEB;
    padding: 10px 3px;
}
.cuadro.paso2 .pad {
    padding: 10px;
}
.cuadro.paso2 .form-set {
    padding: 10px;
}

.form-set {
    float:left;
}
.form-elem {
    float:left;
    position: relative;
}
.form-elem p {
    margin-bottom:10px;
}
.datos-estaticos {
    border: 1px dotted #bbb;
    /*padding: 20px 10px 25px;*/
    padding: 5px 10px;
    min-height: 45px;
    float:left;
    width: 600px;
    margin-right:20px;
    margin-bottom:20px;
}
.datos-estaticos table {
    margin: 4px 8px;
    float:left;
    width:280px;
}
.datos-estaticos table tr {
    
}
.datos-estaticos table td {
    padding: 3px 8px;
    background-color: #e9e9e9;
}
.datos-estaticos .que {
    
}
.datos-estaticos .par td {
    background-color: #e0e0e0;
}

.paso2 .form-set {
    margin-right:10px;
    margin-bottom:20px;
    border: 1px dotted #EBEBEB;
    
}
.paso2 .form-set h2 {
    font-size: 13px;
    margin-bottom:20px;
    font-weight: bold;
    position: relative;
}
.paso2 .form-set h2 img {
    margin-left:7px;
    position: relative;
    top:3px;
    display: none;
}

.paso2 .form-set h2 span {
    display: block;
    float:left;
    height:20px;
    width:18px;
    padding:4px;
    text-align:center;
    background-color: #E1081F;
    color: #fff;
    position: relative;
    margin-top:-11px;
    margin-right:10px;
    text-shadow: none;
}

.opciones {
    position:relative;
    float:right;
}
.opciones a {
    position: relative;
    top:4px;
}

.mal {
    border: 1px dotted #E1081F;
    background-color: #FCE7EB;
}

.bien {
    border: 1px dotted #4C785D;
    background-color: #ABD4BB ;
}

#documento {
    
}

#tabs {
    width:100%;
    position: relative;
    float:left;
    margin-top:20px;
    margin-bottom:20px;
}

#tabs div.tabContent
{
    min-height:200px;
    width:99%;
     background-color:#fff; 
    border: 1px solid black;
    padding:3px;
    clear:both;
}
#tabs .tabs {
    width:100%;
    float:left;
    clear:both;
}
#tabs .tabs li {
    float:left;
    background-color: #FFF;
    margin-right:1px;
    border-radius: 5px 5px 0 0;
margin: 1px;
position: relative;
top: 1px;
left: -1px;
}
#tabs .tabs li a {
    display:block;
    background-color: #DBDBDB;
    color: #000;
    padding:10px;border-radius: 5px 5px 0 0;border: 1px solid;
top: 1px;
border-bottom: none;
}
#tabs .tabs li a:hover {
    text-decoration: none;
    background-color: #FFF;
}
#tabs .tabs li a.sel {
    display:block;
    background-color: #FFF;
    cursor: default;
    border: 1px solid #000;
position: relative;
top: 1px;
border-bottom: none;
color: #000;border-radius: 5px 5px 0 0;
}
#telefono .load {
    position: absolute;
    right:0;
    top:34px;
    display: none;
}


img.load
{
    display:none;
}


div.informativoOk  {
    position: fixed;
    left:50%;
    top:50%;
    margin-top:-80px;
    margin-left: -140px;
    z-index: 50;
    background: url(../img/success.gif) 13px 50% no-repeat;
    background-color: #BEFADC;
    border: 10px solid #78B094;
    padding: 20px 30px 20px 50px;
    max-width: 300px;
}

div.informativoMalo  {
    position: fixed;
    left:50%;
    top:50%;
    margin-top:-80px;
    margin-left: -140px;
    z-index: 50;
    background: url(../img/error.gif) 13px 50% no-repeat;
    background-color: #F6CCCC;
    border: 10px solid #F4A4A5;
    padding: 20px 30px 20px 50px;
    max-width: 300px;
}




.ventana {

position: fixed;

bottom:20px;

right:20px;

z-index: 50;

padding: 20px 30px 20px 50px;

max-width: 300px;

display: none;

}

.error {

background: url(../img/error.gif) 13px 50% no-repeat;

background-color: #F6CCCC;

border: 10px solid #F4A4A5;

}

.error p {

font-size: 14px;

color: #d00;

}

.exito {

background: url(../img/success.gif) 13px 50% no-repeat;

background-color: #c3dcc3;

border: 10px solid #458d56;

}

.exito p {

font-size: 14px;

color: #000;

}
.ventana2 {

position: fixed;

width:300px;

margin-left:-150px;

left:50%;

top:200px;

z-index: 50;

display: none;

text-align: center;

}

.ventana2 .pad {

padding: 20px 30px 20px 30px;

position: relative;

}



.confirm {

position: fixed;

width:300px;

margin-left:-150px;

left:50%;

top:200px;

z-index: 50;

text-align: center;


background-color: #d0d0d0;

border: 10px solid #777;


    -moz-box-shadow:    0px 0px 9px #999;

    -webkit-box-shadow: 0px 0px 9px #999;

    box-shadow:  0px 0px 9px #999;


display: block;

}

.confirm .pad {

padding: 20px 30px;

position: relative;

}

.confirm .botones {

margin-top: 15px;

}

.confirm .cerrar {

position: absolute;

top:0;

right:0;

display: none;

}




#tabs div.derecha
{
    float:right;
    clear: both;
    margin: 3px 0 3px 0;
}

p.spacer
{
    margin:0;
    padding:0;
    clear: both;
}


.sueltos .form-elem {
 margin-bottom:20px;
}

div.formulario_lista {
 text-align: left;
 width:600px;
 margin-left:-300px;
 background-color: #fff;
 border: 10px solid #ccc;
 display:none;
    -moz-box-shadow: 0px 0px 9px #999;
    -webkit-box-shadow: 0px 0px 9px #999;
    box-shadow:   0px 0px 9px #999;
    z-index: 50;
    
  
}
.ventana2 .form-elem {
 margin: 0 20px 20px 0;
}
textarea {
 resize: none;
}
div.formulario_lista .cerrar {
 top:0;
 right:0;
}


#reenvios {
 padding:0;
 padding-bottom: 20px;
}
#reenvios .form-set {
 padding: 20px 20px 0 20px;
 margin:0;
}
#reenvios .tabs {
 margin-bottom:10px;
}

input.disabled
{
    background-color:#eee;
}

/*
//// CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-set h2 {

font-weight: bold;

}

#ingreso {

padding:0;

padding-bottom: 20px;

}

#ingreso .form-set {

padding: 20px 20px 0 20px;

margin:0;

}

.elegir {

cursor: pointer;

margin-right:20px;

margin-left:-15px;

position: relative;

top:3px;

}



.home #contenido .cont-pad {

padding: 50px;

}

.home-bot {

float:left;

position: relative;

display: block;

padding: 30px;

height:250px;

cursor: pointer;

border: 1px solid #f9f9f9;

/*

    -webkit-border-radius: 15px;

    -moz-border-radius: 15px;

    border-radius: 15px;

    */

}

.home-bot:hover  {

border: 1px solid #ddd;

background-color: #f0f0f0;

text-decoration: none;

}

.home-bot .img-container {

height:230px;

width:100%;

}

.home-bot img {

    filter: alpha(opacity=40);

    -moz-opacity:   0.4;

    -khtml-opacity: 0.4;

    opacity: 0.4;

    margin: 0 auto;

}

.home-bot:hover img {

    filter: alpha(opacity=60);

    -moz-opacity:   0.6;

    -khtml-opacity: 0.6;

    opacity: 0.6;

}

.home-bot p {

text-align: center;

width:100%;

position: relative;

font-size: 14px;

text-transform: uppercase;

    filter: alpha(opacity=40);

    -moz-opacity:   0.4;

    -khtml-opacity: 0.4;

    opacity: 0.4;

}

.home-bot:hover p {

text-decoration: none;

    filter: alpha(opacity=100);

    -moz-opacity:   1;

    -khtml-opacity: 1;

    opacity: 1;

} 

.tblRoles td
{
    padding:3px;
    vertical-align:top;
} 
.fieldArea {
    height:30px;
    width:200px;
    padding: 3px; 
    border: 1px solid #bbb;
    font-size: 12px;
}
  
ul.listDet li
{
    display:inline-block;
    float:left;
    width:225px;
    margin:10px 5px;
    border:1px solid #ddd;
    padding:5px;
    background:#fff; 
}
ul.listDet li span 
{
    color:#000;
    padding-left:5px;
}
ul.listDet h3 
{
    font-weight:bold;
    color:#fff;
    background:#DD0000;
    text-shadow:none;
    padding:5px 10px;
}
ul.listDet li p 
{
    padding-top:10px;
    color:#777; 
}
.clearfix 
{
    clear:both;
}
.tblGen td
{
    padding:5px;
}
.padding 
{
    padding:10px;
}
.numero 
{
    font-size:18px;
    color:#999;
    background:#fff;
    padding:8px;
    border-left:3px solid #0086C1;
    border-bottom:1px solid #eee;
}
.numero span 
{
    color:#000;
    font-size:18px;
}
.numero2
{  
    background:#fff;
    padding:8px;
    border-left:3px solid #0086C1;
    border-bottom:1px solid #eee;
}
.numero2 .boton1
{
    padding:5px 15px 6px;
}
.numero2 input 
{
    margin-left:5px;
}
.tblGen2 
{
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    margin:20px 0;
}
.tblGen2 td 
{
    padding:5px;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    color:#666; 
}
.tblGen2 span 
{
    color:#000;
}
.tblGen2 tr td:first-child
{
    background:#fff; 
}
h2
{
    font-size:16px;
    font-weight:normal;
    padding-bottom:0px
}
.numero3 
{
    font-size:16px;
    color:#999; 
    padding-bottom:5px; 
    border-bottom:1px solid #eee;
    margin-bottom:20px;
}
.numero3 span 
{
    color:#000;
    font-size:18px;
}


.pager{ text-align:right; font-size:11px; color:#999; padding:10px 0}
.pager a{ text-decoration:none; margin:0 0 0 3px; color:#666666; border:1px solid #EBEBEB; padding:3px; background:#F7F7F7 url(../img/pager.jpg) 0 0 repeat-x}
.pager a:hover{ text-decoration:underline;}
.pager .Selected{ text-decoration:none;   color:#000; font-weight:bold; font-size:12px;}
.pager .Selected:hover{ text-decoration:none;  }
.pager .botonNav{  padding-right:5px; padding-left:5px; }

 .pdf {background:url(../img/pdf.png) 0 0 no-repeat; line-height:35px; padding:5px 0 6px 28px; color:#000;}
 .excel {background:url(../img/excel.png) 0 0 no-repeat; line-height:35px; padding:5px 0 6px 28px; color:#000;
         
         }

.fechas{ width:80px;}
.fechas{ width:80px;}.fechas{ width:80px;}

input[type=text] {
    height:20px;
    padding: 3px 7px;
    border:0;
    border: 1px solid #bbb;
    font-size: 12px;
}

 input[type=password] {
    height:20px;
    padding: 3px 7px;
    border:0;
    border: 1px solid #bbb;
    font-size: 12px;
}

.login{width:470px; /*margin:0px auto;*/position:relative; left:50%; margin-left:-235px; padding:20px; background:#fff; border:1px solid #EBEBEB; }
.login table{width:100%; margin:25px 0;}
.login h2 {border-bottom:5px solid #eee; padding-bottom:10px; color:#333; text-shadow:none}
.login table th {padding-bottom:10px;}
.login table td{padding:5px;} 
.login input[type=text], .login input[type=password] {padding:4px; font-size:12px; height:auto; width:200px}
.login p{text-align:center;}
.fechas{ width:80px;}


/** Crear Menus **/

.inlineContent 
{
    margin:20px 0;
    padding:10px;
    background:#fff;
    border-top:1px solid #E4E4E4;  
    border-bottom:1px solid #E4E4E4;  
}
select
{
    border:1px solid #ddd;
    padding:6px;
    min-width:150px;
        
} 
a.btnGen 
{
    text-decoration:none;
    background:#000;
    color:#fff; 
    padding:8px 10px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.btnGen:hover 
{
    background:#444;  
}
.inlineContent a.btnGen 
{
    margin-right:10px;
} 
#containerPanels{
    width: 100%; 
}
#left_panel{
    width: 18%;    
    height:605px;
    float: left; 
    padding: 3px; 
    background-color: #fff;
    border-top:1px solid #000;
    border-right:3px solid #ccc;
    overflow:auto;
}
#content     
{ 
    padding-left: 3px; 
    width: 80%;  
    float: left; 
    border-left:1px solid #ddd;
}
.updown 
{
    border-bottom:1px solid #ddd;
    padding:3px 0;
    text-align:right;
}
.updown a 
{
    margin-right:5px;
}
.mainContent 
{
    margin:0 10px;
}
.toolbar 
{    
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ddd;
    overflow:hidden;    
    background:#fff url(../img/toolbar.jpg) 0 0 repeat-x; 
}
.toolbar a 
{   
    display:block;
    line-height:35px;
    float:left; 
    border-right:1px solid #ddd;
    border-left:1px solid #fff; 
    color: #3a3a3a;
    padding:0 10px 0 32px;
    font-weight:normal; 
}
.toolbar a:hover 
{
    background-color:#fff;
    text-decoration:none;
    color: #0086C1;
}
.toolbar a.add 
{
    background-image:url(../img/plus.png);
    background-position:5px center;
    background-repeat:no-repeat;     
}
.toolbar a.remove 
{
    background-image:url(../img/cancel.png);
    background-position:5px center;
    background-repeat:no-repeat;     
}
.toolbar a.save 
{
    background-image:url(../img/save.png);
    background-position:5px center;
    background-repeat:no-repeat;     
}
.toolbar a.edit 
{
    background-image:url(../img/edit.png);
    background-position:5px center;
    background-repeat:no-repeat;     
}
.menuContent 
{
    border:1px solid #ddd;
    border-bottom:1px solid #ccc;   
    margin-top:15px;
    background:#fff;
}
#content h3 
{    
    padding:10px; 
    background:#0086C1;
    color:#fff;
    text-shadow:none; 
    font-weight:bold;
}
.padd 
{
    padding:20px;
    border-top:3px solid #fafafa;
}
.menuContent table td:first-child
{
    width:110px;
}
.menuContent table td 
{
    padding:3px 0;
    vertical-align:top;
}
.menuContent table input, .menuContent table textarea 
{
    border:1px solid #ddd;
    padding:6px;
    min-width:250px;
} 
.dActuales 
{
    background:#fafafa;
    border:1px solid #eee;
    padding:10px;
}
.dActuales h4
{
    color:#000;
}
.box 
{
    position:relative;
    padding-top:36px;
}
.box ul 
{
    overflow:hidden;    
    position:absolute;
    top:0;
    left:0;
    z-index:1
}
.box li 
{
    list-style:none;
    display:inline-block;
    float:left;     
}
.box li a
{
    display:block;
    padding:0 10px;
    line-height:35px;
    background:#fafafa; 
    border:1px solid #eee;
}
.box li a.active 
{
    background:#fff;
    border-bottom:1px solid #fff; 
}
.box .panel 
{   
    border-top:1px solid #eee;
    padding:15px;
    display:none; 
}
.box #ln1 
{
    display:block;
}



 
 /*por edwin lobos para las tablas con detalle de tabla*/
table.tblGenericoPrinc tr th
{
        font-weight: bold;
    background-color: #ddd;
    padding:8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    }

table.tblGenerico tr td 
{   padding:8px 12px;
    border: 1px solid #ccc;
    border-top : none;
    cursor: pointer;
}
    table.tblGenerico tr:hover {
    background-color: #eee;
}

/*fin tablas con detalle*/

.loaderGeneric{
 display:none; 
     
    width:100%;
    height:100%;
    position:absolute;
    z-index: 100;
    text-align: center;
    background: url(../img/loading.gif) 50% 15px no-repeat;
    background-color: #ddd;
    filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;
    
}


.jstree-hovered {
background-color: inherit !important;
border: 0 !important;
padding: 1px 2px !important;
}

.jstree-clicked {
background-color: navy !important;
}

.jstree li {
position: relative;
z-index: 20 !important;
}

#jstree-marker-line {
z-index: 10 !important;
}

table.dataInterno,table.dataExterno
{
    display:none;
}


/** NUEVOS **/

/*.comprador
{
     background:#A9DBAB;
}
.tarjeta
{
     background:#d1d1d1;
    }
.beneficiario, .beneficiarioExt
{
     background:#A6CADE;
    }
.pedido{ background:none;}
.fechas{ width:75px;}*/

.filtros table 
{
    margin-bottom:10px;
}
.filtros table td 
{
    padding:5px;
}

button 
{
    background:#EA6333;
    color:#fff;
    padding:5px 15px;
    border:0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}  
button:hover, a.button:hover,div.file:hover
{
    background:#F97242;
}
a.button 
{
    background:#EA6333;
    color:#fff;
    padding:6px 15px;
    border:0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
    text-decoration:none;
}  


div.file
{
    background:#EA6333;
    color:#fff;
    padding:6px 15px;
    border:0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
    text-decoration:none;
    position:relative;
    width:90px;
    }
div.file span
{
    color:White;
    cursor:pointer
    }
div.file input[type=file]
{
    position:absolute;
    cursor:pointer;
    left:0;
    opacity:0;
    width:100%;
    height:100%;
    top:0%
    }

.jm-opt 
{
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-bottom:1px solid #bbb;
    -webkit-border-radius: 5spx;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.jm-opt label 
{
    margin-right:10px;
    line-height:22px;
}

.jm-colsContent 
{   
    
    margin:15px 0; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    /*width:100%;
overflow-x:auto;*/
    border-bottom:1px solid #bbb;
}
.jm-colsContent table 
{
    width:100%; 
    border-right:1px solid #ddd;  
}
.jm-colsContent table th 
{
    padding:8px;    
 
    border-left:1px solid #fff;
    font-weight:bold;
    /*background:#D9E4DE;
    color:#024923; */
    background:#D3DFD8/*#C0D1C8*/;
    color:#024923; 
}
.jm-colsContent table td 
{
    padding:5px;
    border-left:1px solid #ddd;
}
.jm-colsContent table tr.jm-th2 td 
{
    background:#fff;
    color:#024923;
    font-weight:bold;
    border-bottom:1px solid #ddd;
}
.jm-colsContent table tr.jm-atl
{
    background:#eee;
} 
.jm-colsContent table tr.jm-th2:hover td 
{
    background:#fff;
} 

/*.jm-colsContent table th.pedido 
{
    background:#356D4F; 
}
.jm-colsContent table th.comprador 
{
    background:#67927B; 
}
.jm-colsContent table th.beneficiario 
{   
    background:#C0D1C8;
    color:#024923; 
}
.jm-colsContent table th.tarjeta 
{
    background:#D9E4DE;
    color:#024923; 
}*/
.jm-colsContent table .lr 
{
    border-right:2px solid #0086C1;
} 
.jm-dashboardTables .tabla 
{
    width:48%;
    float:left;
    margin-right:2%;
    float:left;
    background:#fff;   
    border-left:10px solid #024923;
}
.jm-dashboardTables .tabla td:last-child
{
    background:#f6f6f6;
}
.jm-dashboardTables .tabla tr:hover td
{
    background:#F3F6EE;
}
.jm-headerTitles 
{
    padding-top:20px;
}

/*para galeria de fotos*/
ul.listGal li {
    display:inline;
    float:left;
    margin:10px 15px;
    border:1px solid #eee;
    padding:10px;
    text-align:center;
    width:140px;
    max-height:140px;
    font-size:15px;
    color:#333;height:130px
}

ul.listGal li:hover, ul.listGal-det li:hover {
    border:1px solid #ccc;
}
ul.listGal img {
    margin:0px auto 5px auto;display:block;
}



div.nuevo 
{
    border: 1px solid #CCC;
padding: 10px;
margin: 5px;
border-radius: 5px
    }
.dvFieldsets fieldset {border: 1px solid #000;background:#FFF;
border-radius: 5px;min-height:200px;width:90%;margin:10px auto;box-shadow: 0px 0px 15px #CCC;
}
 .dvFieldsets fieldset legend 
{
    border: 1px solid #000;
padding: 5px;
border-radius: 5px;margin-left: 25px;background:white}

table.detallesInmueble 
{
    margin:25px;width:90%
    }
table.detallesInmueble td
    {
        padding:2px;
}
table.detallesInmueble input[type=text]
    {
        width:300px;border: 1px solid #CCC;padding: 4px
}
table.detallesInmueble textarea{width:100%; height:100px;border: 1px solid #CCC;}
table.detallesInmueble select
{
    width:310px;min-width:0px;
    border: 1px solid #CCC;padding: 4px
    }
    
.loaders
{
     width:20px;display:none;position:absolute   
}

ul .eliminar{position: absolute;
right: -20px;
top: -20px;cursor:pointer;width:20px}

input.eliminar{background-size: 26px 26px;
width: 26px;
height: 26px;
border: none;
}
div.shadow
{
border: 1px solid #ccc;
border-radius: 5px 5px 0px 0px;
box-shadow: 0px 0px 10px rgba(114, 114, 114, 0.53);
}

 .autoC
    {
        padding-left: 22px !important;
        background-image: url(../img/answer.png);
        background-repeat: no-repeat;
        background-position: 1%;
    }
    
div.add 
{
    overflow: auto;padding:10px 0px;
    }
    
 div.titulo h1
 {
     color: #F37500;
text-shadow: 0px 1px #CCC;
     }
     
.report fieldset
{
    border:1px solid #ccc
    }
.report fieldset legend
{
    margin-left:10px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:5px;
    font-weight:normal
    }

</style>


    <div id="contenido">

        <div class="cont-pad">
        
            

            <div class="login">
          <h1>Administración Vincubo</h1>
            <div class="sep">----</div>
                
<form action="/AdminVincubo/cuenta/login?ReturnUrl=%2fadminVincubo" method="post" novalidate="novalidate"><div class="validation-summary-valid" data-valmsg-summary="true" title="Revise los siguientes campos"><ul><li style="display:none"></li>
</ul></div>        <table cellpadding="0" cellspacing="0" class="tblGen">
           <tbody><tr>
            <td rowspan="5" style="width:140px;"><img src="http://sitio2.bitworks.com.sv/AdminVincubo/img/login.png" alt=""></td>
           </tr>        
        <tr>
            <td>Usuario: </td>
            <td><input data-val="true" data-val-required="El nombre de usuario es requerido" id="Usuario" name="Usuario" type="text" value=""></td>
        </tr>
         <tr>
            <td>Contraseña: </td>
            <td><input data-val="true" data-val-required="La contrase&amp;#241;a es requerida" id="Contrasena" name="Contrasena" type="password"></td>
        </tr>
       <tr>
            <td></td>
            <td><input type="button" class="boton1" value="Ingresar"> </td>
       </tr>
       <tr>
            <td></td>
            <td></td>
       </tr>
        </tbody></table> 
</form>   </div>
 
        </div>
    </div>


<div id="jstree-marker" style="display: none;">»</div><div id="jstree-marker-line" style="display: none;"></div><div id="vakata-contextmenu"></div><div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1279</span> x <span class="tooltipHeight" id="winHeight">774</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1279</span> x <span class="tooltipHeight" id="vpHeight">469</span></div></body></html>