
    <div class="col-lg-12 col-md-12  contentPrincipal">
      <h2>Editar mi perfil</h2>

      <div class="col-lg-12 col-mg-12">
        
        <%= form_for( :user, url: {action: "update"} ) do |f| %>
        <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>

        <div class="col-lg-6 col-md-6">
          <p>
            <label for="advert_title">Nombres</label><br />
            <%= f.text_field :name, :required => true %>
          </p>
         
          <p>
            <label for="advert_title">Apellidos</label><br />
            <%= f.text_field :lastname, :required => true %>
          </p>

          <p>
            <label for="advert_title">Email</label><br />
            <%= f.text_field :email %>
          </p>

          <!--<p>
            <label for="advert_title">Password</label><br />
            <%= f.password_field :password, :min => 1, :max => 20 %>
          </p>-->


          <p>
            <label for="advert_title">Ocupaci&oacute;n</label><br />
            <%= f.text_field :job %>
          </p>

          <p>
            <label for="advert_title">Acerca de m&iacute;</label><br />
            <%= f.text_area :about, :min => 1, :max => 20 %>
          </p>
          
        </div>

        <div class="col-lg-6 col-md-6">
          

          <p>
            <label for="advert_title">Referencias</label><br />
            <%= f.text_area :reference, :min => 1, :max => 20 %>
          </p>
          
          <p>
            <label for="advert_title">Telef&oacute;no</label><br />
            <%= f.text_field :phone, :min => 1 %>
          </p>

          <p>
            <label for="advert_title">Celular</label><br />
            <%= f.text_field :mobile %>
          </p>

          <p>
            <label for="advert_title">Fotograf&iacute;a</label><br />
            <%= f.file_field :image %>
          </p>

          <p>
            <%= f.submit "Guardar cambios", {:class => "simplebtn"}  %>
          </p>
         </div>

          
        <% end %>

      </div>

    </div>