<!DOCTYPE html>
<html>
  <head>
    <title>Vincubo - [Mensaje]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 
    <%= stylesheet_link_tag("style.css") %>
    <style>@import url("http://fonts.googleapis.com/css?family=Lato:100normal,100italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic&subset=latin&directory&text=+%2C-.0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz&directory");
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="col-lg-12 header">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo"></div>
      <div class="menu col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/administration/new">Subir espacio</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/administration">Mis espacios</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="#">Preguntas frecuentes</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/welcome/aboutus">Nosotros</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/login">Iniciar Sesi&oacute;n</a></div>
      </div>
    </div>

    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBackground">
      <div class="col-lg-2 col-lg-offset-2 photoProfile"></div>
      <div class="col-lg-4">
        <span class="profileName">Santiago Imberton</span>
        <br />
        <span class="job">Director ejecutivo</span>
      </div>
    </div>-->

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 contentPrincipal">
      <h2>Crea tu perfil</h2>

      <div class="col-lg-10 col-mg-10">
        
        <%= form_for :user, :url => {:action => 'new'}, :html => {:multipart => true}  do |f| %>

        <div class="col-lg-5 col-md-5">
          <p>
            <label for="advert_title">Nombres</label><br />
            <%= f.text_field :name, :required => true %>
          </p>
         
          <p>
            <label for="advert_title">Apellidos</label><br />
            <%= f.text_field :lastname, :required => true %>
          </p>

          <p>
            <label for="advert_title">Email</label><br />
            <%= f.text_field :email %>
          </p>

          <p>
            <label for="advert_title">Password</label><br />
            <%= f.password_field :password, :min => 1, :max => 20 %>
          </p>

          <p>
            <label for="advert_title">Ocupaci&oacute;n</label><br />
            <%= f.text_field :job %>
          </p>

          

        </div>

        <div class="col-lg-5 col-md-5">
          <p>
            <label for="advert_title">Acerca de m&iacute;</label><br />
            <%= f.text_area :about, :min => 1, :max => 20 %>
          </p>

          <p>
            <label for="advert_title">Referencias</label><br />
            <%= f.text_area :reference, :min => 1, :max => 20 %>
          </p>
          
          <p>
            <label for="advert_title">Telef&oacute;no</label><br />
            <%= f.text_field :phone, :min => 1 %>
          </p>

          <p>
            <label for="advert_title">Celular</label><br />
            <%= f.text_field :mobile %>
          </p>

          <p>
            <label for="advert_title">Fotograf&iacute;a</label><br />
            <%= f.file_field :image %>
          </p>

          <p>
            <%= f.submit "Registrarme"%>
          </p>
         </div>

          
        <% end %>

      </div>

    </div>
  

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer footerTwo">
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Equipa tu espacio</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Mis espacios</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Preguntas frecuentes</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Iniciar sesi&oacute;n</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">T&eacute;rminos y condiciones</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Subir un espacio</a></div>
    </div>
  </body>

</html>