

    <div class="saludo">
      <p>
      </p><h2>Hola!</h2>
      Tu información ha sido actualizada a:<br><br>

      Nombre: <%=@user.name%> <%= @user.lastname %><br>
      Email: <%=@user.email%><br><br>
      Para que completes el proceso de actualización de información de tu cuenta, por favor haz click en el siguiente enlace: <a class="vincubo" href="www.vincubo.com">www.vincubo.com</a><br><br>
      Gracias por utilizar Vincubo.<br><br>

      <a class="vincubo" href="www.vincubo.com">www.vincubo.com</a><br>
      <p></p>
    </div>

