-----
Hola!
-----

Tu información ha sido actualizada a:

Nombre: <%=@user.name%> <%= @user.lastname %>

Email: <%=@user.email%>


Para que completes el proceso de actualización de
información de tu cuenta, por favor haz click en el siguiente
enlace: www.vincubo.com ( www.vincubo.com )

Gracias por utilizar Vincubo.

www.vincubo.com ( www.vincubo.com )