

<div class="saludo">
  <p>
  </p><h2>Hola!</h2>
  Has restablecido tu contraseña con éxito.<br><br>
  Gracias por utilizar Vincubo.<br><br>

  <a class="vincubo" href="www.vincubo.com">www.vincubo.com</a><br>
  <p></p>
</div>