-----
Hola!
-----

Has solicitado restablecer tu contraseña.

Puedes restablecer tu contraseña copiando y pegando este enlace en tu navegador:
www.vincubo.com/login/confirm_password_reset?token=<%= @user.token %>

Si esta solicitud no fue hecha por ti, ignora este
correo.

Gracias por utilizar Vincubo.

www.vincubo.com ( www.vincubo.com )