

        <div class="saludo">
          <p>
          </p><h2>Hola!</h2>
          Has solicitado restablecer tu contraseña.<br><br>

          Puedes restablecer tu contraseña haciendo click aquí:<a class="vincubo" href="www.vincubo.com/login/confirm_password_reset?token=<%= @user.token %>">
          www.vincubo.com</a><br><br>

          O copia y pega este enlace en tu navegador:
          www.vincubo.com/login/confirm_password_reset?token=<%= @user.token %>

          Si esta solicitud no fue hecha por ti, ignora este correo.<br><br>

          Gracias por utilizar Vincubo.<br><br>

          <a class="vincubo" href="www.vincubo.com">www.vincubo.com</a><br>
          <p></p>
        </div>
