-----
Hola!
-----

Gracias por haber configurado tus preferencias. Como
Vincubo, te haremos más fácil la búsqueda de tu espacio. Te
recomendamos conocer más de los siguientes:


<% @adverts.each_with_index { |advert,index| %>
    EN <%=advert.negotationtype%>
    $<%=advert.price%>
    -------
    <%=advert.short_description%>

    Imagen: <%= advert.urlimage unless advert.urlimage.empty? %>

    -------------------
<%}%>

CONOCE MÁS ( www.vincubo.com )