<!DOCTYPE html>
<html>
  <%= render "shared/header" %>

  <body>
    <%= render "shared/menu" %>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 introMessage">
      <div class="aboutus shadow">La nueva plataforma que <strong>empodera</strong> el futuro del sector inmobiliario</div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top30 aboutusContent">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>NOSOTROS</h2>
      </div>


      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 75px;">
        <h5><div class="markerpin"><span>1</span></div>Cientos de propiedades en lista</h5>
        <p>Busca dentro de los listados m&aacute;s importantes del pa&iacute;s en un solo lugar. Tenemos la informaci&oacute;n precisa y actualizada que te ayudar&aacute; a escoger tu nuevo espacio.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/001.png" height="300px;"></img>
      </div>


      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/003.png" height="300px"></img>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 50px;">
        <h5><div class="markerpin"><span>2</span></div>Una manera simple de b&uacute;squeda</h5>
        <p>Con&eacute;ctate desde t&uacute; quieras y cuando t&uacute; quieras a nuestra plataforma para iniciar tu b&uacute;squeda personalizada</p>
      </div>



      
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 50px;">
        <h5><div class="markerpin"><span>3</span></div>Escoge tus espacios favoritos</h5>
        <p>Elige las propiedades que m&aacute;s te gusten para compararlos en un mismo lugar. Configura tus preferencias y te enviaremos propiedaes nuevas en lista que cumplan con tus criterios.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/002.png" height="300px;"></img>
      </div>


      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/004.png" height="300px;"></img>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 50px;">
        <h5><div class="markerpin"><span>4</span></div>Cont&aacute;cta y disfruta</h5>
        <p>Contacta directamente al encargado del espacio que m&aacute;s te guste, solicita informaci&oacute;n o una visita directamente desde nuestra plataforma y adquiere tu nuevo espacio.</p>
      </div>
      


      <hr />

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2><div class="orange"> Eres un intermediario? </div></h2>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 75px;">
          <h5><div class="markerpin"><span>1</span></div>Lleva tus espacios al cliente</h5>
          <p>Sube tus espacios a Vincubo brindando a tus clientes un tour virtual de tu espacio</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
          <img src="/images/aboutus/005.png" height="275px;"></img>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/006.png" style="width: 100%"></img>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 40px;">
        <h5><div class="markerpin"><span>2</span></div>Tu propio portafolio de espacios</h5>
        <p>Lleva el control de tus propiedades abiertas en el mercado como tu historial de espacios cerrados.</p>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 40px;">
        <h5><div class="markerpin"><span>3</span></div>Obt&eacute;n un perfil profesional</h5>
        <p>Levanta tu perfil detallando tu experiencia, logros, reconocimientos y una breve descripci&oacute;n de tu trabajo para que puedas colocar m&aacute; r&aacute;pido tus espacios.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/007.png" height="300px;"></img>
      </div>


      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <img src="/images/aboutus/008.png" height="300px"></img>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 height300" style="padding-top: 65px;">
        <h5><div class="markerpin"><span>4</span></div>Coloca tu espacio efectivamente</h5>
        <p>Prep&aacute;rate para atender a muchos prospectos y colocar tus espacios de una forma eficiente y r&aacute;pida.
      </div>
      





    </div>

    <%= render "shared/footer" %>

  </body>

</html>