<!DOCTYPE html>
<html>
  <%= render "shared/header" %>

<style>
h3, h4{
	padding-top: 20px;
}

</style>

  <body>
    <%= render "shared/menu" %>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 " style="padding-top: 75px;">



<h3>¿Qué es Vincubo?</h3>

<p>Vincubo es una plataforma que vincula a personas con espacios inmobiliarios de manera intuitiva, eficiente y gratis a través de tecnología. </p>

<p>Basamos nuestro modelo en la eficiencia. Eso significa proveer a nuestros usuarios una plataforma centralizada de espacios inmobiliarios disponibles con herramientas digitales e información del mercado en tiempo real que permite encontrar y comercializar espacios en menos tiempo. </p>

<p>Descubre cómo tú puedes ser parte de Vincubo.</p>

<h3>Comprador/Arrendatario</h3>

<h4>¿Quién es un comprador/arrendatario y por qué debo crear una cuenta Vincubo?</h4>

<p>Un Comprador/Arrendatario es un usuario que desea encontrar un espacio inmobiliario que satisface sus necesidades. Con Vincubo podrás hacer tu búsqueda más eficiente, intuitiva, y personalizada a través de nuestro programa de Exploradores de Espacio y las herramientas digitales ubicadas en tu portal “Mis Espacios”.</p>

<p>Crear una cuenta en Vincubo es sencillo y gratis.</p>

<p>Con Vincubo podrás:</p>

<ul>
	<li>Ver tours digitales, descripciones detalladas de nuestros espacios y las zonas donde se ubican</li>

<li>Seleccionar y monitorear tus espacios favoritos y mantenerte al día con las  actualizaciones de precios y disponibilidad.</li>

<li>Recibir notificaciones de espacios nuevos publicados con las especificaeones que buscas.</li>


</ul>





<h4>¿Cómo agregar a “Mis Favoritos” y monitorear los espacios que me
gustan?</h4>

<p>¡Es muy sencillo! Cuando encuentres un espacio que te gusta y lo quieras monitorear, 
solo haces click en la estrella ubicada en la esquina superior derecha en cada una de las propiedades que te interesan. </p>

<p>¡Listo! Ahora ya la podrás encontrar en tu portal “Mis Espacios” bajo “Favoritos” y monitorear cada actualización!</p>

<h4>¿Cómo actualizar el perfil de mis datos personales como mi nombre, contraseña, etc.?</h4>

<p>¡Es muy sencillo! Solo ingresas a tu portal “Mis Espacios”, bajo “Mi Cuenta” podrás cambiar tu información personal; cuando termines guardas los cambios y listo, te enviaremos un correo de confirmación.</p>

<h4>¿Cómo mantiene Vincubo su base de espacios limpia y actualizada?</h4>

<p>La calidad de nuestra base de espacios es lo más importante en Vincubo; mostrarte únicamente propiedades disponibles es nuestro compromiso. Por esta razón, cada espacio es aprobado por nuestros analistas y exploradores antes de ser publicados.Nos aseguramos que los espacios publicados en Vincubo tengan un sistema de reactivación de acuerdo a su propietario o estado de disponibilidad.</p>

<h4>¿Cada cuánto la información en Vincubo es actualizada?</h4>

<p>La calidad de nuestros listados es lo que más nos importa en Vincubo; mostrarte únicamente propiedades disponibles es algo muy importante para nosotros. Es por esto que cada propiedad listada es validada periódicamente por nuestros analistas. Los espacios listados directamente en Vincubo tienen un sistema de reactivación de 
acuerdo a cada usuario.</p>


<h4>¿Si encuentro un espacio inapropiado o un espacio “fantasma”, cómo lo reporto? </h4>

<p>¡No hay problema! Solo haz click en el botón de “Reportar esta publicación” al final de cada página, escribes la razón por la cual estás reportando y listo. Nosotros tomamos acción y nos encargamos de las medidas necesarias.</p>

<h3>Propietarios</h3>

<h4>¿Quién es un Propietario y por qué debo crear una cuenta en Vincubo?</h4>

<p>Crear una cuenta de propietario en Vincubo es totalmente gratis! Un propietario que desea vender o arrendar un espacio inmobiliario podrá comercializarlo a través de Vincubo de manera muy simple, intuitiva y eficiente!</p>

<p>Con Vincubo podrás:</p>

<ul>
	<li>Publicar tus espacios vacantes directamente en Vincubo con un formato sencillo y rápido.</li>
	<li>Obtener asesoramiento a través de nuestro programa de Exploradores de Espacios que es totalmente enfocado en optimizar el proceso de comercialización con la mejor información del mercado inmobiliario actual.</li>
	<li>Ahorrar dinero al cerrar la transacción y pagar una comisión muy por debajo de lo que cobra el resto del mercado de agentes y corredores inmobiliarios! Estamos aquí para ayudarte y formar equipo!</li>
</ul>

<h4>Tipos de Propietarios</h4>
<ul>
	<li>Individuos que deseen comercializar algún(os) espacios vacantes</li>

	<li>Desarrolladores de proyectos inmobiliarios</li>

	<li>Instituciones Financieras que deseen comercializar sus activos extraordinarios vacantes</li>
</ul>


<h4>¿Cómo publico un espacio para que se comercialice en Vincubo?</h4>

<p>¡Es muy fácil! Solo debes hacer click en “Publicar Espacio” en el navegador en el encabezado de la página Vincubo, aceptas nuestros términos y condiciones y listo! 

Luego un explorador de espacios se pondrá en contacto para validar la información e iniciar el proceso de comercialización de tu espacio en el menor tiempo posible y de la manera más eficiente!</p>


<h4>¿Cómo puedo editar la información de mis espacios publicados en
Vincubo?</h4>

<p>Si ya has publicado tus espacios en Vincubo y quieres cambiar el precio o alguna característica, solo ve a “Mis Espacios Publicados” y selecciona el espacio que quieras editar, y solo haz click en el ícono de “Editar”. Te enviaremos un correo de confirmación en menos de 24 horas después de que uno de nuestros analistas valide el cambio.</p>

<h4>¿Cómo actualizar el perfil de mis datos personales como mi nombre, contraseña, etc.?</h4>

<p>¡Es muy sencillo! Solo ingresas a tu portal “Mis Espacios”, bajo “Mi Cuenta” podrás cambiar tu información personal; cuando termines guardas los cambios y listo, te enviaremos un correo de confirmación.</p>



<h3>Exploradores</h3>

<h4>¿Quién es un Explorador Vincubo?</h4>

<p>Un Explorador Vincubo es un orientador, analista y un especialista en la búsqueda y en la colocación de espacios. Puedes pedir el servicio de un explorador para que te asesore de forma gratuita en el camino de la búsqueda si eres un Comprador/Arrendatario, o en la colocación de tu espacio si eres un Propietario a una tasa muy baja. Podrás encontrar el catálogo de nuestros Exploradores bajo la sección “Exploradores” en el encabezado principal; él o ella se encargará de satisfacer todas tus necesidades en menos tiempo que lo que ofrece el mercado.</p>

<h4>¿En qué áreas los Exploradores me pueden ayudar?</h4>

<p>Por el momento los Exploradores están disponibles en San Salvador.</p>

<h4>Si tengo una pregunta de un espacio que ya visité, ¿A quién contacto?</h4>

<p>Puedes contactar al Explorador que te lo mostró en un principio. Puedes encontrar el contacto de tu Explorador Vincubo en el encabezado principal en “Exploradores”.</p>

<h4>¿Cómo me podría poner en contacto con un Explorador Vincubo?</h4>

<p>Puedes encontrar el catálogo de Exploradores Vincubo en el encabezado principal bajo “Exploradores”. En esta sección se muestra la lista de cada uno de nuestros expertos y sus respectivos perfiles. Conócelos, están para servirte.<p>





</div>

<%= render "shared/footer" %>

  </body>

</html>



















