<!DOCTYPE html>
<html>
	<%= render "shared/header" %>

	<body>
		<%= render "shared/menu" %>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 introMessage">
			<div class="message">Encuentra tu espacio</div>
			
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 selection">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

					<%= form_for (@state) , :url => {:action => 'index'}, :html => {:multipart => true}  do |f| %>
					<div class="col-md-3 col-sm-6 col-xs-6 ">
						<div class="selectStyle">
						<select id="housetype">
						    <option value="" disabled selected>Tipo de Espacio</option>
						    <option value="Apartamento">Apartamento</option>
			                <option value="Bodega">Bodega</option>
			                <option value="Casa">Casa</option>
			                <option value="Casa de Recreo">Casa de Recreo</option>
			                <option value="Local Comercial">Local Comercial</option>
			                <option value="Nave Industrial">


Nave Industrial</option>
			                <option value="Oficina/Clinica">Oficina/Clinica</option>
			                <option value="Terreno">Terreno</option>
						</select>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="selectStyle">
						<%= f.collection_select :id, State.all.order('name ASC'), :id, :name,  {:include_blank => 'Departamento'} %>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-6 ">
						<div class="selectStyle">
						<select id="zones">
						    <option value="" disabled selected>Zona</option>
						    <option value="hurr"></option>
						</select>
						</div>
					</div>
					<% end %>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
						<input type="button" id="submit"  value="BUSCAR"/>
					</div>
					
					
				</div>

				<div class="col-lg-12 col-md-12 featuredAreas">
					<div>
						<span class="orange uppercase">Zonas destacadas</span>
						<a href="/advert/map?town_id=98&negotationtype=Venta&state_id=6&price=0&rooms=undefined&bathrooms=undefined&pricefrom=&priceto=&housetype=&zone=70&page=1">Escal&oacute;n</a> |
						<a href="/advert/map?town_id=98&negotationtype=Venta&state_id=6&price=0&rooms=undefined&bathrooms=undefined&pricefrom=&priceto=&housetype=&zone=84&page=1">San Benito</a> |
						<a href="/advert/map?town_id=98&negotationtype=Venta&state_id=6&price=0&rooms=undefined&bathrooms=undefined&pricefrom=&priceto=&housetype=&zone=80&page=1">Miramonte</a> |
						<a href="#">Antiguo Cuscatl&aacute;n</a> |
						<a href="#">Merliot</a> |
						<a href="/advert/map?state_id=6&housetype=&zone=120">Soyapango</a>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow: hidden;margin-top: 150px">
				<%= render "shared/index" %>
			</div>
		</div>

		<div class="col-lg-12 col-md-12 description">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="advantages"></div>
				<h3>Producto</h3>
				<span>Vincubo es una plataforma que ofrece a sus usuarios las herramientas necesarias para encontrar y comercializar espacios inmobiliarios, tales como organizadores digitales para facilitar el proceso, tours digitales de los espacios e información del mercado inmobiliario en tiempo real. </span>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="products"></div>
				<h3>Tus ventajas</h3>
				<span>

					<ul class="centerList">
						<li>Menos tiempo desperdiciado</li>
						<li>Menos dinero gastado</li>
						<li>M&aacute;s claridad en el proceso</li>
						<li>M&aacute;s información del mercado</li>
					</ul>

				</span>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="userTypes"></div>
				<h3>Tipos de usuario</h3>
				<span><ul>

					<li>COMPRADOR/ARRENDATARIO: Con Vincubo podrás encontrar tu espacio ideal de forma eficiente e intuitiva</li>
					<li>PROPIETARIO: Coloca tus espacios en menos tiempo, a una tasa muy baja por medio de nuestros exploradores.</li>

				</ul></span>
			</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 preFooter">
			<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12" style="padding-top: 50px;padding-bottom: 25px;">
					<h2>Soy un <span>Propietario</span> y quiero comercializar mis espacios de forma más eficiente</h2>
				
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="login">
					<div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 registerIndex" style="margin-bottom: 50px;">PROCEDER</div>
				</div>
			</div>
		</div>

		<%= render "shared/footer" %>
		
        <div id="dialog"></div>
	</body>

</html>

<style>
	option{
		background-color: black;
	}
</style>

<script>
$(function(){
	var originalH = $(".introMessage").height();
	if(originalH +10 < $(window).height() ) 
	  $(".introMessage").height(  $(window).height()  );
	else
	  $(".introMessage").height( originalH +10 )

	$("#submit").on("click", function(){
		window.location = '/advert/map?state_id=' + $("#state_id").val() + "&housetype=" + ( $("#housetype").val() == null ? "" :  $("#housetype").val()) + "&zone=" +  ($("#zones").val() == null ? "" : $("#zones").val() )   ;

	});


	var opt = {
      autoOpen: false,
      modal: true,
      title: '',
      draggable: false,
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );

        $dialogOverlay = $(".ui-widget-overlay").last();
            $dialogOverlay.unbind();
            $dialogOverlay.click(function(){
                $("#dialog").dialog("close");
            });

      },
    };
    
    $("#dialog").dialog(opt);

    $(".displayAdvert").on("click",function(){
      var id = $(this).attr("id").split("-")[1];
      $.ajax({
          type: 'GET',
          url: '/detail/detail/' + id ,
          success: function(data){
            $("#dialog").html(data);
            $("#dialog").dialog("open");
            $(".ui-dialog-titlebar").hide();
        }
      });
    });


    $("#state_id").on("change", function(){
    	
    	$.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbystate?state_id=' + $("#state_id").val() ,
          success: function(data){
          	$("#zones").empty();
          	for(var i=0; i< data.data.length; i++){
          		$("#zones").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
          	}
	      }
	    });

    });



});

</script>