<!DOCTYPE html>
<html>
  <head>
    <title>Vincubo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 

    <%= stylesheet_link_tag("jquery-ui.css") %>

    <%= stylesheet_link_tag("style2.css") %>
    <style>
      @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
    </style>
    
    <%= javascript_include_tag "base/jquery.min.js" %>
    <%= stylesheet_link_tag "base/bootstrap.min.css" %>
    <%= javascript_include_tag "base/bootstrap.min.js" %>
    <%= javascript_include_tag "base/jquery-ui.min.js" %>
    
    <%= javascript_include_tag 'login' %> 
  </head>

  <body>
    <%= render "shared/menu2" %>
    <%= render "shared/title" %>

    <%= render "shared/profile" %>

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 content">
      
      <%= yield %>

    </div>


    

    <%= render "shared/footer" %>
  </body>

</html>
