<!DOCTYPE html>
<html>
  <%= render "shared/header" %>

<style>
.content{
  margin-top: 100px;
}

select{
  width: 100px;
  height: 32px;
  padding-left: 5px;
  font-size: 12px;
}
</style>

  <body>
    <%= render "shared/menu" %>
    <%= render "shared/title" %>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content" style="padding: 0!important;margin-top: 0px;">
      
      <%= yield %>

    </div>

    <%= render "shared/footer" %>
  </body>

</html>
