<!DOCTYPE html>
<html>
  <%= render "shared/header" %>

  <body>
    <%= render "shared/menu" %>
    <%= render "shared/title" %>

    <%= render "shared/profile" %>

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 content">
      
      <%= yield %>

    </div>


    

    <%= render "shared/footer" %>
  </body>

</html>
