<link rel="stylesheet" href="mail/estilo.css" />
<div class="wrapper">
  <div class="header">
    <div class="logo_vincubo"></div>
  </div>

  <img src="/images/mail/header_img.jpg">

  <div class="content">
    <%=yield%>
  </div>

  <h6>Tienes preguntas, no dudes en contactarnos a <a href="mailto:info@vincubo.com">info@vincubo.com</a></h6>
</div>