<script>

  $(function(){

    $(".viewcontact").on("click",function(){
      $(".contact").toggle();
      $(".money").digits();
    });

    $(".money").digits();

    $(".pointer").click(function(){

      var div = $($(this).children()[0]);
      if( $(div).hasClass("star") ){

        $.ajax({
          type: 'GET',
          dataType: "json",
          url: '/favorites/new?id=<%=@entry.id%>',
          success: function(data){
            $(div).removeClass("star");
            $(div).addClass("graystar");
            $(".text").text("Remover de favoritos");
          }
        });
      }else{

        $.ajax({
          type: 'GET',
          dataType: "json",
          url: '/favorites/destroy?id=<%=@entry.id%>',
          success: function(data){
            $(div).removeClass("graystar");
            $(div).addClass("star");
            $(".text").text("Agregar a favoritos");
          }
        });

      }

    });

  });


</script>


<div class="pointer" style="margin-right: 80px;">
    <% if(!@user.favorite_adverts.include?(@entry) ) %>
      <div class="star fright"></div>
      <span class="fright f12 text">Agregar a favoritos</span>
    <% else %>
      <div class="graystar fright"></div>
      <span class="fright f12 text">Remover de favoritos</span>
    <% end %>
</div>


<% if @entry.adverttype == 1 %>

<div class="col-lg-12 col-md-12 padding0">

    <div class="inlineBlock" style="margin-left: 28px;margin-bottom: 10px;">
      <h4><%= @entry.housetype %> en <%= @entry.negotationtype %></h4>
      <div class="area" style="height: 18px;float: left;margin-top: -10px;"></div>
      <span class="littleDescription fleft" style="margin-top:-10px">
        <% if @entry.zone != nil  %>
            <%= @entry.zone.zonename %> 
          <% elsif @entry.town != nil %>
            <%= @entry.town.name %> 
          <% end %>
      </span> 
    </div>



    <div class="" style="margin-top: 7px;margin-left: 20px;"> 
      <% if @entry.housetype == "Casa" || @entry.housetype == "Apartamento" || @entry.housetype == "Casa de Recreo" %>

        <!--<div class="square" style="background-size: 114%;"> -->
        <div class="gTableLeft">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;">
              <%= (@entry.rooms == nil || @entry.rooms < 1 ) ? "-" : @entry.rooms %> </div>
            <div class="item" style="font-size: 9px;margin-left: -3px;">Habitaciones</div>
          </div>
        </div>
        <div class="gTableCenter">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;margin-left: 6px;">
              <%= (@entry.rooms == nil || @entry.bathroom < 1) ? "-" : @entry.bathroom %></div>
            <div class="item" style="">Ba&ntilde;os</div>
          </div>
        </div>
        <div class="gTableRight">
          <div class="inlineBlock ">

            <% if(@entry.price == nil) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money">-</span></div>
            <%elsif(@entry.price > 1000) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= @entry.price %></span></div>
            <% else %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= @entry.price %></span></div>
            <% end %>

            <div class="item">Precio</div>
          </div>
        </div>
        <!--</div>-->
      <% elsif @entry.housetype == "Local Comercial" || @entry.housetype == "Oficina/Clinica"  || @entry.housetype == "Bodega" %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px">
            <%= ( (@entry.areamts == "" || @entry.areamts == nil )  ? "-" : @entry.areamts ) %> M<sup>2</sup> 
            </span>
            </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <% if @entry.housetype != "Bodega" %>
          <div class="gTableCenter">
            <div class="bathrooms" style="margin-top: -5px;margin-bottom: -4px;"><span style="margin-left: -20px;font-size:10px;">-<span></div>
            <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
          </div>
        <% end %>
        <div class="gTableRight">
          <div class="price" style="margin-top: -5px;margin-bottom: -4px;">
            <span style="font-size:10px">$</span><span class="money" style="font-size:10px;"><%= @entry.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% elsif @entry.housetype == "Nave Industrial"  %>
      
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (@entry.areavrs == nil || @entry.areavrs < 1 ) ? "-" : @entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if @entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
        
      <% elsif @entry.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (@entry.areavrs == nil || @entry.areavrs < 1 ) ? "-" : @entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if @entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
        <%else%>

        
      <% end %>
    </div>

  <br />
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inlineBlock borderTopBottom">
              <% if @entry.assets.count > 0 %>
                <img style="width:250px;" class="thumbnail100" src="<%= @entry.assets[0].asset %>" />
              <% else %>


                <% if (@entry.urlimage != nil && @entry.urlimage != "undefined" && @entry.urlimage != "") %>
                  <img style="width:250px" class="thumbnail" src="<%= @entry.urlimage %>">
                <% else %>
                  <img class="thumbnail" />
                <% end %>

              <% end %>

              
  </div>


  <div class="inlineBlock width100">
      <div class="simplebtn" style="margin: 6px auto;margin-left: 60px;"><a style="color:white" href="/administration/<%=@entry.id%>">Ver Detalle</a></div>
  </div>

  <div class="inlineBlock width100">
      <div class="simplebtn viewcontact" style="margin: 6px auto;margin-left: 60px;">Ver contacto</div>
  </div>

  <div class="mleft contact" style="display: none">
    <span class="bold block">Contacto:</span>

    <%if @entry.user == nil %>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Email: <%= @entry.email%> </span>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Teléfono: <%= @entry.phone%> </span>
    <% else %>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Email: <%= @entry.user.email%> </span>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Teléfono: <%= @entry.user.phone%> </span>
    <% end %>


  </div>


  <div class="inlineBlock width100 tcenter"  >
    <span class="tcenter lightDescription block">
      <% if (@entry.originaldate.to_s.length < 12 ) %>
        Publicado: <%= Date.strptime( @entry.originaldate.to_s).strftime("%d-%m-%Y") %>
      <% else %>
        Publicado: <%= @entry.originaldate.strftime("%d-%m-%Y") %>
      <% end %>
    </span>
    <br />
    <span class="tcenter lightDescription block">
      Fuente: <a target="_blank" href="<%=@entry.originalsource%>"><%=@entry.originalsite%></a>
    </span>
  </div>

  </div>



<% end %>

<% if @entry.adverttype == 2 || @entry.adverttype == nil || @entry.adverttype == "" %>


  <div class="col-lg-12 col-md-12 padding0">

    <div class="inlineBlock" style="margin-left: 28px;margin-bottom: 10px;">
      <h4><%= @entry.housetype %> en <%= @entry.negotationtype %></h4>
      <div class="area" style="height: 18px;float: left;margin-top: -10px;"></div>
      <span class="littleDescription fleft" style="margin-top:-10px"><%= @entry.housetype %> - 
        <% if @entry.zone != nil  %>
            <%= @entry.zone.zonename %> 
          <% elsif @entry.town != nil %>
            <%= @entry.town.name %> 
          <% end %>
      </span> 
    </div>

        <div class="" style="margin-top: 7px;margin-left: 20px;"> 
      <% if @entry.housetype == "Casa" || @entry.housetype == "Apartamento" || @entry.housetype == "Casa de Recreo" %>

        <!--<div class="square" style="background-size: 114%;"> -->
        <div class="gTableLeft">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;">
              <%= (@entry.rooms == nil || @entry.rooms < 1 ) ? "-" : @entry.rooms %> </div>
            <div class="item" style="font-size: 9px;margin-left: -3px;">Habitaciones</div>
          </div>
        </div>
        <div class="gTableCenter">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;margin-left: 6px;">
              <%= (@entry.rooms == nil || @entry.bathroom < 1) ? "-" : @entry.bathroom %></div>
            <div class="item" style="">Ba&ntilde;os</div>
          </div>
        </div>
        <div class="gTableRight">
          <div class="inlineBlock ">

            <% if(@entry.price == nil) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money">-</span></div>
            <%elsif(@entry.price > 1000) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= @entry.price %></span></div>
            <% else %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= @entry.price %></span></div>
            <% end %>

            <div class="item">Precio</div>
          </div>
        </div>
        <!--</div>-->
      <% end %>

      <% if @entry.housetype == "Local Comercial" || @entry.housetype == "Oficina/Clinica" || @entry.housetype == "Bodega"%>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px">
            <%= ( (@entry.areamts == "" || @entry.areamts == nil )  ? "-" : @entry.areamts ) %> M<sup>2</sup> 
            </span>
            </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <% if @entry.housetype != "Bodega" %>
          <div class="gTableCenter">
            <div class="bathrooms" style="margin-top: -5px;margin-bottom: -4px;"><span style="margin-left: -20px;font-size:10px;">-<span></div>
            <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
          </div>
        <% end %>
        <div class="gTableRight">
          <div class="price" style="margin-top: -5px;margin-bottom: -4px;">
            <span style="font-size:10px">$</span><span class="money" style="font-size:10px;"><%= @entry.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>

      <% if @entry.housetype == "Nave Industrial"   %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -2px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (@entry.areavrs == nil || @entry.areavrs < 1 ) ? "-" : @entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if @entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money" style="margin-left:0px!important;f"><%= @entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% end %>
            
      <% if @entry.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (@entry.areavrs == nil || @entry.areavrs < 1 ) ? "-" : @entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if @entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% end %>
    </div>
    <!--<div class="inlineBlock" style="padding-left: 28px;"> 
        <div class="genericTableLeft paddingStandar">
          <div class="rooms" style="margin: 0;font-size: 16px;"> 
            <% if (@entry.rooms == nil || @entry.rooms == 0.0) %>
              <span>-</span>
            <% else %>
              <span><%= @entry.rooms %> </span>
            <% end %>
          </div>
          <div class="item littleDescription">Habitaciones</div>
        </div>
        <div class="genericTableCenter paddingStandar">
          <div class="bathrooms" style="margin: 0;font-size: 16px;"> 
            <% if (@entry.bathroom == nil || @entry.bathroom == 0.0) %>
              <span>-</span>
            <% else %>
              <span><%= @entry.bathroom %> </span>
            <% end %>
          </div>
          <div class="item littleDescription">Baños</div>
        </div>
        <div class="genericTableRight paddingStandar">
          <div class="price" style="margin: 0;font-size: 16px;">
            <span>$</span><span class="money"><%= @entry.price %></span>
          </div>
          <div class="item littleDescription">Precio</div>
        </div>
      </div>-->
  <br />
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inlineBlock borderTopBottom">
              <% if @entry.assets.count > 0 %>
                <img style="width:250px;" class="thumbnail100" src="<%= @entry.assets[0].asset %>" />
              <% else %>


                <% if (@entry.urlimage != nil && @entry.urlimage != "undefined" && @entry.urlimage != "") %>
                  <img class="thumbnail" style="width: 250px;" src="<%= @entry.urlimage %>">
                <% else %>
                  <img class="thumbnail" />
                <% end %>

              <% end %>

              
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <p style="font-weight: 300;font-size: 13px;"><%= @entry.description %></p>
  </div>

  <div class="inlineBlock width100">
    
    
      <div class="simplebtn viewcontact" style="margin: 6px auto;margin-left: 60px;">Ver contacto</div>
    

  </div>

  <div class="mleft contact" style="display: none">
    <span class="bold block">Contacto:</span>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Email: <%= @entry.email%> </span>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Teléfono: <%= @entry.phone%> </span>
  </div>

  <div class="inlineBlock width100 tcenter"  >
    <span class="tcenter lightDescription block">
      <% if !((@entry.originalsource == nil || @entry.originalsource == "") && @entry.fromexcel == false) %>
      Publicado: <%= Date.strptime( @entry.originaldate.to_s).strftime("%d-%m-%Y") %>
      <% else %>
      Publicado: <%= Date.strptime( @entry.created_at.to_s).strftime("%d-%m-%Y") %>
      <%end%>
    </span>
    <br/>
    <span class="tcenter lightDescription block">
      Fuente: <a target="_blank" href="<%=@entry.originalsource%>"><%=@entry.originalsite%></a>
    </span>
  </div>

  </div>





<% end %>











<% if @entry.adverttype == 3 %>
<div class="col-lg-12 col-md-12 padding0">

    <div class="inlineBlock" style="margin-left: 28px;margin-bottom: 10px;">
      <h4><%= @entry.housetype %> en <%= @entry.negotationtype %></h4>
      <div class="area" style="height: 18px;float: left;margin-top: -10px;"></div>
      <span class="littleDescription fleft" style="margin-top: -10px;"><%= @entry.housetype %> - 
        <% if @entry.zone != nil  %>
            <%= @entry.zone.zonename %> 
          <% elsif @entry.town != nil %>
            <%= @entry.town.name %> 
          <% end %>
      </span> 
    </div>
    <!--<div class="inlineBlock" style="padding-left: 28px;"> 
        <div class="genericTableLeft paddingStandar">
          <div class="rooms" style="margin: 0;font-size: 16px;"> 
            <% if (@entry.rooms == nil || @entry.rooms == 0.0) %>
              <span>-</span>
            <% else %>
              <span><%= @entry.rooms %> </span>
            <% end %>
          </div>
          <div class="item littleDescription">Habitaciones</div>
        </div>
        <div class="genericTableCenter paddingStandar">
          <div class="bathrooms" style="margin: 0;font-size: 16px;"> 
            <% if (@entry.bathroom == nil || @entry.bathroom == 0.0) %>
              <span>-</span>
            <% else %>
              <span><%= @entry.bathroom %> </span>
            <% end %>
          </div>
          <div class="item littleDescription">Baños</div>
        </div>
        <div class="genericTableRight paddingStandar">
          <div class="price" style="margin: 0;font-size: 16px;">
            <span>$</span><span class="money"><%= @entry.price %></span>
          </div>
          <div class="item littleDescription">Precio</div>
        </div>
      </div>-->
          <div class="" style="margin-top: 7px;margin-left: 20px;"> 
      <% if @entry.housetype == "Casa" || @entry.housetype == "Apartamento" || @entry.housetype == "Casa de Recreo" %>

        <!--<div class="square" style="background-size: 114%;"> -->
        <div class="gTableLeft">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;">
              <%= (@entry.rooms == nil || @entry.rooms < 1 ) ? "-" : @entry.rooms %> </div>
            <div class="item" style="font-size: 9px;margin-left: -3px;">Habitaciones</div>
          </div>
        </div>
        <div class="gTableCenter">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;margin-left: 6px;">
              <%= (@entry.rooms == nil || @entry.bathroom < 1) ? "-" : @entry.bathroom %></div>
            <div class="item" style="">Ba&ntilde;os</div>
          </div>
        </div>
        <div class="gTableRight">
          <div class="inlineBlock ">

            <% if(@entry.price == nil) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money">-</span></div>
            <%elsif(@entry.price > 1000) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= @entry.price %></span></div>
            <% else %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= @entry.price %></span></div>
            <% end %>

            <div class="item">Precio</div>
          </div>
        </div>
        <!--</div>-->
      <% end %>

      <% if @entry.housetype == "Local Comercial" || @entry.housetype == "Oficina/Clinica" || @entry.housetype == "Bodega"  %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px">
            <%= ( (@entry.areamts == "" || @entry.areamts == nil )  ? "-" : @entry.areamts ) %> M<sup>2</sup> 
            </span>
            </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <% if @entry.housetype != "Bodega" %>
          <div class="gTableCenter">
            <div class="bathrooms" style="margin-top: -5px;margin-bottom: -4px;"><span style="margin-left: -20px;font-size:10px;">-<span></div>
            <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
          </div>
        <% end %>
        <div class="gTableRight">
          <div class="price" style="margin-top: -5px;margin-bottom: -4px;">
            <span style="font-size:10px">$</span><span class="money" style="font-size:10px;"><%= @entry.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>

      <% if @entry.housetype == "Nave Industrial" %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -2px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (@entry.areavrs == nil || @entry.areavrs < 1 ) ? "-" : @entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if @entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money" style="margin-left:0px!important;f"><%= @entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% end %>
            
      <% if @entry.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (@entry.areavrs == nil || @entry.areavrs < 1 ) ? "-" : @entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if @entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= @entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money" style="margin-left:0px!important;f"><%= @entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% end %>
    </div>
  <br />

  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 inlineBlock borderTopBottom" style="margin-left: 13px;">
    <p style="font-weight: 300;font-size: 13px;"><%= @entry.description %></p>
  </div>


  <div class="inlineBlock width100">
    
    
      <div class="simplebtn viewcontact" style="margin: 6px auto;margin-left: 60px;">Ver contacto</div>
    

  </div>



  <div class="mleft contact" style="display: none">
    <span class="bold block">Contacto:</span>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Email: <%= @entry.email%> </span>
    <span class=" block" style="font-weight: lighter;font-size: 12px;">Teléfono: <%= @entry.phone%> </span>
  </div>


  <div class="inlineBlock width100 tcenter block" >
    <span class="tcenter lightDescription">
      Publicado: <%= Date.strptime( @entry.originaldate.to_s).strftime("%d-%m-%Y") %>
    </span>

    <span class="tcenter lightDescription block">
      Fuente: 
      <% if @entry.fromexcel == nil || @entry.fromexcel == false %>
      <a target="_blank" href="<%=@entry.originalsource%>"><%=@entry.originalsite%></a>
      <% else %>
      <span href="#"><%=@entry.originalsite%></span>
      <% end %>
    </span>
    
  </div>

  </div>

<% end %>




<style>
  .ui-dialog-title{
    display: none;
  }

  .mleft{
    margin-left: 25px;
  }

  div.item {
    font-size: 9px;
    font-weight: lighter;
  }
  .money{
    font-size: 10px;
  }
</style>