
<div class="col-lg-12 col-md-12 padding0">
<% @entries.map do |entry| %>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pDescription padding0" style="height:80px">

<% if(entry.originalsite == nil && entry.originalsite == ""  ) %>
    <% if (entry.assets.count > 0) %>
          <img class="thumbnailDetail" src="<%= entry.assets[0].asset %>">
    <% else %>
      <img class="thumbnailDetail" />
    <% end %>
<% else %>

  <% if (entry.urlimage != nil && entry.urlimage != "undefined" && entry.urlimage != "") %>
    <img class="thumbnailDetail" src="<%= entry.urlimage %>">
  <% else %>
    <img class="thumbnailDetail" />
  <% end %>

<% end %>

  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pDescription" style="padding-left: 0px; padding-right: 0px!important;
  height:85px">
    <div>
      <span class="title" style="display: block;margin-bottom: -7px;"> 
        
          <%if session[:user] != nil %>
            <a href="#" class="houseDetail" id="i-<%=entry.id%>" style="font-size: 13px;">
              <%=entry.housetype%> en <%=entry.negotationtype%>
            </a>
          <% else %>
            <a href="#" class="login asClient" id="i-<%=entry.id%>" style="font-size: 13px;">
              <%=entry.housetype%> en <%=entry.negotationtype%>
            </a>
          <% end %>


      </span>
      <span class="area" style="font-weight: 300;font-size: 12px;"> 
        
        <% if entry.zone != nil %>
          <%= entry.zone.zonename %> 
        <% elsif entry.town != nil %>
          <%= entry.town.name %> 
        <% end %>
      </span>
    </div>



    <div class="" style="margin-top: 7px;"> 
      <% if entry.housetype == "Casa" || entry.housetype == "Apartamento" || entry.housetype == "Casa de Recreo" %>

        <!--<div class="square" style="background-size: 114%;"> -->
        <div class="gTableLeft">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;">
              <%= (entry.rooms == nil || entry.rooms < 1 ) ? "-" : entry.rooms %> </div>
            <div class="item" style="font-size: 9px;margin-left: -3px;margin-bottom: 4px;">Habitaciones</div>
          </div>
        </div>
        <div class="gTableCenter">
          <div class="inlineBlock">
            <div class="" style="font-size: 10px;margin-left: 6px;">
              <%= (entry.rooms == nil || entry.bathroom < 1) ? "-" : entry.bathroom %></div>
            <div class="item" style="">Ba&ntilde;os</div>
          </div>
        </div>
        <div class="gTableRight">
          <div class="inlineBlock ">

            <% if(entry.price == nil) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money">-</span></div>
            <%elsif(entry.price > 1000) %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= entry.price %></span></div>
            <% else %>
            <div class="price" style="font-size:10px"><span>$</span><span class="money"><%= entry.price %></span></div>
            <% end %>

            <div class="item">Precio</div>
          </div>
        </div>
        <!--</div>-->
      <% elsif entry.housetype == "Local Comercial" || entry.housetype == "Oficina/Clinica" || entry.housetype == "Oficina" || entry.housetype == "Bodega"  %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -4px;"> 
            <span style="margin-left: -20px;font-size:10px">
            <%= ( (entry.areamts == "" || entry.areamts == nil )  ? "-" : entry.areamts ) %> M<sup>2</sup> 
            </span>
            </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableCenter">
          <div class="bathrooms" style="margin-top: -5px;margin-bottom: -4px;"><span style="margin-left: -20px;font-size:10px;">-<span></div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
        </div>
        <div class="gTableRight">
          <div class="price" style="margin-top: -5px;margin-bottom: -4px;">
            <span style="font-size:10px">$</span><span class="money" style="font-size:10px;"><%= entry.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% elsif entry.housetype == "Nave Industrial"  %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -2px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (entry.areavrs == nil || entry.areavrs < 1 ) ? "-" : entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% elsif entry.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms" style="margin-top: -5px;margin-bottom: -2px;"> 
            <span style="margin-left: -20px;font-size:10px;">
            <%= (entry.areavrs == nil || entry.areavrs < 1 ) ? "-" : entry.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 2px; ">Area</div>
        </div>
        <div class="gTableRight">
          <% if entry.price > 1000 %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= entry.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price" style="font-size: 10px;"><span>$</span><span class="money"><%= entry.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>

        <% else %>

      <% end %>
    </div>


    
  </div>
  <div class="col-lg-12 col-md-12"> 
    <hr /> 
  </div>
<% end %>
</div> 

<div id="dialog"></div>


<script>

  $(function(){
    var opt = {
      autoOpen: false,
      modal: true,
      title: '',
      draggable: false,
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );

        $dialogOverlay = $(".ui-widget-overlay").last();
            $dialogOverlay.unbind();
            $dialogOverlay.click(function(){
                $("#dialog").dialog("close");
            });

      },
    };
    
    $("#dialog").dialog(opt);



    $(".houseDetail").on("click",function(){
      
      var idm = $(this).attr("id").split("-")[1];
      var url = '/detail/detail/' + idm;
      console.log(url);
      $.ajax({
          type: 'GET',
          url: url ,
          success: function(data){
            $("#dialog").html(data);
            $("#dialog").dialog("open");
            $(".ui-dialog-titlebar").hide();
        }
      });

    });
    
  });

</script>



