<script>
 $(function(){
  $(".money").digits();
 });
</script>

<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 areas" style="padding: 0!important; margin-top: 60px;">

      <% if (@adverts.count() == 0) %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pDescription">
        <p>No se encontraron resultados v&iacute;nculados a su b&uacute;squeda</p>
        </div>
      <% end %>

        <% @adverts.each do |advert| %>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pDescription" style="margin-top: 10px">
            
            <% if(advert.originalsite == nil && advert.originalsite == ""  ) %>
                <% if (advert.assets.count > 0) %>
                      <img class="thumbnailDetail" src="<%= advert.assets[0].asset %>">
                <% else %>
                  <img class="thumbnailDetail" />
                <% end %>
            <% else %>

              <% if (advert.urlimage != nil && advert.urlimage != "undefined" && advert.urlimage != "") %>
                <img class="thumbnail" src="<%= advert.urlimage %>">
              <% else %>
                <img class="thumbnail" />
              <% end %>

            <% end %>

          </div>

          <div class="col-lg-9 col-md-9 col-sm-3 col-xs-12 pDescription">
            <div style="width: 400px">
              <span class="title"> <%= link_to "#{advert.housetype} en #{advert.negotationtype}" , :controller => "administration", :action => "show", :id => advert.id %> </span>
              <span class="area"> <%= advert.housetype %> - <%= advert.street %> </span>
            </div>

              <div class="square"> 
                <div class="inlineBlock pLeft25">
                  <div class="rooms"><%= advert.rooms %> </div>
                  <div class="item">Habitaciones</div>
                </div>

                <div class="inlineBlock pLeft25">
                  <div class="bathrooms"><%= advert.bathroom %></div>
                  <div class="item">Ba&ntilde;os</div>
                </div>

                <div class="inlineBlock pLeft25">
                  <div class="price"><span>$</span><span class="money"><%= advert.price %></span></div>
                  <div class="item pLeft25">Precio</div>
                </div>
              </div>

              <div class="col-lg-9 col-md-9">
                <span class="smalltext">Publicada: <%= advert.originaldate %> - Fuente: <%= advert.originalsite %>  </span>
              </div>
          </div>



          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="col-lg-7 col-md-7"> 
            <hr  />
            </div>
          </div>

        <% end %>



      </div>


      <%= will_paginate @adverts %>