<h3 style="text-align: center;font-size: 18px!important;text-transform: uppercase;margin-bottom: 15px;">Eliminar espacio</h3>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 padding0">
    <% if(@advert.originalsite == nil || @advert.originalsite == ""  ) %>
    	<% if @advert.assets.count > 0 %>
        	<img class="thumbnail" src="<%= @advert.assets[0].asset %>" />
        <% else %>
        	<div class="thumbnail"></div>
        <% end %>
    <% else %>
    	<% if (@advert.urlimage != nil && @advert.urlimage != "undefined" && @advert.urlimage != "") %>
    		<img class="thumbnail" src="<%= @advert.urlimage %>">
    	<% else %>
    		<img class="thumbnail" />
    	<% end %>
	<% end %>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 padding0">
	<span class="title block"> <span> <%= @advert.housetype%> en <%=@advert.negotationtype%></span>
        </span>
		<span class="area">  </span><span class="descriptionDetail"><%= @advert.street %> </span>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
	<span class="bold">Fecha de colocación</span>
	<input type="date" style="width: 90%" id="removeDate" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
	<span class="bold">Precio</span>
	<input type="number" style="width: 90%"/>
</div>

<% if @advert.negotationtype == "Alquiler" %>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
	<span class="bold">Plazo</span>
	<input type="number" style="width: 90%"/>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
	<span class="bold">Tiempo</span>
	<select style="width: 90%">
		<option>Mes(es)</option>
		<option>Año(s)</option>
	</select>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
	<span class="bold">Aviso de reactivación</span>
	<input type="date" style="width: 90%"/>
	</select>
</div>

<% end %>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerIndex">
	<span class="f14 removeSpace" id="d-<%=@advert.id%>" style="padding-top: 8px!important;font-size:14px!important;">ELIMINAR</span>
</div>



<script>


$(function(){


var opt = {
  autoOpen: false,
  modal: true,
  title: '',
  position: 'center',
  draggable: false,
  open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );

        $dialogOverlay = $(".ui-widget-overlay").last();
            $dialogOverlay.unbind();
            $dialogOverlay.click(function(){
                $("#container").dialog("close");
            });

      },
};
$("#container").dialog(opt);

  $("#removeDate").val( getCurrentDate());
	$(".removeSpace").on("click",function(){


    

		var id = $(this).attr("id").split("-")[1];

		$.ajax({
      type: 'GET',
      dataType: 'json',
      url: '/detail/unpublish/' + id ,
      success: function(data){
              $("#container").html(data);
              $("#container").dialog();
              $(".ui-dialog-titlebar").hide();
              $("#d-" + id).hide();
              $("#container").dialog("close");
              $(".a-" + data.message).hide();
            }
         });
	});

  $(document).delegate('.ui-widget-overlay', 'click', function() {
    $("#container").dialog("close");
  });

});

function getCurrentDate(){
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd='0'+dd
  } 

  if(mm<10) {
      mm='0'+mm
  } 

  return yyyy+'-'+mm+'-'+dd;
}



</script>




