<h6>¿Por qué desea denunciar esta propiedad?</h6>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<hr />
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 padding0">
	    <% if(@advert.originalsite == nil || @advert.originalsite == ""  ) %>
	    	<% if @advert.assets.count > 0 %>
	        	<img class="thumbnail" src="<%= @advert.assets[0].asset %>" />
	        <% else %>
	        	<div class="thumbnail"></div>
	        <% end %>
	    <% else %>
	    	<% if (@advert.urlimage != nil && @advert.urlimage != "undefined" && @advert.urlimage != "") %>
	    		<img class="thumbnail" src="<%= @advert.urlimage %>">
	    	<% else %>
	    		<img class="thumbnail" />
	    	<% end %>
		<% end %>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 padding0">
		<span class="title block"> <span> <%= @advert.housetype%> en <%=@advert.negotationtype%></span>
	        </span>
			<span class="area">  </span><span class="descriptionDetail"><%= @advert.street %> </span>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<hr />
</div>

<div style="margin-top: 10px" />
<input type="radio" value="1" name="report" />
<span>La propiedad no existe</span>
</div>
<br />
<div style="margin-top: 10px" />
<input type="radio" value="2" name="report" />
<span>La información es incorrecta</span>
</div>
<br />
<div style="margin-top: 10px" />
<input type="radio" value="3" name="report" />
<span>La información es falsa</span>
</div>
<br />
<div style="margin-top: 10px" />
<input type="radio" value="4" name="report" />
<span>Otra (especifíque):</span>
<textarea id="text"></textarea>
</div>
<br />
<input type="button" value="Denunciar" class="registerIndex2" id="denounce" style="border: 0;margin: 0 auto;"/>



<script>


//$(function(){


	$("#denounce").on("click", function(){
		var url = document.URL;
		var id = url.substring(url.lastIndexOf('/') + 1);
		var radio = $("input:radio[name=report]").val();
		var message = "--";

		if(radio == "1")
			message = "La propiedad no existe";
		if(radio == "2")
			message = "La información es incorrecta ";
		if(radio == "3")
			message = "La información es falsa ";
		if(radio == "4")
			message = $("#text").val();

		$.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/detail/denounce',
            data:{id:id,message:message} ,
            success: function(data){
              $("#targetDiv").dialog("close");
            }
          });
		
	});
	//jQuery( "[type='radio']" ).val()

//})



</script>



