***BIENVENIDO A VINCUBO***

* Nombre: <%=@user.name%> <%= @user.lastname %>
* E-mail: <%=@user.email%>

Con Vincubo tendrás:
--------------------

* Cientos de espacios disponibles a tu disposición.
* Una manera simple de búsqueda.
* Tus espacios favoritos en un solo lugar.

EMPIEZA A BUSCAR ( www.vincubo.com )