
    <ul class="datos">
      <li>Nombre: <%=@user.name%> <%= @user.lastname %></li>
      <li>E-mail: <%=@user.email%></li>
    </ul>

    <h3>Con Vincubo tendrás:</h3>
    <div class="columns">
      <div class="left">
        <ul>
          <li>Cientos de espacios disponibles a tu disposición.</li>
          <li>Una manera simple de búsqueda.</li>
          <li>Tus espacios favoritos en un solo lugar.</li>
        </ul>
        <a class="buscar" href="www.vincubo.com">EMPIEZA A BUSCAR</a>
      </div>
      <div class="right">
        <img src="/images/mail/map.jpg">
      </div>
    </div>
