<ul class="datos">
  <li>Nombre: <%=@user.name%> <%= @user.lastname %></li>
  <li>E-mail: <%=@user.email%></li>
</ul>

<h3>Con Vincubo podrás:</h3>
<div class="columns">
  <div class="left">
    <ul>
      <li>Administrar tu portafolio de en un solo lugar.</li>
      <li>Crear un perfil profesional.</li>
      <li>Brindar tours Virtuales de tus espacios.</li>
      <li>Colocar tu espacio más rápido.</li>
    </ul>
    <a class="buscar" href="www.vincubo.com">EMPIEZA A BUSCAR</a>
  </div>
  <div class="right">
    <img src="/images/mail/map.jpg">
  </div>
</div>