***BIENVENIDO A VINCUBO***

* Nombre: <%=@user.name%> <%= @user.lastname %>
* E-mail: <%=@user.email%>

Con Vincubo podrás:
-------------------

* Administrar tu portafolio de en un solo lugar.
* Crear un perfil profesional.
* Brindar tours Virtuales de tus espacios.
* Colocar tu espacio más rápido.

EMPIEZA A BUSCAR ( www.vincubo.com )