html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, footer, header, nav, output, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: calibri, arial, helvetica;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	padding-left: 10px;
	padding-right: 10px;
}

.content{
	border: 3px solid #D9D9D9;
	max-width: 594px;
	margin: 0 auto;	
}

.header{
	height: 50px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background-color: #D9D9D9;
	border-radius: 13px 13px 0px 0px; 
	-moz-border-radius: 13px 13px 0px 0px; 
	-webkit-border-radius: 13px 13px 0px 0px; 
	border: 1px solid #D9D9D9;
}

.logo_vincubo{
	margin-left: 20px;
	height: 50px;
	width: 104px;
	background: url("/images/mail/logo_vincubo.png");
	background-position: center left;
	background-repeat: no-repeat;
}

.wrapper img{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: block;
}

.content h3{
	margin-top: 20px;
	padding-left: 15px;
	color: #ff6600;
	font-size: 21px;
	font-weight: bold;
}

.datos{
	list-style: none;
	margin: 0;
	padding: 15px;
	background-color: #D9D9D9;
	max-width: 594px;
}

.datos li{
	margin-bottom: 10px;	
	font-weight: bold;
}

.datos li:last-child{
	margin-bottom: 0px;
}

.columns .left{
	width: 70%;
	display: inline-block;
}

.columns .right{
	width: 28%;
	display: inline-block;
	vertical-align: top;
}

.left ul{
	list-style: none;
	padding-left: 20px;	
	font-size: 18px;
	color: #808080;
}
.left li:last-child{
	margin-bottom: 30px;
}

.left ul li:before {
   content: ". ";
	color: #ff6600;
	font-size: 60px;
	line-height: 40px;
}

.buscar{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	margin: 0 auto;
	font-size: 25px;
	color: white;
	display: block;
	background-color: #ff6600;
	text-align: center; 
	text-decoration: none;
	border-radius: 13px 13px 13px 13px; 
	-moz-border-radius: 13px 13px 13px 13px; 
	-webkit-border-radius: 13px 13px 13px 13px; 
	margin-bottom: 20px;
}

.buscar:hover{
	color: #fff495;
}

.right img{
	width: 100%;
	max-width: 184px;
	margin: 0 auto;
	display: block;
}

.wrapper h6{
	font-size: 14px;
	color: #808080;
	max-width: 594px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 20px;
	padding-left: 15px;
}

h6 a{
	color: #31849b;
	text-decoration: none;
}

.saludo{
	padding-top: 35px;
	display: block;
	width: 94%;
	margin: 0 auto;
	line-height: 25px;
	margin-bottom: 25px;
}

.saludo h2{
	padding-bottom: 20px;
}

.columnsFotos .left{
	margin-left: 3%;
	width: 44%;
	display: inline-block;
	background-color: #f8f6f7;
	padding: 5px;
	margin-bottom: 10px;
}

.columnsFotos .right{
	width: 44%;	
	padding: 5px;
	margin-left: 3%;
	display: inline-block;
	vertical-align: top;
	background-color: #f8f6f7;
	margin-bottom: 10px;
}

.columnsFotos .left img, .columnsFotos .right img{
	max-width: 95px;
	float: left;
	margin-right:12px;
}

.text h4{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 17px;
	color: #3c3c3c;
	margin-bottom: 10px;
}
.text span{
	font-size: 25px;
	color: #fe7f2b;
}
.text p{
	font-size: 12px;
	color: #3c3c3c;
}

.conoceMas{
	font-weight: bold;
	margin-top: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 12px;
	width: 95px;
	margin-left: 105px;
	color: white;
	display: block;
	background-color: #fe7f2b;
	text-align: center; 
	text-decoration: none;
	border-radius: 5px 5px 5px 5px; 
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
}

.conoceMas:hover{
	color: #fff495;
}

.vincubo{
	color: #31849b;
	text-decoration: none;
}


@media screen and (max-width: 480px){
	.columns .left{
	width: 100%;
	display: initial;
}

.columns .right{
	width: 100%;
	display: initial;
}

.columnsFotos .left{
	width: 91%;
	display: inline-block;
	background-color: #f8f6f7;
	padding: 5px;
}

.columnsFotos .right{
	width: 91%;	
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	background-color: #f8f6f7;
}
.conoceMas{
	margin-left: 0;
}
}