<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<%= javascript_include_tag 'map' %> 
<%= stylesheet_link_tag("maps.css") %>

    <style>
      .money {
        font-size: 12px;
        padding-left: 3px;
      }
    </style>
    
<script>
  $(function(){
    loadTowns();
    $(".previous_page").hide();
    $(".next_page").hide();

    cargarDatos();

    $(".maplink").attr("href", "/advert/map?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );
      $(".listlink").attr("href", "/advert?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );

    $("#state_id").on("change", function(){
      loadTowns();
    });

    $(".search").on("click",function(){
      loadMaps();
    });

    $("#customsesionmessage").on("click", function(){
      $("#sessionmessage").hide();
    });

    var opt2 = {
      url: '/advert/custom',
      autoOpen: true,
      modal: true,
      title: '',
      dialogClass: "noOverlayDialog",
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );
      },
      position: 'center' ,
      width: "460", dialogClass: 'dialogWithDropShadow'
    };

    function cargarDatos(){
      $("#housetype").val( getUrlParameter("housetype") );
      $("#priceto").val( getUrlParameter("priceto") );
      $("#pricefrom").val( getUrlParameter("pricefrom") );
      $("#state_id").val( getUrlParameter("state_id") );
      $("#negotationtype").val( getUrlParameter("negotationtype") );

      //console.log( getUrlParameter("orderby") );

      if (getUrlParameter("orderby") == "time" || getUrlParameter("orderby") == "tiempo")
        $('#orderby>option:eq(1)').attr('selected', true);
      else
        $('#orderby>option:eq(0)').attr('selected', true);

      if(getUrlParameter("negotationtype") == null)
        $("#negotationtype").val( "Venta" );
      loadTowns(true);
      $('.i[value="' + getUrlParameter("rooms") + '"]').addClass("selected");
      $('.j[value="' + getUrlParameter("bathrooms") + '"]').addClass("selected");
      var t_id = getUrlParameter("town_id");
      if( t_id != undefined && t_id != null && t_id != "" )
        loadZonesByTown( t_id, getUrlParameter("zone") );
      else if( getUrlParameter("state_id") != null && getUrlParameter("state_id") != "" && getUrlParameter("state_id") != undefined ){
        loadZones( getUrlParameter("state_id"), getUrlParameter("zone") );
      }
    }

    $("#state_id").on("change",function(){
      loadZones( $("#state_id").val(), 0  );      
    });

    $("#town_id").on("change", function(){
      loadZonesByTown( $("#town_id").val(), 0 );
    });


    function loadZones( state_id, zone_id ){
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbystate?state_id=' + state_id ,
          success: function(data){
            $("#zone").empty();
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined)
                $("#zone").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
            }
            $("#zone").val(zone_id);
        }
      });
    }

    function loadZonesByTown( town_id, zone_id ){
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbytown?town_id=' + town_id ,
          success: function(data){
            $("#zone").empty();
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined)
                $("#zone").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
            }
            $("#zone").val(zone_id);
        }
      });
    }

    function loadTowns(stateSelected){
      $.ajax({
        type: 'GET',
        url: '/administration/load/' + $("#state_id").val(),
        dataType: 'json',
        success: function(data){
          $("#town_id").empty();
          $("#town_id").append("<option value='0'>Todo el departamento</option>");
          for(var i=0; i < data.result.length; i++){
            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
          }
          if(stateSelected)
            $("#town_id").val( getUrlParameter("town_id") );
        }
      });
    }

    $("#_options_id").on("click",function(){
      $(".ui-widget-overlay").css("opacity","0");
      
      $("#_customMessage").dialog(opt2);
      $(".ui-widget-overlay").css("opacity","0");
      $( ".ui-dialog" ).css("top","195px");
      $( ".ui-dialog" ).css("left","430px");
      $(".ui-dialog-titlebar").hide();
      $(".ui-dialog").addClass("dialogWithDropShadow");

      $(".ui-widget-overlay").on("click",function(){
        $("#_customMessage").dialog("close");
      });
    });

    $("#price").on("click",function(){
      $(".ui-widget-overlay").css("opacity","0");
      $(".ui-widget-overlay").on("click",function(){
        $("#_customPrice").dialog("close");
      });
    });

    
    $("#orderby").on("change",function(){
      loadMaps();
    });

    function loadMaps(){
      $(".maplink").attr("href", "/advert/map?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );
      $(".listlink").attr("href", "/advert?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );

      var url = "/advert/";
      if( $("#town_id").val() != null)
        url+= "?town_id=" + $("#town_id").val();
      else
        url+= "?town_id=0";
      url+= "&negotationtype=" + $("#negotationtype").val();
      url+= "&state_id=" + $("#state_id").val();
      url+= "&price=0";
      url+= "&rooms=" + (($(".i.selected").attr("value")) != "" ? $(".i.selected").attr("value") : 0 );
      url+= "&bathrooms=" + ( ($(".j.selected").attr("value")) != "" ? $(".j.selected").attr("value") : 0 );
      url+= "&pricefrom=" + $("#pricefrom").val();
      url+= "&priceto=" + $("#priceto").val();
      url+= "&housetype=" + $("#housetype").val();
      url+= "&zone=" + ( ($("#zone").val() == null || $("#zone").val() == "Zona"  )  ? "" : $("#zone").val() )  ;
      //alert($("#orderby").val())
      url+= "&orderby=" + $("#orderby").val();

      //alert(url);

      //alert(($("#order").val()));
      //url +=( ($("#orderby").val() == null || $("#orderby").val() == "price"  )  ? "price" : "time" );

      var page = getUrlParameter("page");
      if(page == undefined || page == "null")
        page = 1;
      page = 1;
      url+= "&page=" + page;
      window.location = url
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  });

</script>

<div id="advertInfo" style="top: 0px!important;left: 407px!important;height: 400px!important;overflow-y: scroll!important;display: block!important; width: 500px!important;display:none!important;">
  <div class="col-lg-12 infoContent">
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12 searchBar">
  <%= render "shared/searchBar" %>
</div>


<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1 areas" style="padding: 0!important; margin-top: 115px;">
  <% if (@adverts.count() == 0) %>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grayMessage pDescription">
      <p>No se encontraron resultados v&iacute;nculados a su b&uacute;squeda</p>
    </div>
  <% end %>


  <div style="margin-bottom: 5px; background-color: rgb(250, 250, 250); padding: 5px;" >
    <span class="fsize12 bold" style="margin-right: 7px;">Ordenar por: </span>
    <select id="orderby" style="border-bottom: rgb(247, 247, 247);border-top: rgb(247, 247, 247);border-left: rgb(226, 226, 226) solid 1px;background-color: rgb(250,250,250);border-right: rgb(226, 226, 226) solid 1px;background: #FAFAFA url('/images/arrowdown.png') no-repeat 95% center;">
      <option value="precio">Precio</option>
      <option value="tiempo">Tiempo publicado</option>
    </select>

    <span class="fsize12 bold" style="margin-left: 170px;margin-right: 5px; border-right: silver 1px solid;padding-top: 4px;padding-bottom: 1px;padding-right: 5px;">Propiedades encontradas: </span >
    <span class="orange"><%= @total %></span>

  </div>

  <%if session[:user] == nil %>
        
        <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 tcenter" style="background-color: rgb(247, 247, 247);border-radius: 1px;" id="sessionmessage">
          <div style="width: 100%; text-align: right; margin-top: 6px;">

            <span id="customsesionmessage" style="cursor: pointer;">X</span>
          </div>
          <p class="bold" style="font-size: 18px;">Inicia sesi&oacute;n para que puedas ver todos los detalles de nuestros</p>
          <p class="bold orange" style="font-size: 18px;margin-top:-9px!important"><%= @total %> espacios</p>
          <div class="col-md-offset-4 registerIndex2 login asClient" style="margin-bottom: 30px;width: 200px;" class="login asClient uppercase">Registrate Gratis</div>
        </div>
      
  <% end %>

  <% @adverts.each do |advert| %>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pDescription" style="margin-top: 10px">
      <% if(advert.originalsite == nil && advert.originalsite == ""  ) %>
        <% if (advert.assets.count > 0) %>
            <img class="thumbnailDetail" src="<%= advert.assets[0].asset %>">
          <% else %>
            <img class="thumbnailDetail" />
          <% end %>
        <% else %>
        <% if (advert.urlimage != nil && advert.urlimage != "undefined" && advert.urlimage != "") %>
          <img class="thumbnail" src="<%= advert.urlimage %>">
        <% else %>
          <img class="thumbnail" />
        <% end %>
      <% end %>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pDescription">
      <div style="width: 400px;margin-bottom: 10px;">
        <span class="title" style="margin-bottom: -7px;display:block"> 
          
          <%if session[:user] != nil %>
            <!--<%= link_to "#{advert.housetype} en #{advert.negotationtype}" , :controller => "administration", :action => "show", :id => advert.id %> </span>-->
            <span id="i-<%=advert.id%>" class="displayAdvert pointer f18 block">
              <%=advert.housetype%> en <%=advert.negotationtype%>
            </span>

          <% else %>
            <a href="#" class="login asClient" id="i-<%=advert.id%>"  style="margin-bottom: -8px;display: block;margin-top: 5px;"><%=advert.housetype%> en <%=advert.negotationtype%></a>
          <% end %>

        <span class="area fw300 fsize11" style="margin-bottom: -8px;">  <% if advert.zone != nil %>
          <%= advert.zone.zonename %> 
        <% elsif advert.town != nil %>
          <%= advert.town.name %> 
        <% end %> </span>
      </div>

      <% if advert.housetype == "Casa" || advert.housetype == "Apartamento" || advert.housetype == "Casa de Recreo" %>
        <div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= (advert.rooms == nil || advert.rooms < 1  ) ? "-" : advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= (advert.bathroom == nil || advert.bathroom < 1) ? "-" : advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock ">

            <%if(advert.price > 1000) %>
            <div class="price pLeft25" style="padding-left: 50px"><span>$</span><span class="money"><%= advert.price %></span></div>
            <% else %>
            <div class="price " style="padding-left: 49px"><span>$</span><span class="money"><%= advert.price %></span></div>
            <% end %>

            <div class="item pLeft25" style="padding-left: 40px;margin-left: 13px;">Precio</div>
          </div>
        </div>
      <% end %>

      <% if advert.housetype == "Local Comercial" || advert.housetype == "Oficina/Clinica" %>
        <div class="gTableLeft">
          <div class="rooms"> 
            <span style="margin-left: -20px;">
            <%= ( (advert.areamts == "" || advert.areamts == nil )  ? "-" : advert.areamts ) %> M<sup>2</sup> 
            </span>
            </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableCenter">
          <div class="bathrooms"><span style="margin-left: -20px;">-<span></div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
        </div>
        <div class="gTableRight">
          <div class="price">
            <span>$</span><span class="money"><%= advert.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>

      <% if advert.housetype == "Nave Industrial"  || advert.housetype == "Bodega" %>
        <div class="gTableLeft">
          <div class="rooms"> 
            <span style="margin-left: -20px;">
            <%= (advert.areavrs == nil || advert.areavrs < 1 ) ? "-" : advert.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableRight">
          <% if advert.price > 1000 %>
          <div class="price "><span>$</span><span class="money"><%= advert.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price "><span>$</span><span class="money"><%= advert.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% end %>
            
      <% if advert.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms"> 
            <span style="margin-left: -20px;">
            <%= (advert.areavrs == nil || advert.areavrs < 1 ) ? "-" : advert.areavrs %> V<sup>2</sup> 
            </span>
          </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableRight">
          <% if advert.price > 1000 %>
          <div class="price "><span>$</span><span class="money"><%= advert.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <% else %>
          <div class="price "><span>$</span><span class="money"><%= advert.price %></span></div>
          <div class="item" style="padding-left:49px;margin-top: 0px; margin-bottom: 2px;padding-left: 3px;">Precio</div>
          <%end %>
        </div>
      <% end %>

      <div class="col-lg-9 col-md-9">
        <span class="smalltext">Publicada:
        
        <% if advert.originaldate != nil %>
        <% fecha_pub = advert.originaldate.strftime("%d/%b/%Y")
        fecha_pub.gsub! 'Apr', 'Abr'
        fecha_pub.gsub! 'Jan','Ene'
        fecha_pub.gsub! 'Aug','Ago' 
         %>
         <% end %>

          <%=  fecha_pub
        %> - Fuente: <%= advert.originalsite %>  </span>
      </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div  class="col-lg-10 col-md-10"> 
      <hr  />
      </div>
    </div>

  <% end %>
  




  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 areas" style="padding: 0!important;">


    <div style="text-align:left; fleft">
      <% if !@page && @page > 0 %>
      <%= ((@page * 10)+ 1)   %> - <%= ((@page * 10)+ 10)   %> de <%= @total %>
      <% end %>
    </div>
    <div style="text-align:right" style="margin-top: -23px;fright">
      <%= will_paginate @adverts %>
    </div>
  </div>

</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 150px;">
    <div id="map-canvas" style="position: fixed;width: 350px;"></div>
  </div>
      
<div id="dialog"></div>

<script>


  $(function(){
    $(".i").click(function(){
      $($(".i")).removeClass(( "selected" ))
      $(this).addClass( "selected" );
    });

    $(".j").click(function(){
      $($(".j")).removeClass(( "selected" ))
      $(this).addClass( "selected" );
    });

    //$("#map-canvas").css("position","fixed");

    var opt = {
      autoOpen: false,
      modal: true,
      title: '',
      draggable: false,
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );

        $dialogOverlay = $(".ui-widget-overlay").last();
            $dialogOverlay.unbind();
            $dialogOverlay.click(function(){
                $("#dialog").dialog("close");
            });

      },
    };

    $("#dialog").dialog(opt);

    $(".displayAdvert").on("click",function(){
      var id = $(this).attr("id").split("-")[1];
      $.ajax({
          type: 'GET',
          url: '/detail/detail/' + id ,
          success: function(data){
            $("#dialog").html(data);
            $("#dialog").dialog("open");
            $(".ui-dialog-titlebar").hide();
            
        }
      });

    });

  });


</script>

<style>

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox;      /* not currently supported */
}

.i,.j{
  cursor: pointer;
}

.selected{
  color: white;
}

.ui-dialog .ui-dialog-title{
  display: none;
}

.input[type="date"]{
  height: 30px;
  width: 150px;
}

</style>