<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'user_alert' %>
<%= javascript_include_tag 'markerclusterer' %> 
<%= stylesheet_link_tag("maps.css") %>

<script>
  $(function(){

    var loaded = false;

    loadTowns();
    loadMaps();
    cargarDatos();

    $(".maplink").attr("href", "/advert/map?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );
      $(".listlink").attr("href", "/advert?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );

    function cargarDatos(){
      $("#housetype").val( getUrlParameter("housetype") );
      $("#priceto").val( getUrlParameter("priceto") );
      $("#pricefrom").val( getUrlParameter("pricefrom") );
      $("#state_id").val( getUrlParameter("state_id") );
      $("#negotationtype").val( getUrlParameter("negotationtype") );
      if(getUrlParameter("negotationtype") == null)
        $("#negotationtype").val( "Venta" );
      loadTowns(true);
      $('.i[value="' + getUrlParameter("rooms") + '"]').addClass("selected");
      $('.j[value="' + getUrlParameter("bathrooms") + '"]').addClass("selected");

      var t_id = getUrlParameter("town_id");
      //alert(t_id);
      if( t_id != undefined && t_id != null && t_id != "" ){
        //alert("adca");
        loadZonesByTown( t_id, getUrlParameter("zone") );
        $("#town_id").val(t_id);
      }
      else if( getUrlParameter("state_id") != null && getUrlParameter("state_id") != "" && getUrlParameter("state_id") != undefined ){
        //alert("here");
        //alert("cargar basados aca");
        loadZones( getUrlParameter("state_id"), getUrlParameter("zone_id") );
      }

    }


    $("#state_id").on("change",function(){
      loadZones( $("#state_id").val(), 0  );      
    });

    $("#town_id").on("change", function(){
      loadZonesByTown( $("#town_id").val(), 0 );
    });


    function loadZones( state_id, zone_id ){
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbystate?state_id=' + state_id ,
          success: function(data){
            $("#zone").empty();
            //alert("aca");
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined){
                if( data.data[i].id != zone_id)
                  $("#zone").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
                else{
                  $("#zone").append("<option selected='selected' value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
                }
              }
            }
            var zone_id = getUrlParameter("zone");
            $("#zone").val(zone_id);
        }
      });
    }

    function loadZonesByTown( town_id, zone_id ){
      //alert(zone_id)
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbytown?town_id=' + town_id ,
          success: function(data){
            $("#zone").empty();
            //console.log(data);
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined){

                if( data.data[i].id != zone_id)
                  $("#zone").append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
                else{
                  $("#zone").append("<option selected='selected' value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
                }
              }
            }
            //zone_id = getUrlParameter("zone");
            //$("#zone").val(zone_id);
            //alert(zone_id);
        }
      });
    }

    var opt = {
      url: '/advert/custom',
      autoOpen: true,
      modal: true,
      title: '',
      dialogClass: "noOverlayDialog",
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );
      },
      position: 'center' 
    };

    var opt2 = {
      url: '/advert/custom',
      autoOpen: true,
      modal: true,
      title: '',
      dialogClass: "noOverlayDialog",
      open: function(event,ui){
        $('.noOverlayDialog').next('div').css( {'opacity':0.0} );
      },
      position: ['top', 123],
      width: "460"
    };
    
    function loadTowns(){
      $.ajax({
        type: 'GET',
        url: '/administration/load/' + $("#state_id").val(),
        dataType: 'json',
        success: function(data){
          $("#town_id").empty();
          $("#town_id").append("<option value='0'>Todo el departamento</option>");
          for(var i=0; i < data.result.length; i++){
            $("#town_id").append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
          }

          var t_id = getUrlParameter("town_id");
          //alert(t_id);
          if( t_id != undefined && t_id != null && t_id != ""  ){
            //loadZonesByTown( t_id, 0 );
            $("#town_id").val(t_id);
          }
          if(t_id == 0){
            loadZones( $("#state_id").val(), 0 );
            $("#town_id").val(t_id);
          }


        }
      });
    }

    var height = ( Number($("#map-canvas").css("width").replace("px","") ) * 0.5342);
    $("#map-canvas").css("height", height);

    $("#state_id").on("change", function(){
      loadTowns();
    });

    $(".search").on("click",function(){
      rewriteUrl();
    });







    function rewriteUrl(){
      var url = "/advert/map";
      if( $("#town_id").val() != null)
        url+= "?town_id=" + $("#town_id").val();
      else
        url+= "?town_id=0";
      url+= "&negotationtype=" + $("#negotationtype").val();
      url+= "&state_id=" + $("#state_id").val();
      url+= "&price=0";
      url+= "&rooms=" + (($(".i.selected").attr("value")) != "" ? $(".i.selected").attr("value") : 0 );
      url+= "&bathrooms=" + ( ($(".j.selected").attr("value")) != "" ? $(".j.selected").attr("value") : 0 );
      url+= "&pricefrom=" + $("#pricefrom").val();
      url+= "&priceto=" + $("#priceto").val();
      url+= "&housetype=" + $("#housetype").val();
      url+= "&zone=" + ( ($("#zone").val() == null || $("#zone").val() == "Zona"  )  ? "" : $("#zone").val() )  ;
      //alert(url);
      var page = getUrlParameter("page");
      if(page == undefined || page == "null")
        page = 1;
      page = 1;
      url+= "&page=" + page;
      window.location = url;
    }



    function loadMaps(){
      $(".maplink").attr("href", "/advert/map?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );
      $(".listlink").attr("href", "/advert?" + ( (document.URL.split('?')[1] == undefined) ? "" : document.URL.split('?')[1]) );
      var params = document.URL.split('?')[1];
      if (params == undefined)
        params = "";

      $.ajax({
        type: 'GET',
        url: '/advert/load?' + params,
        dataType: 'json',
        success: function(data){
          if(!loaded){
            loaded = true;
            google.maps.event.addDomListener(window, 'load', initialize(function(){
              var latitude = [];
              var longitude = [];
              var ids = [];
              var types = [];
              data.result.forEach(function(entry) {
                latitude.push(entry.latitude);
                longitude.push(entry.longitude);
                ids.push(entry.id);
                types.push(entry.negotationtype);
              });
              codeAddressByCoordinates(latitude, longitude, ids, types);
            }));
          } else{
            var latitude = [];
              var longitude = [];
              var ids = [];
              var types = [];
              data.result.forEach(function(entry) {
                latitude.push(entry.latitude);
                longitude.push(entry.longitude);
                ids.push(entry.id);
                types.push(entry.negotationtype);
              });
              codeAddressByCoordinates(latitude, longitude, ids, types);
          }
        }
      });
    }

    $('#edit_town_1').submit(function() {
      var d = $("#description").val();
      var s = $("#state_id").val();
      var t = $("#town_id").val();
      window.location.href = "/advert/map?description=" + d + "&state=" + s + "&town=" + t ;
      return false;
    });

    $("#_options_id").on("click",function(){
      $(".ui-widget-overlay").css("opacity","0");
      
      $("#_customMessage").dialog(opt2);
      $(".ui-widget-overlay").css("opacity","0");

      $(".ui-widget-overlay").on("click",function(){
        $("#_customMessage").dialog("close");
        $("#_customPrice").dialog("close");
      });
    });

    $(".ui-widget-overlay").on("click",function(){
      $("#_customMessage").dialog("close");
      //$("#_customPrice").dialog("close");
    });

    



  });

</script>




<div id="advertInfo">
</div>

<div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12 searchBar">

  <%= render "shared/searchBar" %>

</div>

<div class="col-lg-12 areas" style="padding: 0!important; margin-top: 60px;">

  <div id="map-canvas"></div>

</div>



<script>


  $(function(){
    $(".i").click(function(){
      $($(".i")).removeClass(( "selected" ))
      $(this).addClass( "selected" );
    });

    $(".j").click(function(){
      $($(".j")).removeClass(( "selected" ))
      $(this).addClass( "selected" );
    });

  });


</script>

<style>

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    -o-appearance: checkbox;
}

.i,.j{
  cursor: pointer;
}

.selected{
  color: white;
}

.ui-dialog .ui-dialog-title{
  display: none;
}

</style>