#map-canvas {
	height: 300px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.dialogWithDropShadow.ui-draggable.ui-resizable{
	width: auto !important;
}


