html{
}

body{
	font-family: lato!important;
	margin: 0 auto;
}

h1, h2, h3{
}

h1{
}

h2{
	font-size: 23px;
	font-weight: bold;
	text-transform: none;
}

h3{
	text-transform: uppercase;
}

h4{

}

h5{
	font-size: 24px!important;
	font-weight: bold!important;
}

h6{
	font-size: 18px!important;
	text-align: center;
}

a:hover{
	text-decoration: none;
}

::selection {
	color: whitesmoke;
	background:#F76D2E;
}

::-moz-selection {
	color: whitesmoke;
	background:#F76D2E;
}

.orange{
	color: #F76D2E!important;
}

.uppercase{
	text-transform: uppercase;
}

.shadow{
	text-shadow: 3px 3px 3px rgba(53, 53, 53, 1);
}

.inlineBlock{
	display: inline-block;
}

.pLeft25{
	padding-left: 25px;
}

.top30{
	margin-top: 30px;
}

.italic{
	font-style:italic;
}

.lowercase{
	text-transform: lowercase;
}

li{
	list-style-image: url('/images/square.png');
	padding-bottom: 5px;
	font-weight: 300;
}

.header{
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	background: white;
}

.header{
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	height: 72px;
}

.header .logo{
	display: inline-block;
	clear: both;
	margin: 0 auto;
	background-image: url('/images/logo.png');
	width: 240px;
	height: 45px;
	cursor: pointer;
	margin-bottom: 13px;
	background-size: 70%;
	margin-top: 10px;
	background-repeat: no-repeat;
}

.header .menu{
	float: right;
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	margin-top: 17px;
}

.header .menu div{
	width: 110px;
}

.header .menu a{
	text-decoration: none;
	text-transform: uppercase;
	color: #242424;
	font-size: 11px;
}

.header .menu a:hover{
	color: #E36B02;
}

.introMessage{
	text-align: center;
	width: 100%;
	position: absolute;
	width: 100%;
	height: auto;
	/*height: 600px;*/
	padding-top: 125px;
	background: url('/images/centralImage.png') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.aboutusContent{

}

.aboutusContent p{
	font-size: 18px!important;
}

.height300{
	height: 300px;
}

.introMessage .message {
	color: white;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0px;
	font-weight: 100;
	letter-spacing: 3px;
}

.introMessage .aboutus{
	color: white;
	font-size: 64px;
	font-weight: 200;
	padding-bottom: 150px;
	padding-top: 110px;
}


.introMessage .selection{
	padding: 20px 10px;
}

.introMessage .selection input[type="submit"] {
	background-color: rgba(0,0,0,0);
	border-color: #F76D2E;
	color: #F76D2E;
	padding: 3px 49px;
	margin-left: -22px;
	border: 2px solid;
}

.introMessage .selection input[type="button"] {
	background-color: rgba(0,0,0,0);
	border-color: #F76D2E;
	color: #F76D2E;
	padding: 3px 49px;
	border: 2px solid;
	width: 100%;
}

.slide{
	background-color: rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.7);
	padding: 20px 10px;
	margin-top: 25px;
}

.slide .certif{
	color: white!important;
	text-transform: uppercase;
	font-size: 22px;
}

.slide .selection{
	background-color: rgba(202, 202, 202, 0.6);
	background: rgba(211, 211, 211, 0.3);
	color: rgba(211, 211, 211, 0.7);
	padding: 20px 10px;
	border-color: #F76D2E;
	color: #F76D2E;
	padding: 3px 34px;
}

.slideWhite{
	background-color: rgba(109, 109, 109, 0.6);
	background: rgba(145, 145, 145, 0.3);
	padding: 20px 10px;
	padding: 10px;
	color: white;
	font-weight: 600;
	margin-bottom: 10px;
	color: black;
}

.slideWhite .certif{
	font-size: 18px;
	letter-spacing: 0.03em;
	color: white;
}

.thumbnail{
	height: 100px;
	background-image: url('/images/logo.png');
	box-shadow: 1px 6px 5px #F1F1F1;
	float: left;
	margin-right: 0px;
	width: 100%;
	padding: 0!important;
	background-size: 87%;
	background-repeat: no-repeat;
	background-position-y: 36px;
	background-position-x: 6px;
}

.introMessage .featuredAreas{
	color: white;
	padding-top: 20px;
	font-size: 12px;
}

.introMessage .featuredAreas a{
	color: white;
	padding-top: 20px;
	padding-left: 12px;
	padding-right: 6px;
}

.introMessage .featuredAreas a:hover{
	color: #F76D2E;
	text-decoration: none;
}

.description{
	text-align: left;
	padding-bottom: 50px;
	padding-top: 35px;
}

.description span {
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.description h3{
	text-align: center;
}



.description .products{
	background-image: url('/images/advantages.png');
	width: 166px;
	height: 160px;
	margin: 0 auto;
	background-position: -402px 5px;
	background-size: 567px 162px;
}

.description .advantages{
	background-image: url('/images/advantages.png');
	width: 191px;
	height: 160px;
	margin: 0 auto;
	background-position: -207px 32px;
	background-size: 567px 162px;
}

.description .userTypes{
	background-image: url('/images/advantages.png');
	width: 245px;
	height: 158px;
	margin: 0 auto;
}

.preFooter{
	padding-top: 0px;
	text-align: center;
	/*height: 300px;*/
	background: url('/images/preFooter.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.preFooter h2{
	color: white;
	font-weight: none;
	font-weight: lighter;
}

.preFooter h2 span{
	color: #F76D2E;
	text-transform: uppercase;
	font-weight: bold;
}

.footer{
	background: #3b3b3b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiM2IzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzNjM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3b3b3b 0%, #3c3c3c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#3c3c3c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b3b3b 0%,#3c3c3c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b3b3b 0%,#3c3c3c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b3b3b 0%,#3c3c3c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3b3b3b 0%,#3c3c3c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-8 */
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 20px;
	text-align: center;
	bottom: 0;
}

.footer a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
}

.footer a:hover{
	color: #E36B02;
	text-decoration: none;
}

.footer div{
	width: 150px;
}

.selectStyle {
	width: 100%;
	overflow: hidden;
	border: 1px solid #DDDDDD;
	height: 30px;
	border-radius: 2px;
}
 
.selectStyle select {
    
    border: 0 none;
    color: #FFFFFF;
    line-height: 1.5;
    
    padding-top: 2px;
    text-indent: 0.01px;
    width: 92%;
    
    background-color: rgba(0, 0, 0, 0);
    -moz-appearance: window;
    background-image: url("/images/downArrow.png");
   background-repeat: no-repeat;
   background-position: right 10px;
   padding-left: 4px;
   
}

.register{
	width: 150px;
	height: 35px;
	background-color: #F76D2E;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	padding-top: 4px;
	display: block;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.favorites{
	width: 200px;
	height: 35px;
	background-color: #F76D2E;
	font-size: 14px;
	color: white;
	padding-top: 4px;
	display: block;
	cursor: pointer;
	text-align: left;
	font-weight: 300;
	padding-left: 5px;
	margin: 0 auto;
	text-transform: uppercase;
	padding-top: 8px;
}

.favorites span, .unfavorites span{
	font-size: 11px;
	padding-left: 10px;
}

.unfavorites{
	width: 200px;
	height: 35px;
	background-color: #069138;
	font-size: 14px;
	color: white;
	padding-top: 4px;
	display: block;
	cursor: pointer;
	text-align: left;
	font-weight: 300;
	padding-left: 5px;
	text-transform: uppercase;
	padding-top: 8px;
	margin: 0 auto;
}

.favorites .fav{
	width: 20px;
	height: 20px;
	float: left;
	background-image: url('/images/favorites.png');
	 background-position: 20px 0;
	margin-right: 5px;
	margin-top: -2px;
}

.favorites .info{
	width: 20px;
	height: 20px;
	float: left;
	background-image: url('/images/favorites.png');
	 background-position: 40px 0;
	margin-right: 5px;
}

.favorites .view{
	width: 20px;
	height: 20px;
	float: left;
	background-image: url('/images/favorites.png');
	margin-right: 5px;
}

.preFooter .register:hover{
	background-color: #f76d2e;
}

.profileBackground{
	text-align: center;
	width: 100%;
	position: absolute;
	width: 100%;
	height: auto;
	height: 600px;
	padding-top: 125px;
	background: url('/images/centralImage.png') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.content{
	background-color: #FFF;
	margin-top: -100px;
}



.photoProfile{
	width: 250px;
	height: 250px;
	background-color: gray;
	border-radius: 250px;
	background-size: 100%;
}

.profileBackground .profileName{
	color: white;
	font-size: 50px;
	font-weight: 300;
	text-shadow: 1px 1px #8F8F8F;
}

.profileBackground .job{
	color: white;
	font-size: 40px;
	font-weight: 100;
}

.content h2{
	font-size: 25px;
}

.content p{
	font-weight: 300;
	line-height: 25px;
	font-size: 14px;
}

.content .acknowledgments{
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.content .acknowledgments .title{
	font-size: 20px;
}

.content .thumbnail{
	width: 100%;
	height: 100px;
	background-image: url('/images/logo.png');
	box-shadow: 1px 6px 5px #F1F1F1;
	float: left;
	margin-right: 0px;
	background-size: 63%;
	background-repeat: no-repeat;
	background-position-y: 38px;
	background-position-x: 35px;
}

.content .thumbnailSuggestion{
	width: 100%;
	height: 100px;
	background-image: url('/images/logo.png');
	box-shadow: 1px 6px 5px #F1F1F1;
	float: left;
	margin-right: 0px;
	background-size: 87%;
	background-repeat: no-repeat;
	background-position-y: 28px;
	background-position-x: 6px;
	
}

.content .title{
	font-size: 23px;
	font-weight: 500;
	display: inherit;
}

.spacesTitle{
	font-size: 27px;
}

.area{
	background-image: url('/images/ping.png');
	padding-left: 18px;
	background-repeat: no-repeat;
}

.square{
	background-image: url('/images/details.png');
	background-repeat: no-repeat;
	line-height: 12px;
	padding-top: 9px;
	height: 50px;
}

table{
	width: 100%;
}

table thead{
	background-color: #F76D2E;
}

table thead tr{
	height: 40px;
	padding-top: 10px;
	color: #fff;
	text-transform: uppercase;
}

table tbody tr{
	height: 30px;
	padding-top: 10px;
	color: #000;
}

table td{
	padding-left: 10px;
}

input[type="text"],textarea, input[type="number"], input[type="password"], input[type="date"]{ 
	border: 1px solid #ACACAC;
	outline: 0;
	width: 275px;
	padding-left: 6px;
}

select{
	width: 275px;
	background-color: white;
	border: 1px solid rgb(185, 185, 185);
	border-radius: 0px;
	text-indent: 0.01px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #FFFFFF url('/images/arrowdown.png') no-repeat 99% center;
	padding-left: 6px;
}

input[type="text"]{
    height:25px; 
}

.small{
    width: 135px!important; 
}

.content .item{
	display: block;
	margin-top: 7px;
	margin-bottom: 7px;
}

.content .imagen{
	width: 600px;
	height: 340px;
	background-size: 100%;
	margin-left: -15px;
}

.content .imagenDisplay{
	width: 100%;
}

.pDescription{
	height: 120px;
	padding: 0px 0px;
}

.pDescription .title a{
	font-size: 19px;
	font-weight: 500;
	color: black;
}

.pDescription .title a:hover{
	color: #F76D2E;
	text-decoration: none;
}

.pDescription .item{
	font-size: 10px;
	font-weight: 300;
}

.pDescription .rooms{
	margin-left: 30px;
}

.pDescription .bathrooms{
	margin-left: 20px;
}

.preWhiteFooter{
	height: 175px;
	padding-top: 50px;
}

.pDescription .remove{
	cursor: pointer;
	display: block;
	font-size: 12px;
}

.pDescription{
	/*margin-top: 36px;*/
	height: 120px !important;
}

.btn_next{
	background-image: url('/images/controlflow.png');
	height: 35px;
	width: 155px;
	background-position: 155px;
	text-align: center;
	padding-top: 7px;
	float: left;
}

.btn_back{
	background-image: url('/images/controlflow.png');
	height: 35px;
	width: 155px;
	text-align: center;
	padding-top: 7px;
	float: left;
}

.btn_save{
	height: 35px;
	width: 155px;
	text-align: center;
	padding-top: 7px;
	float: left;
	background-color: #F76D2E;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
	border: 0px;
}

.btn_register {
	height: 35px;
	width: 155px;
	text-align: center;
	padding-top: 7px;
	/* padding-bottom: 7px; */
	float: left;
	background-color: #F76D2E;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
}

.btn_next span{
	color: white;
	text-align: center;
	padding-top: 7px;
	font-size: 15px;
	text-transform: uppercase;
}

.btn_back span{
	color: white;
	text-align: center;
	padding-top: 7px;
	font-size: 15px;
	text-transform: uppercase;
}

.arrow{
	background-image: url('/images/arrowflow.png');
	width: 175px;
	height: 48px;
	float: left;
	text-align: center;
	color: white;
	padding-top: 15px;
	font-weight: 300;
	background-position: 0px;
	/* position: relative; */
	text-transform: uppercase;
	font-size: 12px;
	margin-top: -2px;
	background-repeat: no-repeat;
}

.mleft-30{
	margin-left: -18px;
}

.arrowOrange{
	background-image: url('/images/arrowflow.png');
	z-index: 2;
	background-position: right;
	background-repeat: no-repeat;
}

.arrowBg{
	position: relative;
	height: 44px;
	float: left;
	margin-left: 0px !important;
}


.arrowBgInactive:before { 
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 26px solid transparent;
	border-left: 39px solid #B7B7B7;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	margin-left: 18px;
	left: 0;
	z-index: 1;
}

.arrowBg:before { 
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 26px solid transparent;
	border-left: 39px solid #FF7D64;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	margin-left: 18px;
	left: 0;
	z-index: 1;
}	



.arrowBgInactive{
	height: 44px;
	float: left;
	background-repeat: no-repeat;
	margin-left: 0px !important;
	position: relative;
}

.btn_back, .btn_next{
	cursor: pointer;
}


.ui-widget-header{
	background: white!important;
	border: 0px solid #000!important;
	font-weight: 200!important;
}


.fb-icon {
	width: 29px;
	height: 33px;
	float: left;
	background-image: url('/images/fb.png');
	margin-right: 15px;
	margin-top: -3px;
}

.blue {
	background-color: #4662b1;
	height: 40px;
	padding-top: 9px;
	color: white;
	border-radius: 5px;
	margin-bottom: 15px;
	padding-left: 10px;
	cursor: pointer;
	width: 300px;
}

.ui-widget-overlay {
	background: #000000;
	opacity: .8;
}

.bgwhite{
	background-color: white;
	padding-top: 10px;
}

.bold{
	font-weight: bold!important;
}

.f21{
	font-size: 21px;
}

.f24{
	font-size: 24px;
}

.block{
	display: block;
}

.inlineBlock{
	display: inline-block;
}

.thin {
	font-weight: 300;
	height: 40px;
}

.knowmore {
	height: 22px;
	background-color: #F76D2E;
	border-radius: 3px;
	padding-right: 12px;
	padding-left: 12px;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	padding-top: 3px;
	margin-top: 10px;
	margin-right: -24px;
	width: 100px;
}

.knowmore span{
	color: white;
	font-weight: 400;
	cursor: pointer;
}

.knowmore span:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.ui-state-default{
	background-color: white!important;
}

.bgray{
	background-color: whitesmoke;
}

.center{
	text-align: center;
}

.mbotton10{
	margin-bottom: 10px;
}

.loginwindow .btn_register, .loginwindow .btn_save{
	width: 250px;
	text-transform: none;
	border-radius: 5px;
	padding-bottom: 7px;
	border: 0;
}

.loginwindow input[type="email"] {
	color: black;
	padding-left: 10px;
}

.homeDetail{
	margin-top: 50px;
}

.homeDetail .menuGallery{
	background-color: #737373;
	height: 27px;
	color: white;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	margin-left: 15px;
}

.homeDetail .menuGallery .item{
	float: left;
	border-right: 1px solid white;
	height: 27px;
	margin-top: 0px;
	padding-top: 4px;
	width: 115.67px;
	padding-left: 0px;
	padding-right: 0px;
}

.goback{
	background-color: #f5f5f5;
	height: 32px;
	width: 100px;
	padding-top: 7px;
	padding-left: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}

.orangeBack{
	background-image: url('/images/orangearrow.png');
	width: 14px;
	height: 28px;
	float: left;
	margin-right: 5px;
	background-size: 60%;
	background-repeat: no-repeat;
}

.orangeBack span{
	margin-left: 10px;
}

.contentDiv {
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.subheader{
	background-image: url('/images/uploadspace.png');
	width: 100%;
	height: 200px;
	padding-top: 50px;
	display: none;
}

.subheader span {
	color: white;
	font-size: 50px;
	font-weight: 100;
}

.squareitems{
	border: 1px solid rgb(189, 189, 189);
	border-radius: 7px 7px 7px 7px;
	min-height: 45px;
}


.squareitems .addr{
	font-size: 11px;
	height: 45px;
	border-right: 1px solid rgb(189, 189, 189);
}

.squareitems .areasize{
	text-align: center;
	padding-top: 10px;
}

.squareitems .areasize .ar{
	font-weight: 500;
	font-size: 13px;
	display: block;
}

.squareitems .areasize .arLabel{
	font-weight: 300;
	font-size: 12px;
}

::-webkit-input-placeholder {
	color: #ACACAC;
	font-size: 12px;
	/*padding-left: 13px;*/
	padding-top: 4px;
}

.mtpo10{
	margin-top: 10px;
}

.black{
	color: black;
}

hr{
	margin-top: 5px!important;
	margin-bottom: 8px!important;
	border: 0!important;
	border-top: 1px solid #eee!important;
}

.twocolumns{
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
}

.fw300{
	font-weight: 300;
}

.fw400{
	font-weight: 400;
}

.fw500{
	font-weight: 500;
}

.fw600{
	font-weight: 600;
}

.mTop15{
	margin-top: 15px;
}

.gray1{
	color: #424242;
}

.advertTitle a{
	color: #3b3b3b;
	display: block;
}

.advertTitle a:hover{
	color: #F76D2E;
	text-decoration: none;
}

.advertDescription{
	font-size: 10px;
	font-weight: 300;
}

.gray2{
	color: #3b3b3b;
}

.padding0{
	padding: 0!important;
}

.searchBar{
	padding-left: 37px;
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(top,  #383838 0%, #3b3b3b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#3b3b3b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #383838 0%,#3b3b3b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #383838 0%,#3b3b3b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #383838 0%,#3b3b3b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #383838 0%,#3b3b3b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#3b3b3b',GradientType=0 ); /* IE6-9 */
	padding-bottom: 10px;
	padding-top: 8px;
}

.advertView{
	float: left;
	width: 50%;
	background-color: #ebebeb;
	padding-top: 7px;
	margin-top: 0px;
	padding-bottom: 7px;
	text-align: right;
	padding-right: 10px;
	cursor: pointer;
	height: 100%;
}

.mapView{
	color: #898989;
}

.listView{
	color: #898989;
}

.advertViewSelected{
	background-color: #898989;
	color: white;
}

.genericTableLeft{
	border: 1px solid rgb(185, 185, 185);
	padding: 0px;
	border-radius: 5px 0px 0px 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
}

.genericTableCenter{
	border: 1px solid rgb(185, 185, 185);
	padding: 0px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
}

.genericTableRight{
	border: 1px solid rgb(185, 185, 185);
	padding: 0px;
	border-radius: 0px 5px 5px 0px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
}
/*
.gTableLeft{
	border: 1px solid rgb(218, 211, 211);
	padding: 0px;
	border-radius: 5px 0px 0px 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
}

.gTableCenter{
	border: 1px solid rgb(218, 211, 211);
	padding: 0px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
	border-left: 0;
}

.gTableRight{
	border: 1px solid rgb(218, 211, 211);
	padding: 0px;
	border-radius: 0px 5px 5px 0px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
	border-left: 0;
}*/

.mapicon{
	background-image: url('/images/maplistActived.png');
	
	background-repeat: no-repeat;
	width: 18px;
	height: 19px;
	float: left;
	margin-left: 8px;
	background-size: 200%;
	color: white;
}

.advertViewSelected .mapicon{
	background-image: url('/images/maplist.png')!important;
	background-repeat: no-repeat;
	width: 18px;
	height: 19px;
	float: left;
	margin-left: 8px;
	background-size: 200%;
	color: white;
}

.listicon{
	background-image: url('/images/maplist.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 19px;
	float: left;
	 background-position: -19px 0;
	margin-left: 8px;
}

.advertViewSelected .listicon{
	background-image: url('/images/maplistActived.png')!important;
	background-repeat: no-repeat;
	width: 24px;
	height: 19px;
	float: left;
	 background-position: -19px 0;
	margin-left: 8px;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

.tright{
	text-align: right;
}

.search{
	height: 35px;
	width: 53px;
	background-color: #F76D2E;
	cursor: pointer;
	border: 0px;
	background-image: url('/images/searchicon.png');
	background-repeat: no-repeat;
	background-size: 62%;
	background-position: 6px 6px;
	border-radius: 2px;
}

.mright5{
	margin-right: 5px;
}

.mright10{
	margin-right: 10px;
}

.tcenter{
	text-align: center;
}

.content .p{
	margin: 0;
}

.contentDiv label {
	font-weight: 200;
}

.content .active{
	float: left;
	background-color: #F76D2E;
	padding: 4px 30px;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	float: left;
	cursor: pointer;
}


.content .inactive{
	float: left;
	background-color: #6F6F6F;
	padding: 4px 30px;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	float: left;
	cursor: pointer;
}

.mtop10{
	margin-top: 10px;
}

.mleft10{
	margin-left: 10px;
}

.simplebtn{
	height: 35px;
	width: 155px;
	text-align: center;
	padding-top: 7px;
	background-color: #f97242;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
	border: 0px;
	font-weight: 400;
	text-decoration: none;
}
.subeEspacio:hover{
	text-decoration: none;
}
.font200{
	font-size: 200px;
}


.descriptionDetail{
	font-weight: 300;
	font-size: 12px;
}


.thumbnailDetail{
	width: 100px;
	height: 75px;
	background-image: url('/images/logo.png');
	box-shadow: 1px 6px 5px #F1F1F1;
	float: left;
	margin-right: 0px;
	background-size: 87%;
	background-repeat: no-repeat;
	background-position-y: 28px;
	background-position-x: 6px;
}

#tabs ul li a {
	text-transform: uppercase;
    font-size: 12px;
    padding-left: 22px;
    padding-right: 22px;
}

.editBtn{
	background-image: url('/edit.png');
	width: 15px;
	height: 15px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 28px;
	margin-left: 10px;
	margin-right: 10px;
}

.saveBtn{
	background-image: url('/edit.png');
	width: 26px;
	height: 26px;
	float: left;
	background-repeat: no-repeat;
}

.cancelBtn{
	background-image: url('/cancel.png');
	width: 26px;
	height: 26px;
	float: left;
	background-repeat: no-repeat;
}

.littleDescription{
	font-size: 12px;
	font-weight: 400;
	color: gray;
}

.paddingStandar{
	padding: 0px 12px;
}

.thumbnail100{
	width: 100%;
	background-image: url('/images/logo.png');
	
	box-shadow: 1px 6px 5px #F1F1F1;
	float: left;
	margin-right: 0px;
	background-size: 87%;
	background-repeat: no-repeat;
	background-position-y: 28px;
	background-position-x: 6px;
}

.width100{
	width: 100%;
}
.lightDescription{
	font-size: 10px;
	font-weight: 300;
}

.borderTopBottom{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid rgb(236, 236, 236);
	padding-left: 0px;
	border-bottom: 1px solid rgb(236, 236, 236);
}

.selectionitem span{
	border: 1px solid rgb(187, 187, 187);
	padding: 6px 7px;
	margin: 0;
	margin-left: -4px;
}

.fb_iframe_widget span{
	padding-left:10px !important;	

}

.selectionitem .selected{
	background-color: #fb7445;
}

.lighter{
	font-weight: lighter;
}

.fsize12{
	font-size: 12px;
}

.fsize14{
	font-size: 14px;
}

.ui-tabs-active.ui-state-active a{
	background-color: #F76D2E;
	color: white;
}

.mbotton0{
	margin-bottom: 0px;
}

#multiselect p{
	margin-bottom: 0px;
}

#multiselect input[type="checkbox"] {
	color: orange;
	background: white;
	padding: 1em;
}


.inputShort{
	width: 35px!important;
}

.inputShort90{
	width: 80px!important;
}

.fsize13{
	 font-size: 13px;
}

.upper{
	text-transform: uppercase;
}

.mtop{
	margin-top: 85px;
}

.padding0{
	padding: 0;
}

.menu .col-md-8{
	padding-left: 120px;
}

.smalltext{
	font-size: 10px;
	color: rgb(145, 145, 145);
}

.mright3{
	margin-right: 3px;
}

.mright9{
	margin-right: 9px;
}

.mright6{
	margin-right: 6px;
}

.customDiv{
	text-transform: uppercase;
	padding-top: 55px
}

.photoslide {
	margin: 0px 12px;
	padding: 6px 2px;
}

.sliderArrowLeft{
	background-image: url('/images/sliderArrows.png');
	width: 35px;
	height: 45px;
	float: left;
	margin-top:40px;
	cursor: pointer;
}

.sliderArrowRight{
	background-image: url('/images/sliderArrows.png');
	width: 35px;
	height: 45px;
	float: right;
	margin-top:40px;
	cursor: pointer;
	 background-position: 35px 0;
}

.fsize11{
	font-size: 11px;
}

.navbar-default{
	background-color: white!important;
	border: 0px solid!important;
}

.navbar-nav {
	float: right!important;
}

.registerIndex{
	width: 150px;
	height: 35px;
	background-color: #F76D2E;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	padding-top: 4px;
	display: block;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.registerIndex2{
	width: 150px;
	height: 35px;
	background-color: #F76D2E;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	padding-top: 4px;
	display: block;
	cursor: pointer;
	text-align: center;
	margin-bottom: 12px;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 10px;
}

.markerpin{
	color: white;
	background-image: url("/images/sellmarker.png");
	width: 55px;
	height: 62px;
	float: left;
	margin-top: -18px;
	margin-left: -50px;
	margin-right: 4px;
	padding-top: 23px;
	background-size: 128%;
}

.markerpin span{
	margin-left: 28px;
}


.navbar-brand{
	padding-top: 25px!important;
}

.navbar-default .navbar-nav>li>a{
	font-size: 14px;
	font-weight: 300;
}

.nav.navbar-nav{
	padding-top: 8px!important;
}

.dialogWithDropShadow
{
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.centerList{
	padding-left: 132px;
}

.slidesWrapper{
  float: left;
  width: 80%;
}

.f19{
	font-size: 19px;
}

.f12{
	font-size: 12px;
}

.f18{
	font-size: 18px;
}

.width160{
	width: 160px;
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.mleft5{
	margin-left: 8px;
}

.w180{
	width: 180px;
}

.pDescription .deleteItem, .pDescription .editItem a{
	font-size: 10px;
	cursor: pointer;
}

.star{
	background-image: url('/images/graystar.png');
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.graystar{
	background-image: url('/images/star.png');
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.pointer{
	cursor: pointer;
}

.ui-dialog-titlebar{
	display: none;
}



/* Modal de precios y otras */


div#_customPrice {
	height: 70px !important;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dialogWithDropShadow {
left: 150px !important;
} 

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.dialogWithDropShadow.ui-draggable.ui-resizable {
	top: 115px !important;
	left: 417px !important;
	width: 207px !important;
	webkit-box-shadow: 2px 0px 11px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 2px 0px 11px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 2px 0px 11px 0px rgba(50, 50, 50, 0.5);
}

.ui-widget select{
	font-family: lato!important;
	font-size: 1em;
	margin-bottom: 28px;
}

div.selectionitem {
	margin-bottom: 45px;
}

div#tabs-1 {
	height: 150px;
}


/* tablas*/



/*
div.price {
	padding-left: 51px;
}*/

.gTableRight {
	border: 1px solid rgb(218, 211, 211);
	padding: 0px;
	border-radius: 0px 5px 5px 0px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
	border-left: 0;
	width: 73px;
}

.gTableLeft {
	border: 1px solid rgb(218, 211, 211);
	padding: 0px;
	border-radius: 5px 0px 0px 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
	width: 94px;
}

.gTableCenter {
	border: 1px solid rgb(218, 211, 211);
	padding: 0px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 2px 10px;
	border-left: 0;
	width: 58px;
}



#errorRegister{
	display: inline-flex;
}

#errorRegister li{
	color: red;
	font-size: 10px;
	width: 250px;
	text-align: left;
}



/* envoltorio Gerardo */

.contGer{
	height: 500px;
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

div#_customPrice {
min-height: 42px !important;
height: 42px !important;
}


.mar{
	margin-bottom: 14px;
}

.absolute{
	position: absolute; 
    bottom: 0; 
    margin-bottom: 10px;
}

.footerTwo{
	position: absolute !important;
	bottom: 0;
}


.fbButton{
	width: 300px;
}



.tablesorter tr th{
	color: black;
}

.fb {
width: 20px!important;
height: 20px;
background-image: url("http://vincubo.com:3000/images/socialicons.png");
background-repeat: no-repeat;
cursor: pointer;
float: left;
margin-right: 10px;
}

.tw {
width: 20px!important;
height: 20px;
background-image: url("http://vincubo.com:3000/images/socialicons.png");
background-repeat: no-repeat;
cursor: pointer;
float: left;
background-position-x: -25px;
}

.copy {
color: white;
font-size: 10px;
float: left;
margin-right: 20px;
}


.socials {
float: right;
margin-right: 35px;
width: 245px!important;
}


