<!DOCTYPE html>
<html>
  <head>
    <title>Vincubo - [Mensaje]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 
    <%= stylesheet_link_tag("style.css") %>
    <style>@import url("http://fonts.googleapis.com/css?family=Lato:100normal,100italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic&subset=latin&directory&text=+%2C-.0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz&directory");
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="col-lg-12 header">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo"></div>
      <div class="menu col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/administration/new">Subir espacio</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/administration">Mis espacios</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="#">Preguntas frecuentes</a></div>
        <div class="col-lg-2 col-md-2 col-xs-6"><a href="/welcome/aboutus">Nosotros</a></div>
        <%if session[:user] == nil %>
          <div class="col-lg-2 col-md-2 col-xs-6"><a href="/login">Iniciar Sesi&oacute;n</a></div>
        <% else %>
          <div class="col-lg-2 col-md-2 col-xs-6"><a href="/login/logout">Cerrar Sesi&oacute;n</a></div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBackground">
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-lg-offset-2">
        <img class="photoProfile" src="<%= @user.image.url %>" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-4 col-mg-offset-4">
        <span class="profileName"> <%= @user.name %> <%= @user.lastname %></span>
        <br />
        <span class="job"><%= @user.job %></span>
      </div>
    </div>

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 content">
      <h2>Env&iacute;o de mensaje</h2>

      <div class="col-lg-10 col-mg-10">
        
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <%= form_for ([@advert, @user]), :url => {:action => 'create'}, :html => {:multipart => true}  do |f| %>


          <p>Detalle del inmueble: <%= @advert.title %>  </p>
          
          <% if @advert.image? %>
            <p>Im&aacute;gen del inmueble: </p>
              <img class="thumbnail" src="<%= @advert.image.url %>" />
            <% else %>
              <div class="thumbnail"></div>
          <% end %>

          <br />
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

          <p>T&iacute;tulo del mensaje</p>
          <input type="text" />
          <br />
          <p>Mensaje</p>
          <textarea cols="15" rows="8"></textarea>

          <p>
            <%= submit_tag("Enviar mensaje") %>
          </p>

        <% end %>
        </div>
      </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer footerTwo">
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Equipa tu espacio</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Mis espacios</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Preguntas frecuentes</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Iniciar sesi&oacute;n</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">T&eacute;rminos y condiciones</a></div>
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12"><a href="#">Subir un espacio</a></div>
    </div>
  </body>

</html>