<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vincubo</title>

		

			<!--<link rel="stylesheet/less" type="text/css" href="css/style.less" />-->

			<%= stylesheet_link_tag "panel/jquery.nouislider.css" %>
			<%= stylesheet_link_tag "panel/style.css" %>
			<%= stylesheet_link_tag "panel/bootstrap.min.css"  %>
			<%= stylesheet_link_tag "panel/font-awesome.css" %>
			<%= stylesheet_link_tag "panel/less" %>


			<%= javascript_include_tag "panel/jquery-1.7.1.min.js" %>
			<%= javascript_include_tag "panel/jquery.nouislider.min.js" %>
			<%= javascript_include_tag "panel/custom_animations.js" %>
			<%= javascript_include_tag "panel/custom_easing.js" %>
			<%= javascript_include_tag "panel/bootstrap.min.js" %>
			<%= javascript_include_tag "panel/less-1.4.1.min.js" %>
			<%= javascript_include_tag "panel/Chart.js" %>
			<%= javascript_include_tag "panel/inner-rangeslider.js"%>
			
	</head>
	<body class="container">
<div style="display: none">
		<div id="abm">
		<%= @advertsbymonth.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />
		<div id="rbm">
		<%= @rentbymonth.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />
		<div id="sbm">
		<%= @sellbymonth.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />
		<div id="hto">
		<%= @htoffice.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />
		<div id="htt">
		<%= @htt.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />

		<div id="sbmtotal">
		<%= @sbmtotal.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />

		<div id="rbmtotal">
		<%= @rbmtotal.each do |q| %>
			<p> <%= q[0].to_s %>  </p><p> <%= q[1].to_s %></p>
		<% end %>
		</div>
		<hr />
</div>
		<header class="row">
			<div class="logo col-xs-3 ">
				<a href="index.html"><img src="/images/logo.png" alt="Vincubo"></a>
			</div>
			<nav class="backgrey bordergrey col-xs-12">
				<ul class="nav nav-tabs">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Lista: <span>Todos</span> <div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Set de datos: <span>Mercado</span><div class="circle"><span class="caret"></span></div></a>
						<ul class="dropdown-menu">
							<li><a href="">Lorem</a></li>
							<li><a href="">Ipsum</a></li>
						</ul>
					</li>
				</ul>
				<div class="nav-right">
					<ul class="nav nav-tabs">
						<li><a href="mapa.html"><i class="fa fa-map-marker"></i> Mapa</a></li>
						<li class="active"><a href="tabla.html"><i class="fa fa-list"></i> Lista</a></li>
					</ul>
					
					
				</div>
			</nav>
		</header>

		<%= form_for (@state) , :url => {:action => 'index'}, :html => {:multipart => true}  do |f| %>
		<section class="row">
			<div class="backside"></div>
			<article class="col-xs-3 sidebar backgrey">
				<div class="row shadow white">
					<form class="form-horizontal col-xs-11 mr14" role="search">
						<div class="left-inner-addon black form-group">
	    					<i class="fa fa-search"></i>
	    					<input type="text" class="form-control" placeholder="Ingrese sus t&eacute;rminos de b&uacute;squeda" />
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-grey">Restablecer</button>
							<button type="submit" class="btn btn-orange pull-right">Guardar b&uacute;squeda</button>
						</div>
			        </form>	
			    </div>
		    	<div class="row pt10 ">		
		    		<form class="form-horizontal col-xs-11 mr14" role="search">
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Resultados de:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>&Uacute;ltimos 7 d&iacute;as</option>
							  <option>&Uacute;ltimos 14 d&iacute;as</option>
							  <option>&Uacute;ltimos 21 d&iacute;as</option>
							  <option>&Uacute;ltimos 30 d&iacute;as</option>
							  <option>&Uacute;ltimos 60 d&iacute;as</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Departamento:</label>
					    <%= f.collection_select :id, State.all, :id, :name, {}, {:class => "form-control", :id=>"state", :name=>"state"} %>
					</div>
					<!--<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Municipio:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>San Salvador</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>-->
					<!--<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Zonas:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option>Escalón, San Benito</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							  <option>Lorem Ipsum</option>
							</select>
					    </div>
					</div>-->
					<div class="line"></div>
					<label for="inputEmail3" class="title col-xs-12">Par&aacute;metros de b&uacute;squeda</label>
					<div class="form-group">
					    <label for="inputEmail3" class="col-xs-4 ">Tipo de inmueble:</label>
					    <div class="col-xs-8">
					      <select class="form-control">
							  <option value="Apartamento">Apartamento</option>
			                  <option value="Bodega">Bodega</option>
			                  <option value="Casa">Casa</option>
			                  <option value="Casa de Recreo">Casa de Recreo</option>
			                  <option value="Local Comercial">Local Comercial</option>
			                  <option value="Nave Industrial">Nave Industrial</option>
			                  <option value="Oficina/Clinica">Oficina/Clinica</option>
			                  <option value="Terreno">Terreno</option>
							</select>
					    </div>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Tipo de transacci&oacute;n</label>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-orange">Venta</button>
						<button type="submit" class="btn btn-ogrey">Alquiler</button>
					</div>
					<label for="inputEmail3" class="title col-xs-12">Rango de precios:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="pricemin" class="inputClass form-control cw">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="pricemax" class="inputClass2 form-control">
						</div>
					</div>
					<div id="rangePrices"></div>
					<div class="min pull-left">$0</div>
					<div class="max pull-right">$1,200,000</div>

					<label for="inputEmail3" class="title col-xs-12">Area de contrucci&oacute;n:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="m2min" class="inputClass3 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="m2max" class="inputClass4 form-control cw">
						</div>
					</div>
					<div id="rangeConstruction"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">1800m2</div>

					<label for="inputEmail3" class="title col-xs-12">Area de terreno:</label>
					<div class="form-group text-center">
						<label  class="col-xs-2 minus">Desde:</label>
						<div class="col-xs-4">
						<input name="v2min" class="inputClass5 form-control">
						</div>
						<label  class="col-xs-2 minus">Hasta:</label>
						<div class="col-xs-4">
						<input name="v2max" class="inputClass6 form-control cw">
						</div>
					</div>
					<div id="rangeTerreno"></div>
					<div class="min pull-left">0m2</div>
					<div class="max pull-right">2200m2</div>

					<br /><br /><br />

					<div class="form-group text-center row">
						<label  class="col-xs-4">Habitaciones:</label>
						<div class="col-xs-8 range">
							<input type="text" name="rooms" class="form-control cw" />
							<div class="min ">1</div>
							<div id="rangeHab" name="rooms" class="rangeMargin"></div>
							<div class="max pull-right">7</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Ba&ntilde;os:</label>
						<div class="col-xs-8 range">
							<input type="text" name="bathrooms" class="form-control cw" />
							<div id="rangeBa" name="rangebathroom" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>

					<div class="form-group text-center row">
						<label  class="col-xs-4">Parqueos:</label>
						<div class="col-xs-8 range">
							<input type="text" name="parkings" class="form-control cw" />
							<div class="min ">1</div>
							<div id="rangePar" class="rangeMargin"></div>
							<div class="max pull-right">10</div>
						</div>
					</div>
		        </form>	
		    	</div>
		    </article>
		    <article class="col-xs-9 main">
		    <div class="row">
		    	<div class="col-xs-10 col-xs-offset-1 backgrey vista">
		    		<div class="row">
		    			<div class="col-xs-4 col-xs-offset-4 line-title">
		    				<h3>Vista Resumida</h3>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-4 chart">
		    				<canvas id="muebles" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p>Residencial - 40%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p>Comercial - 25%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p>Corporativo - 20%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>Industrial - 15%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>Tipos de inmuebles en lista</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="propiedades" class="dona" height="72" width="72"></canvas>
		    				<div class="info orange">
		    				<ul>
		    					<li>
		    					<div class="circle orange"><div class="circle"></div></div>
		    					<p>En Venta: 23%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>En alquiler: 77%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>N&uacute;mero total de propiedades</label>
		    			</div>
		    			<div class="col-xs-4 chart">
		    				<canvas id="zonas" class="dona" height="72" width="72"></canvas>
		    				<div class="info">
		    				<ul>
		    					<li>
		    					<div class="circle"><div class="circle"></div></div>
		    					<p>Col. Escal&oacute;n - 0%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey2"><div class="circle"></div></div>
		    					<p>Merliot - 0%</p>
		    					</li>
		    					<li>
		    					<div class="circle grey3"><div class="circle"></div></div>
		    					<p>Col. Miramonte - 0%</p>
		    					</li>
		    					<li>
		    					<div class="circle white"><div class="circle"></div></div>
		    					<p>Santa Elena - 0%</p>
		    					</li>
		    				</ul>
		    				</div>
		    				<label>Zonas m&aacute;s populares</label>
		    			</div>
		    		</div>
		    	</div>
		    	<!--<div class="col-xs-10 col-xs-offset-1 interna">
			    	<div class="row">
			    			<form class="form-horizontal col-xs-12">
			    			<div class="row">
			    				<div class="col-xs-12 clean">
								    <label for="inputEmail3">Departamento:</label>
								      <select class="form-control">
										  <option>San Salvador</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										</select>
								    <label for="inputEmail3" class="">Municipio:</label>
								      <select class="form-control">
										  <option>San Salvador</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										</select>
								    <label for="inputEmail3" class="">Zonas:</label>
								      <select class="form-control">
										  <option>Escalón, San Benito</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										</select>
								</div>
								<div class="col-xs-12 clean">
									<button type="submit" class="btn btn-orange">Residencial</button>
									<button type="submit" class="btn btn-ogrey">Corporativo</button>
									<button type="submit" class="btn btn-orange">Comercial</button>
									<button type="submit" class="btn btn-orange">Industrial</button>
									<button type="submit" class="btn btn-ogrey">Terrenos</button>
								</div>
								<div class="col-xs-12 clean">
									<label for="inputEmail3" class="">Mostrar resultados de:</label>
								      <select class="form-control">
										  <option>&Uacute;ltimos 7 d&iacute;as</option>
										  <option>&Uacute;ltimos 14 d&iacute;as</option>
										  <option>&Uacute;ltimos 21 d&iacute;as</option>
										  <option>&Uacute;ltimos 30 d&iacute;as</option>
										  <option>&Uacute;ltimos 60 d&iacute;as</option>
										</select>
								</div>
							</div>
			    			</form>
			    		</div>
			    	</div>-->
			    <div class="col-xs-10 col-xs-offset-1 grafico">
			    	<h3>Tama&ntilde;o de Mercado</h3>
			    	<p>Calculado como la suma de los precios de las propiedades mapeadas por Vincubo.</p>
			    	<div class="row">
			    		<div class="col-xs-6 hl">
			    			<p class="orange">Venta</p>
			    			<canvas id="line2grafico" class="" height="180" width="360"></canvas>
			    			<canvas id="line2grafico2" class="" height="180" width="360"></canvas>
			    		</div>
			    		<div class="col-xs-6">
			    			<p class="orange">Alquiler</p>
			    			<canvas id="line2grafico3" class="" height="180" width="360"></canvas>
			    			<canvas id="line2grafico4" class="" height="180" width="360"></canvas>
			    		</div>
			    	</div>
			    	

			    	<h3>Comparaci&oacute;n</h3>
			    	<p>Elige las dos zonas que quieres comparar.</p>
			    	<form class="form-horizontal col-xs-12">
			    			<div class="row">
			    				<div class="col-xs-12 clean">
								    <label for="inputEmail3">Zona 1:</label>
								      <select class="form-control">
										  <option>San Benito</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										</select>
								    <label for="inputEmail3" class="">Zona 2:</label>
								      <select class="form-control">
										  <option>Escal&oacute;n</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										  <option>Lorem Ipsum</option>
										</select>
								</div>
							</div>
					</form>
					<div class="col-xs-12 text-center">
					<div class="table comparar">
						<h3>Comparaci&oacute;n de mercado entre <span class="blue">zona 1</span> y <span class="green"> Zona 2</span></h3>
						<table class="table">
							<tr class="head">
								<td></td>
								<td><span class="blue">Zona 1</span></td>
								<td><span class="green">Zona 2</span></td>
								<td></td>
							</tr>
							<tr>
								<td>Precio promedio</td>
								<td>$45,000.00</td>
								<td>$23,000.00</td>
								<td><div class="lineblue"></div><div class="linegreen"></td>
							</tr>
							<tr>
								<td># de Propiedades</td>
								<td>339</td>
								<td>100</td>
								<td><div class="lineblue"></div><div class="linegreen"></td>
							</tr>
							<tr>
								<td>Prom. de d&iacute;as en lista</td>
								<td>7.5</td>
								<td>8</td>
								<td><div class="lineblue"></div><div class="linegreen"></td>
							</tr>

						</table>
					</div>
					</div>
					<h3>Evoluci&oacute;n de precios</h3>
			    	<p>Mostrando las 15 zonas mas populares.</p>
			    	<div class="col-xs-12 text-center">
			    	<div class="table precios">
						<table class="table">
							<tr class="head">
								<td>Zona, Col., Res.</td>
								<td>Sem. - Sem -</td>
								<td>Mes - Mes</td>
								<td>Trim. - Trim.</td>
								<td>A&ntilde;o - a&ntilde;o</td>
								<td>Prom. de d&iacute;as en lista</td>
							</tr>
							<tr>
								<td>Col. escalon</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>Col. Zacamil</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							<tr>
								<td>San Francisco</td>
								<td><span class="orange">-3%</span></td>
								<td>2%</td>
								<td>8%</td>
								<td>9%</td>
								<td>7.5</td>
							</tr>
							

						</table>
					</div>
					</div>
			    	
			    	
			    </div>	
		    </div>
		    </article>
		</section>
		<% end %>
		<footer class="row">
			<div class="col-xs-12">
				<p>© Vincubo 2013 - Todos los derechos reservados</p>
			</div>
		</footer>
		<%= javascript_include_tag "panel/inner-chart.js"%>
		
		<script type="text/javascript">

		$(function(){

			$("#rangeBa").on("change",function(){
				$("input[name=bathrooms]").val($("#rangeBa").val());
			});

			$("#rangeHab").on("change",function(){
				$("input[name=rooms]").val( $("#rangeHab").val() );
			});

			$("#rangePar").on("change",function(){
				$("input[name=parkings]").val( $("#rangePar").val() );
			});

		});


		function getURLParameter(name) {
			return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
		}
		
				</script>
	</body>
</html>