<!DOCTYPE html>
<html>
  <%= render "shared/header" %>

  <body>

<style type="text/css">
  table{
    width:100%; 
    border-collapse:collapse; 
  }
  table td{ 
    padding:7px; border:#4e95f4 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */

  /*  Define the background color for all the ODD background rows  */
  tbody tr:nth-child(odd){ 
    background-color: #F5F5F5;
  }
  /*  Define the background color for all the EVEN background rows  */
  tbody tr:nth-child(even){
    background-color: #fff;
  }

  table td {
    padding-left: 10px;
    text-align: center;
  }

  textarea{
    width: 200px;
    height: 50px;
  }

  input[type="text"], textarea, input[type="number"], input[type="password"], input[type="date"], select {
    border: 1px solid #ACACAC;
    outline: 0;
    width: 100px;
    }

    select:focus, input:focus
    { 
        background-color:#ACACAC;
    }
    .fixed{
        width:100px;
        height: 100px;
        position:fixed;
        background:darkgray;
    }
    .fixed.publicar{
        right:0;
    }
    .fixed.descartar{
        right:100px;
    }
    .fixed.link{
        right:200px;
    }
    .lastBeforeFixed{
        padding-right: 300px;
    }
        .fixedHeader{
            width:100px
        }
</style>



<div class="col-lg-12 col-md-12 areas">
  

    <table>
      <thead>
        <tr>
          <td>
          </td>
            <td>
              <span>Tipo de anuncio</span>
            </td>
            <td>
              <span>Telefono</span>
            </td>
            <td>
                <span>Precio</span>
              </td>
              <td>
                <span>Tipo de negociacion</span>
              </td>
              <td>
                <span>Tipo de inmueble</span>
              </td>
              <td>
                <span>Departamento</span>
              </td>
              <td>
                <span>Municipio</span>
              </td>
              <td>
                <span>Colonia/Zona</span>
              </td>
              <td>
                <span>Direccion</span>
              </td>
              <td>
                <span>Local</span>
              </td>
              
              <td style="display:none">
                <span>Descripcion</span>
              </td>
              
              
              <td>
                <span>Cuartos</span>
              </td>
              <td>
                <span>Banos</span>
              </td>
              <td>
                <span>Area de construcion</span>
              </td>
              <td>
                <span>Area de terreno</span>
              </td>

              <td>
                <span>Parqueos</span>
              </td>

              <td>
                <span>Fuente</span>
              </td>
              <td>
                <span>URL</span>
              </td>


      </thead>

      <tbody>
        <% @adverts.each do |advert| %>
          
            <tr id="<%=advert.id%>">

              <%= form_for advert , :url => {:action => 'publish', :controller => 'panel', :aid => advert.id}, :html => {:multipart => true}  do |f| %>
              <td>
                <%= f.hidden_field :id %>
              </td>
              <td>
                <select name="advert[adverttype]" id="advert_adverttype" style = "width: 40px;">
                <%if advert.urlimage != nil &&  advert.urlimage.length > 0 %>
                
                  <option value="1">1</option>
                  <option value="2">2</option>
                
                <% else %>
                  <option value="3">3</option>
                <% end %>
                </select>
              </td>

              <td>
                <%= f.text_field :phone %>
              </td>

              <td>
                <%= f.number_field :price, {:style => "width: 60px;"} %>
              </td>

              <td>
                <select id="advert[negotationtype]" name="advert[negotationtype]">
                <% if advert.negotationtype == "Venta" %>
                <option value="Venta" selected>Venta</option>
                <option value="Alquiler">Alquiler</option>
                <% else %>
                <option value="Venta">Venta</option>
                <option value="Alquiler" selected>Alquiler</option>
                <% end %>
                </select>
              </td>

              <td>
                <select id="advert[housetype]" name="advert[housetype]" >
                  <option value="Apartamento">Apartamento</option>
                  <option value="Bodega">Bodega</option>
                  <option value="Casa">Casa</option>
                  <option value="Casa de Recreo">Casa de Recreo</option>
                  <option value="Local Comercial">Local Comercial</option>
                  <option value="Nave Industrial">Nave Industrial</option>
                  <option value="Oficina/Clinica">Oficina/Clinica</option>
                  <option value="Terreno">Terreno</option>
                </select>
              </td>

              <td>
                <%= f.collection_select :id, @states, :id, :name , {:selected => advert.town.state.id}, {:class=> "state_id" } %>
              </td>
              <td>
                <%= f.collection_select :id, advert.town.state.towns, :id, :name , {:selected => advert.town.id}, {:class => "town_id", :name => "town_id"} %>
              </td>
              <td>
                <%= f.collection_select :id, advert.town.zones, :id, :zonename, {}, {:class => "zone_id", :name=>"zone_id" } %>
              </td>
              <td>
                <%= f.text_field :address %>
              </td>
              <td>
                <%= f.text_field :local, {:style => "width: 60px;"}  %>
              </td>

              
              <td style="display:none">
                <%= f.text_area :description, {:class => "d-#{advert.id} ta" } %>
              </td>

              
              
              
              <td>
                <%= f.number_field :rooms, {:style => "width: 40px;"}  %>
              </td>
              <td>
                <%= f.number_field :bathroom, {:style => "width: 40px;"}  %>
              </td>
              <td>
                <%= f.number_field :construction, {:style => "width: 40px;"}  %>
              </td>
              <td>
                <%= f.number_field :areasize , {:style => "width: 40px;"} %>
              </td>
              <td>
                <%= f.number_field :parking , {:style => "width: 40px;"} %>
              </td>
              <td class="lastBeforeFixed">
                <%= advert.originaldate %>
              </td>
              <td class="fixed link">
                <a href="<%= advert.originalsource %>" target="_blank">Fuente: <%= advert.originalsite %></a>
              </td>




              <td class="fixed publicar">
                <input type="submit" value="Publicar" />
              </td>
              <td class="fixed descartar">
                <input type="button" value="Descartar" class="desc" id="d-<%=advert.id%>" />
              </td>
              <% end %>
            </tr>
          
        <% end %>
      </tbody>


      <tfoot >

        <tr>
          <td colspan="40" >
      
            <textarea  cols="50" rows="10" id="oDescription"></textarea>
          </td>
        </tr>
      </tfoot>
    </table>
          

    

  <%= will_paginate @adverts %>
</div>

<script>
  var selected;

  $(function(){

    $("tbody tr").on("click", function(){
      selected = $(this).attr("id");
      $("#oDescription").val( $(".d-" + $(this).attr("id")).val()  );
      $("tr").css("background-color","");
      $("#"+selected).css("background-color","#ABC123")
    }); 


    $(".state_id").on("change", function(){
      var sid = $(this).parent().parent().attr("id");
      loadTowns(sid);
    });

    $(".town_id").on("change", function(){
      var sid = $(this).parent().parent().attr("id");
      loadZonesByTown( $(this).val() ,sid);
    });


    function loadTowns(sid){
      var val = $("#" + sid).children().find(".state_id").val()
      $.ajax({
        type: 'GET',
        url: '/administration/load/' + val,
        dataType: 'json',
        success: function(data){
          var townid = $("#" + sid).children().find(".town_id");
          $(townid).empty();
          for(var i=0; i < data.result.length; i++){
            $(townid).append("<option value='" + data.result[i].id + "'>" +  data.result[i].name + "</option>"  );
          }

          loadZonesByTown( $(townid).val(), sid );
        }
      });
    }

    function loadZonesByTown( town_id,sid ){
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/detail/zonesbytown?town_id=' + town_id ,
          success: function(data){
            var zone = $("#" + sid).children().find(".zone_id");
            $(zone).empty();
            for(var i=0; i< data.data.length; i++){
              if(data.data[i] != undefined)
                $(zone).append("<option value='" + data.data[i].id + "'>" + data.data[i].zonename +  "</option>"  );
            }
            //$(zone).val(zone_id);
        }
      });
    }

    $(".desc").on("click",function(){
      var id = $(this).attr("id").split("-")[1];
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '/panel/deleteAdvert?id=' + id ,
          success: function(data){
            location.reload();
          }
      });
    });

    
    $("#oDescription").keyup(function() {
      $("#" +  selected).find(".ta").text( $("#oDescription").val()  );
    });

    var window_width = $(window).width() - $('#oDescription').width();

    var document_height = $(document).height() - $(window).height();

        $(window).scroll(function () {
            var scroll_position = $(window).scrollLeft();
            //console.log(scroll_position);
            var object_position_left = scroll_position;
            $('#oDescription').css({
                'margin-left': object_position_left
            });
        });
    


  });

</script>

<style>
#oDescription{
  background-color: #EBE9EA;
  border: 1px solid #D2D2D2;
  border-radius: 8px 8px 8px 8px;
  float: left;
  min-height: 225px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
  width: 400px;
}




</style>



</body>

</html>