<!DOCTYPE html>
<html>
	<%= render "shared/header" %>

	<body>
		<%= render "shared/menu" %>

	<br /><br /><br /><br /><br /><br /><br /><br />


	<h2>Su archivo ha sido procesado exitosamente</h2>


	<p>Los siguientes registros no fueron agregados:</p>
	<ul>
		<% @advertsNoIncluded.each do |advert| %>
			<li><%= advert%></li>
		<% end %>

	</ul>




	<br /><br /><br /><br /><br /><br /><br /><br />
		<%= render "shared/footer" %>
		
        
	</body>

</html>

<style>
	option{
		background-color: black;
	}
</style>




