
    <script>
      $(function(){
        $(".remove").click(function(){
          var id = $(this).attr('id');
          $.ajax({
            type: 'GET',
            url: '/favorites/destroy',
            dataType: 'json',
            data: { 'id' : id },
            success: function(data){
              location.reload();
            }
          })
        });

      });
    </script>



      <h2>Mis favoritos</h2>
      <div class="col-lg-12 areas">
        <% @favorites.each do |advert| %>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pDescription">
            <% if advert.image? %>
              <!--<div class="thumbnail" style="background-image: url(<%= advert.image.url %>)"></div>-->
              <img class="thumbnail" src="<%= advert.image.url %>" />
            <% else %>
              <div class="thumbnail"></div>
            <% end %>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 pDescription">
            <div>
              <span class="title"> <%= link_to "#{advert.housetype} en #{advert.negotationtype}", :action => "show", :controller => "administration",  :id => advert.id %> </span>
              <span class="remove" id="<%=advert.id%>">Remover</span>
              <span class="area fw300 fsize11">  <% if advert.zone != nil %>
                <%= advert.zone.zonename %> 
              <% elsif advert.town != nil %>
                <%= advert.town.name %> 
              <% end %> </span>
            </div>

              <% if advert.housetype == "Casa" || advert.housetype == "Apartamento" || advert.housetype == "Casa de Recreo" %>
        <div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock ">
            <div class="price pLeft25" style="padding-left: 40px"><span>$</span><span class="money"><%= advert.price %></span></div>
            <div class="item pLeft25" style="padding-left: 40px">Precio</div>
          </div>
        </div>
      <% end %>

      <% if advert.housetype == "Local Comercial" || advert.housetype == "Oficina/Clinica" %>
        <div class="gTableLeft">
          <div class="rooms"> <%= ( (advert.areamts == "" || advert.areamts == nil )  ? "-" : advert.areamts ) %> M<sup>2</sup> </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableCenter">
          <div class="bathrooms">0</div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Parqueos</div>
        </div>
        <div class="gTableRight">
          <div class="price">
            <span>$</span><span class="money"><%= advert.price %></span>
          </div>
          <div class="item " style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>

      <% if advert.housetype == "Nave Industrial"  || advert.housetype == "Bodeg" %>
        <!--<div class="square"> 
          <div class="inlineBlock pLeft25">
            <div class="rooms"><%= advert.rooms %> </div>
            <div class="item">Habitaciones</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="bathrooms"><%= advert.bathroom %></div>
            <div class="item">Ba&ntilde;os</div>
          </div>
          <div class="inlineBlock pLeft25">
            <div class="price"><span>$</span><span class="money"><%= advert.price %></span></div>
            <div class="item pLeft25">Precio</div>
          </div>
        </div>-->
      <% end %>
            
      <% if advert.housetype == "Terreno" %>
        <div class="gTableLeft">
          <div class="rooms"> <%= advert.areavrs %> V<sup>2</sup> </div>
          <div class="item" style="margin-top: 0px; margin-bottom: 2px;">Area</div>
        </div>
        <div class="gTableRight">
          <div class="price "><span>$</span><span class="money"><%= advert.price %></span></div>
          <div class="item pLeft25" style="margin-top: 0px; margin-bottom: 2px;">Precio</div>
        </div>
      <% end %>
            
          </div>

        <% end %>
      </div>