<!DOCTYPE html>
<html>
<%= render "shared/header" %>

<body>
<%= render "shared/menu" %>

<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 content">



</div>
<div style="margin-top:100px;padding-bottom: 60px">
<% if @user == nil %>
    <h5>El link ha caducado o la contraseña ya ha sido cambiada.</h5>

<% else %>
    <script>
        function validate(){
            if($("#password").val() == ""){
                $(".confirmationLabel").html("La contraseña no puede estar en blanco")
                return false;
            }else{
                if($("#password").val()!=$("#password-confirmation").val()){
                    $(".confirmationLabel").html("La contraseña no coincide con su confirmación")
                    return false;
                }else{
                    $(".confirmationLabel").html("")
                    return true;
                }
            }


        }
        $(function(){
            $("#password").keyup(function(){
                validate();
            })
            $("#password-confirmation").keyup(function(){
                validate();
            })
            $("#passwordChangeSubmit").submit(function(){
                return validate();
            })
        })
    </script>
        <h5>Introduzca su nueva contraseña</h5>
      <br/>
      <%= form_tag("/login/reset_password", method: "post") do %>
          <input type="hidden" name="token" value="<%= @user.token %>" />
          <label>Contraseña: </label><br/>
          <input type="password" name="password" id="password"/><br/>
          <label>Confirmación de contraseña: </label><br/>
          <input type="password" id="password-confirmation"/>
          <p class="confirmationLabel"></p><br/>
          <input type="submit" value="Cambiar contraseña" id="passwordChangeSubmit"/>
      <% end %>


<%end%>
</div>
<%= render "shared/footer" %>
</body>

</html>
