<%= javascript_include_tag "notify.min.js" %>
<style>

label{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-weight: 400;
}

.blue span{
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: 25px;
}

.loginwindow input[type="text"], .loginwindow input[type="password"], .loginwindow input[type="email"] {
  border: 1px solid #DADADA;
  outline: 0;
  width: 250px;
  border-radius: 8px;
  height: 33px!important;
}

.loginwindow input[type="text"], .loginwindow input[type="password"], .loginwindow input[type="email"] {
  color: black;
}

.loginwindow input[type="text"] {
  padding-left: 10px;
}

.loginwindow .terms{
  color: #3b3b3b;
  font-size: 12px;
  text-transform: none;
}

.loginwindow .terms a{
  color: #F76D2E;
}

.loginwindow .termsaacount {
  color: #3b3b3b;
  font-size: 13px;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 25px;
}

.loginwindow .registerMessage{
  color: #3b3b3b;
}

.ui-dialog .ui-dialog-content{
  padding: .4em 0.5em;
}

.bluelink{
  color: blue!important;
}

</style>

<script>

  $(function(){

    $( "#tabs" ).tabs();

      $("#cambio_contrasenia").click(function(){
          $.ajax({
              type: 'GET',
              url: '/administration/checkIfEmailExist?email=' + $(".login_email").val(),
              dataType: 'json',
              success: function (data) {
                  if (data.result != 0) {
                      $.ajax({
                          type: 'GET',
                          url: '/login/send_confirmation',
                          data: { email: $(".login_email").val()},
                          dataType:'json',
                          success: function (done) {
                              $.notify("Correo de cambio de contraseña envíado", "success")
                              $("#cambio_contrasenia").hide();
                          }
                      });
                  }else{
                      $.notify("Correo invalido o inexistente, por favor introduzca su correo para que su notificación sea enviada","warning")
                  }
              }
          });
      })
    $(".btn_register").on("click",function() {
      var li= "";


      if( $("#user_name").val() == "" )
        li += "<li>Debe ingresar su nombre</li>";

      if( $("#user_lastname").val() == "" )
        li += "<li>Debe ingresar su apellido</li>";

      if( $("#user_email").val() == "" )
        li += "<li>Debe ingresar su correo electronico</li>";

      if ( $("#user_password").val() == "")
        li += "<li>Debe ingresar su contraseña</li>";

      if ( !$( "[type='checkbox']" ).is(":checked") )
        li += "<li>Debe aceptar los terminos y condiciones</li>";

      $("#targetDiv").height("451.6800003051758");
      $("#errorRegister").empty();
      if( li != ""){
        li = "<ul>" + li + "</ul>";
        $("#errorRegister").append(li);
        $("#errorRegister").show();
        $("#targetDiv").height("560")
        return false;
      }else{
        $("#errorRegister").hide();
      }

      $.ajax({
        type: 'GET',
        url: '/administration/checkIfEmailExist?email=' + $("#user_email").val(),
        dataType: 'json',
        success: function(data){
          if (data.result == 0){
            $.ajax({
              type: 'GET',
              url: '/profile/registerUser?email=' + $("#user_email").val() + '&password=' + $("#user_password").val() + '&name=' + $("#user_name").val() + '&lastname=' + $("#user_lastname").val() + '&phone=' + $("#user_phone").val()  ,
              dataType: 'json',
              success: function(done){
                  $("#publishspace").removeClass("login").attr("href","/administration/new");
                  $("#myspaces").removeClass("login").attr("href","/administration/spaces");

                  $("#principal").text("Cerrar Sesión");
                  $("#principal").removeClass("houseDetail");
                  $("#targetDiv").dialog("close");
                  $(".bold.knowmore").removeClass("login").addClass("displayAdvert");
                  $("a.login.asClient").removeClass("login").removeClass("asClient").addClass("houseDetail");
                  $("#notifyme").removeClass("login")
                  
                  $("#principal").attr("href","/login/logout");
                  $("#principal").removeAttr('class');

                  $.ajax({
                        type: 'GET',
                        url: '/detail/detail/' + tempAdvertHash ,
                        success: function(data){
                          $("#dialog").html(data);
                          $("#dialog").dialog("open");
                          $(".ui-dialog-titlebar").hide();
                      }
                    });

                  $(document).on("click", '.displayAdvert',function(e){
                    e.preventDefault();
                    var id = $(this).attr("id").split("-")[1];
                    $.ajax({
                        type: 'GET',
                        url: '/detail/detail/' + id ,
                        success: function(data){
                          $("#dialog").html(data);
                          $("#dialog").dialog("open");
                          $(".ui-dialog-titlebar").hide();
                      }
                    });
                  });

                  $(document).on("click", '.houseDetail',function(e){
                    e.preventDefault();
                    var id = $(this).attr("id").split("-")[1];
                    $.ajax({
                        type: 'GET',
                        url: '/detail/detail/' + id ,
                        success: function(data){
                          $("#dialog").html(data);
                          $("#dialog").dialog("open");
                          $(".ui-dialog-titlebar").hide();
                      }
                    });
                  });

              }
          });

          } else {
              alert("El correo ingresado ya se encuentra registrado");
              return false; 
          }
        }
      });

    });

    $(".btn_save").on("click",function() {
      
      var f = document.getElementById("loginform");
      if(f.checkValidity()) {
        $.ajax({
          type: 'GET',
          url: '/administration/login?email=' + $("#loginform #user_email").val() + '&password=' + $("#loginform #user_password").val()  ,
          dataType: 'json',
          success: function(data){
            
            if (data.result == 0){
              alert("Contraseña inválida");
            } else {


              $.ajax({
                type: 'GET',
                url: '/login/startlogin?email=' + $("#loginform #user_email").val() + '&password=' + $("#loginform #user_password").val()  ,
                dataType: 'json',
                success: function(data){
                  $("#principal").text("Cerrar Sesión")
                  $("#targetDiv").dialog("close");
                  $(".bold.knowmore").removeClass("login").addClass("displayAdvert");
                  $("a.login.asClient").removeClass("login").removeClass("asClient").addClass("houseDetail");
                  $("#publishspace").removeClass("login").attr("href","/administration/new");
                  $("#myspaces").removeClass("login").attr("href","/administration/spaces");
                    $("#notifyme").removeClass("login");
                  $("#principal").removeClass("houseDetail");
                  $("#principal").attr("href","/login/logout");
                  $("#principal").removeAttr('class');

                  $.ajax({
                        type: 'GET',
                        url: '/detail/detail/' + tempAdvertHash ,
                        success: function(data){
                          $("#dialog").html(data);
                          $("#dialog").dialog("open");
                          $(".ui-dialog-titlebar").hide();
                      }
                    });

                   $(document).on("click", '.displayAdvert',function(e){
                      e.preventDefault();
                    var id = $(this).attr("id").split("-")[1];
                    $.ajax({
                        type: 'GET',
                        url: '/detail/detail/' + id ,
                        success: function(data){
                          $("#dialog").html(data);
                          $("#dialog").dialog("open");
                          $(".ui-dialog-titlebar").hide();
                      }
                    });
                  });

                  $(document).on("click", '.houseDetail',function(e){
                    e.preventDefault();
                    //console.log("display was clicked!");
                    var id = $(this).attr("id").split("-")[1];
                    $.ajax({
                        type: 'GET',
                        url: '/detail/detail/' + id ,
                        success: function(data){
                          $("#dialog").html(data);
                          $("#dialog").dialog("open");
                          $(".ui-dialog-titlebar").hide();
                      }
                    });
                  });

                }
              });

            }
          }
        });
      }
    });

    $(".registersesion").on("click", function(){
      $("#tabs").tabs("option", "active", 0);
    });

    $(".startmysesion").on("click", function(){
      $("#tabs").tabs("option", "active", 1);
    });

  });

</script>

<div class="loginwindow">

  <div class="bgray center mbotton10">
    <span class="bold" style="font-size: 14px;">Reg&iacute;strate o entra con tu cuenta para poder subir un espacio</span>
  </div>
  <div class=" blue registerArea" >
    <div class="fb-icon"></div>
    <span>Reg&iacute;strate con facebook</span>
  </div>
  <!--<fb:login-button scope="public_profile,email" size="large" onlogin="checkLoginState();">
  <span style="margin-left:30px!important"> Reg&iacute;strate con Facebook</span>
  </fb:login-button>-->


  <div class="center">
    <span class="registerMessage">O reg&iacute;strate con tu email</span>
  </div>

  <div id="tabs">
    <ul class="tabs">
      <li><a href="#tabs-1">Registrate</a></li>
      <li><a href="#tabs-2">Iniciar sesion</a></li>
    </ul>

    <div class="register" id="tabs-1">
      <%= form_for :user, :url => {:controller => 'profile', :action => 'register'}, :html => {:multipart => true, :id => "registerform"}  do |f| %>
      <p>
        <%= f.text_field :name, :required => true, :placeholder =>"Nombres", :required => true %>
      </p>
      <p>
        <%= f.text_field :lastname, :required => true, :placeholder =>"Apellidos", :required => true %>
      </p>

      <p>
        <%= f.text_field :phone, :placeholder =>"Teléfono" %>
      </p>
      <p>
        <%= f.email_field :email, :required => true, :placeholder =>"Correo electrónico", :required => true %>
      </p>
      <p>
        <%= f.password_field :password, :required => true, :placeholder => "Contraseña", :required => true %>
      </p>
      <p style="width:260px;text-align: left;">
        <input type="checkbox" required="required" /><span class="terms">Para registrarte tienes que aceptar los <a href="#">T&eacute;rminos y condiciones</a> y <a href="#">Pol&iacute;tica de privacidad</a> </span>
      </p>
      <p >
        <!--<%= f.submit "Regístrate Gratis", :class => 'btn_register' %>-->
        <input type="button" value="Regístrate Gratis" style="text-transform: uppercase" class="btn_register uppercase" />
      </p>
      <% end %>

      <div id="errorRegister" style="color: red">

      </div>

      <br />
      <!--<p style="width:270px;" class="termsaacount">¿Ya posees una cuenta? <a class="bluelink startmysesion" href="#tabs-2">Iniciar sesión</a></p>-->
    </div>


    <div class="startSession" id="tabs-2">
      <%= form_for :user, :url => {:action => 'login'}, :html => {:multipart => true, :id => "loginform"}  do |f| %>
      <p>
        <%= f.email_field :email, :required => true, :placeholder =>"Correo electrónico", :required => true, :class => 'login_email'%>
      </p>
      <p>
        <%= f.password_field :password, :required => true, :placeholder => "Contraseña", :required => true %>
      </p>
      <p>
        <!--<%= f.button "Accesar", :class => 'btn_save' %>-->
        <input type="button" style="text-transform: uppercase" value="Accesar" class="btn_save" />
      </p>
      <br />
      <!--<p style="width:270px;" class="termsaacount ">No posees una cuenta? <a class="bluelink registersesion" href="#tabs-1">Reg&iacute;strate</a></p>-->
      <% end %>
      <a href="#" class="orange fsize11" id="cambio_contrasenia" >¿Olvidaste tu contraseña?</a>
    </div>

  </div>

</div>
