<!DOCTYPE html>
<html>
<%= render "shared/header" %>

<body>
<%= render "shared/menu" %>

<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 content">



</div>
<div style="margin-top:100px;padding-bottom: 60px">
<%if @success %>
    <h5>Contraseña cambiada con exito!</h5>
<%else%>
    <h5>Hubo un problema cambiando la contraseña</h5>
<%end%>
<script>
  setTimeout(function(){
      window.location = "/"
  },5000)
</script>
</div>
<%= render "shared/footer" %>
</body>

</html>